<div style="display: flex; flex-wrap: wrap; align-content: flex-start; max-width: 1000px;">
  <app-data-card #titleCard
                 title="Allgemein"
                 style="min-width: 400px;"
                 [editTemplate]="titleEdit">
    <table>
      <tr>
        <td i18n>Name der Seite</td>
        <td>{{settings?.title}}</td>
      </tr>
      <tr>
        <td style="max-width: 150px;" i18n>Kontakt E-Mail für Accounterstellung</td>
        <td>{{settings?.contactMail}}</td>
      </tr>
    </table>
  </app-data-card>
  <app-data-card #appearanceCard
                 dialogWidth="800px"
                 title="Darstellung"
                 style="min-width: 400px;"
                 [editTemplate]="appearanceEdit">
    <table>
      <tr>
        <td i18n>Logo</td>
        <td><img [src]="settings?.logo" alt="Logo" width="50"></td>
      </tr>
      <tr>
        <td i18n>Primärfarbe</td>
        <td>{{settings?.primaryColor}}</td>
      </tr>
      <tr>
        <td i18n>Sekundärfarbe</td>
        <td>{{settings?.secondaryColor}}</td>
      </tr>
    </table>
  </app-data-card>
  <app-data-card #welcomeTextCard
                 dialogWidth="800px"
                 title="Willkommenstext"
                 style="min-width: 800px;"
                 [editTemplate]="welcomeTextEdit">
    <div [innerHTML]="settings?.welcomeText"></div>
  </app-data-card>
</div>

<ng-template #titleEdit>
  <form [formGroup]="titleForm">
    <div *ngIf="titleForm.errors">
      <mat-error *ngFor="let error of Object.values(titleForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <mat-form-field class="full">
      <mat-label i18n>Nutzername</mat-label>
      <input matInput formControlName="title" required/>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label i18n>E-Mail</mat-label>
      <input matInput formControlName="contact" required/>
      <mat-error *ngIf="titleForm.get('contact')?.errors" i18n>Die E-Mail Adresse hat kein gültiges Format.</mat-error>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #welcomeTextEdit>
  <angular-editor [(ngModel)]="welcomeTextInput" [config]="editorConfig"></angular-editor>
</ng-template>

<ng-template #appearanceEdit>
  <div style="min-height: 100px">
    <div *ngIf="appearanceErrors">
      <mat-error *ngFor="let error of Object.values(appearanceErrors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <table>
      <tr>
        <td i18n>Logo</td>
      </tr>
      <tr>
        <td i18n>Primärfarbe</td>
        <td>
          <input class="colorpicker" readonly
                 (colorPickerChange)="onPrimaryChange($event)"
                 [style.background]="primaryColorInput"
                 [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
                 [(colorPicker)]="primaryColorInput"/>
        </td>
      </tr>
      <tr>
        <td i18n>Sekundärfarbe</td>
        <td>
          <input class="colorpicker" readonly
                 (colorPickerChange)="onSecondaryChange($event)"
                 [style.background]="secondaryColorInput"
                 [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
                 [(colorPicker)]="secondaryColorInput"/>
        </td>
      </tr>
    </table>
  </div>
  <mat-card>
    <h2 i18n>Vorschau</h2>
    <mat-card-content>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button color="primary"
                mat-button>Primary
        </button>
        <button color="accent"
                mat-button>Accent
        </button>
        <button color="warn"
                mat-button>Warn
        </button>
        <button disabled
                mat-button>Disabled
        </button>
      </div>

      <!--        <h3>Raised Buttons</h3>-->
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button color="primary"
                mat-raised-button>Primary
        </button>
        <button color="accent"
                mat-raised-button>Accent
        </button>
        <button color="warn"
                mat-raised-button>Warn
        </button>
        <button disabled
                mat-raised-button>Disabled
        </button>
      </div>

      <!--        <h3>Stroked Buttons</h3>-->
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button color="primary"
                mat-stroked-button>Primary
        </button>
        <button color="accent"
                mat-stroked-button>Accent
        </button>
        <button color="warn"
                mat-stroked-button>Warn
        </button>
        <button disabled
                mat-stroked-button>Disabled
        </button>
      </div>

      <!--        <h3>Icon Buttons</h3>-->
      <div class="example-button-row">
        <button aria-label="Example icon-button with a heart icon"
                mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button aria-label="Example icon-button with a heart icon"
                color="primary"
                mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button aria-label="Example icon-button with a heart icon"
                color="accent"
                mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button aria-label="Example icon-button with a heart icon"
                color="warn"
                mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button aria-label="Example icon-button with a heart icon"
                disabled
                mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

      <!--        <h3>Fab Buttons</h3>-->
      <div class="example-button-row">
        <button mat-fab>Basic</button>
        <button color="primary"
                mat-fab>Primary
        </button>
        <button color="accent"
                mat-fab>Accent
        </button>
        <button color="warn"
                mat-fab>Warn
        </button>
        <button disabled
                mat-fab>Disabled
        </button>
        <button aria-label="Example icon-button with a heart icon"
                mat-fab>
          <mat-icon>favorite</mat-icon>
        </button>
        <a mat-fab
           routerLink=".">Link</a>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z3">
    <h2>Palette</h2>
    <mat-card-content>
      <div style="display: flex">
        <div style="min-width: 50%;" class="palette mat-elevation-z5">
          <div class="bg-50">
            <div>50</div>
          </div>
          <div class="bg-100">
            <div>100</div>
          </div>
          <div class="bg-200">
            <div>200</div>
          </div>
          <div class="bg-300">
            <div>300</div>
          </div>
          <div class="bg-400">
            <div>400</div>
          </div>
          <div class="bg-500">
            <div i18n>primär<br>500</div>
          </div>
          <div class="bg-600">
            <div>600</div>
          </div>
          <div class="bg-700">
            <div>700</div>
          </div>
          <div class="bg-800">
            <div>800</div>
          </div>
          <div class="bg-900">
            <div>900</div>
          </div>
        </div>
        <div style="min-width: 50%;" class="palette mat-elevation-z5">
          <div class="bga-50">
            <div>50</div>
          </div>
          <div class="bga-100">
            <div>100</div>
          </div>
          <div class="bga-200">
            <div>200</div>
          </div>
          <div class="bga-300">
            <div>300</div>
          </div>
          <div class="bga-400">
            <div>400</div>
          </div>
          <div class="bga-500">
            <div i18n>primär<br>500</div>
          </div>
          <div class="bga-600">
            <div>600</div>
          </div>
          <div class="bga-700">
            <div>700</div>
          </div>
          <div class="bga-800">
            <div>800</div>
          </div>
          <div class="bga-900">
            <div>900</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
