<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-dash-card [title]="'Name der Seite'"
                   subtitle="Name ändern">
      <div class="input-row" style="width: 90%">
        <label>{{settings?.title}}</label>
        <div class="fill-space"></div>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </app-dash-card>
  </div>
  <div fxLayout="column" fxFlex="400px">
    <app-dash-card [title]="'Kontakt E-Mail für Accounterstellung'"
                   subtitle="E-Mail ändern"
                   infoText="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                   invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.">
      <div class="input-row" style="width: 90%">
        <label>{{settings?.contactMail || '-'}}</label>
        <div class="fill-space"></div>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </app-dash-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-dash-card [title]="'Logo für die Startseite des Accounts'"
                   subtitle="Logo ändern">
      <div style="width: 100%" class="img-bg">
        <button mat-icon-button color="primary"
                style="position: absolute; left: 45%; top: 50%; pointer-events: none; z-index: 1;">
          <mat-icon>edit</mat-icon>
        </button>
        <img [src]="settings?.logo" style="width: 100%;">
      </div>
    </app-dash-card>
  </div>
  <div fxLayout="column" fxFlex="400px">
    <app-dash-card [title]="'Willkommenstext für die Startseite'"
                   subtitle="Willkommenstext ändern">
      <div style="width: 100%">
        <button mat-icon-button color="primary"
                style="position: absolute; left: 40%; top: 50%; pointer-events: none;">
          <mat-icon>edit</mat-icon>
        </button>
        <textarea disabled [value]="settings?.welcomeText" style="width: 100%; height: 250px; resize: none;">
        </textarea>
      </div>
    </app-dash-card>
  </div>
</div>

<!--
<div style="display: flex; flex-wrap: wrap; align-content: flex-start; max-width: 1000px;">
  <app-data-card #titleCard
                 title="Allgemein"
                 style="min-width: 400px;"
                 [editTemplate]="titleEdit">
    <table>
      <tr>
        <td i18n>Name der Seite</td>
        <td>{{settings?.title}}</td>
      </tr>
      <tr>
        <td style="max-width: 150px;" i18n>Kontakt E-Mail für Accounterstellung</td>
        <td>{{settings?.contactMail}}</td>
      </tr>
    </table>
  </app-data-card>
  <app-data-card #welcomeTextCard
                 dialogWidth="800px"
                 title="Willkommenstext"
                 style="min-width: 800px;"
                 [editTemplate]="welcomeTextEdit">
    <div [innerHTML]="settings?.welcomeText"></div>
  </app-data-card>
</div>

<ng-template #titleEdit>
  <form [formGroup]="titleForm">
    <div *ngIf="titleForm.errors">
      <mat-error *ngFor="let error of Object.values(titleForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <mat-form-field class="full">
      <mat-label i18n>Nutzername</mat-label>
      <input matInput formControlName="title" required/>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label i18n>E-Mail</mat-label>
      <input matInput formControlName="contact"/>
      <mat-error *ngIf="titleForm.get('contact')?.errors" i18n>Die E-Mail Adresse hat kein gültiges Format.</mat-error>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #welcomeTextEdit>
  <angular-editor [(ngModel)]="welcomeTextInput" [config]="editorConfig"></angular-editor>
</ng-template>
-->
