<div style="display: flex; flex-wrap: wrap; align-content: flex-start; max-width: 1000px;">
  <app-data-card #titleCard
                 title="Allgemein"
                 style="min-width: 400px;"
                 [editTemplate]="titleEdit">
    <table>
      <tr>
        <td i18n>Name der Seite</td>
        <td>{{settings?.title}}</td>
      </tr>
      <tr>
        <td style="max-width: 150px;" i18n>Kontakt E-Mail für Accounterstellung</td>
        <td>{{settings?.contactMail}}</td>
      </tr>
    </table>
  </app-data-card>
  <app-data-card #welcomeTextCard
                 dialogWidth="800px"
                 title="Willkommenstext"
                 style="min-width: 800px;"
                 [editTemplate]="welcomeTextEdit">
    <div [innerHTML]="settings?.welcomeText"></div>
  </app-data-card>
</div>

<ng-template #titleEdit>
  <form [formGroup]="titleForm">
    <div *ngIf="titleForm.errors">
      <mat-error *ngFor="let error of Object.values(titleForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <mat-form-field class="full">
      <mat-label i18n>Nutzername</mat-label>
      <input matInput formControlName="title" required/>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label i18n>E-Mail</mat-label>
      <input matInput formControlName="contact"/>
      <mat-error *ngIf="titleForm.get('contact')?.errors" i18n>Die E-Mail Adresse hat kein gültiges Format.</mat-error>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #welcomeTextEdit>
  <angular-editor [(ngModel)]="welcomeTextInput" [config]="editorConfig"></angular-editor>
</ng-template>
