:host ::ng-deep figure.horizontal-chart {
  width: 100%;
  height: 100%;
  margin: 0;

  .x.axis path.domain, .y.axis path.domain  {
    display: none;
    visibility: hidden;
  }

  .x.axis line {
    stroke: #777;
    stroke-dasharray: 2,2;
  }

  text.label {
    text-shadow: -1px -1px white, -1px 1px white, 1px 1px white, 1px -1px white, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}
