<div class="context-bar">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="mini-fab-icon">
          <mat-icon class="material-icons-outlined">sick</mat-icon>
        </div>
        Gebietseinheit
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline" class="small">
      <mat-label>Gebietseinheit</mat-label>
      <mat-select disableOptionCentering value="Gemeinden">
        <mat-option value="Bundesländer">
          Bundesländer
        </mat-option>
        <mat-option value="Kreise">
          Kreise
        </mat-option>
        <mat-option value="Verwaltungsgemeinschaften">
          Verwaltungsgemeinschaften
        </mat-option>
        <mat-option value="Gemeinden">
          Gemeinden
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="small">
      <mat-label>Gebiet</mat-label>
      <mat-select disableOptionCentering>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="mini-fab-icon">
          <mat-icon class="material-icons-outlined">sick</mat-icon>
        </div>
        Prognoseszenario
      </mat-panel-title>
    </mat-expansion-panel-header>
    ToDo
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="mini-fab-icon">
          <mat-icon class="material-icons-outlined">sick</mat-icon>
        </div>
        Geschlecht
      </mat-panel-title>
    </mat-expansion-panel-header>
    ToDo
  </mat-expansion-panel>
</div>

<div fxFlex fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="center baseline">
  <div id="map-wrapper">
    <div id="pop-dev-map" class="map-container"></div>
    <app-map-controls style="position: absolute; right: 90px; top: 30px;"></app-map-controls>
  </div>
  <div id="diagram-bar">
    <div class="diagram-wrapper">
      <div>
        <app-stacked-barchart [data]="data"
                              [labels]="labels"
                              xLabel="Jahre"
                              yLabel="Einwohner"
                              [title]="'Bevölkerungsentwicklung'"
                              [xSeparator]="xSeparator"
                              [animate]="true"
                              subtitle="irgendwo">
        </app-stacked-barchart>
      </div>
    </div><br>
    <div class="diagram-wrapper">
      <div>
        <app-multiline-chart #lineChart
                             [labels]="labels"
                             xLabel="Jahre"
                             yLabel="Einwohner relativ"
                             [title]="'relative Altersgruppenentwicklung'"
                             [xSeparator]="xSeparator"
                             [animate]="true"
                             unit="%"
                             subtitle="irgendwo">
        </app-multiline-chart>
      </div>
    </div>
  </div>
</div>

