@import "~src/constants";

#control {
  width: 300px;
  float: left;
}

.grid-container {
  width: calc(100% - 350px);
  float: right;
}

#control mat-card{
  position: relative;
}

.context-bar {
  z-index: 2;
}

app-side-toggle {
  position: absolute;
  left: $context-bar-width;
  top: 120px;
  z-index: 1;
}

