<mat-expansion-panel cookieExpansion="exp-rating-indicators">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">lightbulb</mat-icon>
      </div>
      Indikator
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering panelClass="indicator-panel" value="2">
      <mat-optgroup label="Meine Indikatoren">
        <mat-option value="0"
                    class="own-option"
                    tooltip="Mein Testindikator"
                    theme="light"
                    placement="right"
                    maxWidth="400px"
                    [hideDelay]="0">
          <div>
            Test + langer Text der die maximale Größe des Containers überschreiten sollte
          </div>
          <button mat-icon-button color="primary"
                  title="Indikator editieren">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary"
                  title="Indikator löschen">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-option>
        <mat-option tooltip="Indikator hinzufügen"
                    theme="light"
                    [hideDelay]="0"
                    placement="right">
          <button mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Vorgegebene Indikatoren">
        <mat-option *ngFor="let indicator of indicators"
                    value="{{indicator.id}}"
                    tooltip="{{indicator.description}}"
                    theme="light"
                    placement="right"
                    maxWidth="400px"
                    [hideDelay]="0">
          {{indicator.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-rating-areas">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">flip_to_front</mat-icon>
      </div>
      Gebietseinheit
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering [value]="areaLevels[0]">
      <mat-option [value]="areaLevel" *ngFor="let areaLevel of areaLevels">
        {{areaLevel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-rating-compare">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-4-Vergleichsdarstellung"></div>
      </div>
      Vergleichsdarstellung
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-checkbox style="padding-left: 12px;" color="primary" [(ngModel)]="compareSupply" i18n> <!--style="margin-left: -12px"-->
    Nachfrage vergleichen
  </mat-checkbox>
  <div class="sub-select-wrapper compare-radio-list">
    <mat-radio-group [(ngModel)]="compareStatus">
      <mat-radio-button value="option 1" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Szenario im Jahr
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering [value]="years[0]" [disabled]="!compareSupply || compareStatus != 'option 1'">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-button value="option 2" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Jahr im Szenario
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering value="1" [disabled]="!compareSupply || compareStatus != 'option 2'">
          <mat-option value="1">
            Szenario 1
          </mat-option>
          <mat-option value="2">
            Szenario 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-group>
  </div>
</mat-expansion-panel>
