<app-scenario-menu domain="rating"></app-scenario-menu>
<mat-expansion-panel cookieExpansion="exp-rating-indicators">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">lightbulb</mat-icon>
      </div>
      Indikator
      <app-help-button title="Indikator" position="right">
        <p>Wählen Sie hier aus den definierten Indikatoren für die Darstellung aus. Sie können hier zudem eigene Indikatoren hinzufügen oder löschen.</p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-service-select></app-service-select>
  <mat-form-field appearance="outline" class="small" style="margin-top: 12px;">
    <mat-label>Indikator</mat-label>
    <mat-select disableOptionCentering panelClass="custom-option-panel"
                disableRipple
                [(value)]="selectedIndicator"
                (selectionChange)="onIndicatorChange()"
                [ngbPopover]="selectedIndicator?.description"
                placement="right"
                container="body"
                triggers="mouseenter:mouseleave">
      <mat-option *ngFor="let indicator of indicators"
                  [value]="indicator"
                  [ngbPopover]="indicator.description"
                  placement="right"
                  container="body"
                  triggers="mouseenter:mouseleave">
        {{indicator.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="selectedIndicator?.additionalParameters">
    <ng-container *ngFor="let parameter of selectedIndicator?.additionalParameters">
      <app-mode-select *ngIf="parameter.name === 'mode'"
                       [mode]="selectedMode"
                       (modeChanged)="changeMode($event)">
      </app-mode-select>
    </ng-container>
  </ng-container>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="selectedIndicator?.resultType === 'area'"
                     cookieExpansion="exp-rating-areas">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">flip_to_front</mat-icon>
      </div>
      Gebietseinheit
      <app-help-button title="Gebietseinheit" position="right">
        <p>Wählen Sie hier im Dropdown-Menü die jeweilige Gebietseinheit für die Darstellung aus.</p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering disableRipple
                [(value)]="selectedAreaLevel"
                (selectionChange)="onAreaLevelChange()">
      <mat-option [value]="areaLevel" *ngFor="let areaLevel of areaLevels">
        {{areaLevel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<!--<mat-expansion-panel cookieExpansion="exp-rating-compare" class="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-4-Vergleichsdarstellung"></div>
      </div>
      Vergleichsdarstellung
      <app-help-button title="Gebietseinheit" position="right">
        <p></p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-checkbox style="padding-left: 12px;" color="primary" [(ngModel)]="compareSupply" i18n> &lt;!&ndash;style="margin-left: -12px"&ndash;&gt;
    Nachfrage vergleichen
  </mat-checkbox>
  <div class="sub-select-wrapper compare-radio-list">
    <mat-radio-group [(ngModel)]="compareStatus">
      <mat-radio-button value="option 1" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Szenario im Jahr
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering disableRipple [value]="years[0]" [disabled]="!compareSupply || compareStatus != 'option 1'">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-button value="option 2" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Jahr im Szenario
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering disableRipple value="1" [disabled]="!compareSupply || compareStatus != 'option 2'">
          <mat-option value="1">
            Szenario 1
          </mat-option>
          <mat-option value="2">
            Szenario 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-group>
  </div>
</mat-expansion-panel>-->
<!--this div is only there to cover glitched shadow of chart toggle-->
<div style="width: 100%; height: 200px; background-color: white;"></div>
<app-side-toggle id="chart-toggle" icon="bar_chart" name="Diagramm"
                 cookieExpansion="exp-rating-diagram">
  <div class="diagram-wrapper">
    <img src="{{backend}}/static/img/Indikator U3 Screenshot.png" width="500px">
    <div class="diagram-controls">
      <button mat-mini-fab
              class="small"
              color="primary"
              title="Diagramm vergrößert darstellen"
              (click)="onFullscreenDialog()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <br>
      <button mat-mini-fab
              class="small"
              style="margin: 5px 0;"
              color="primary"
              title="Diagramm als Bilddatei herunterladen">
        <mat-icon style="font-size: 20px; margin-top: 0;">download</mat-icon>
      </button>
      <br>
      <app-help-button title="Diagrammdarstellung" position="right">
        <p>Das Diagramm zeigt die Kennwerte des ausgewählten Indikators für alle Gebiete der ausgewählten Gebietseinheit.</p>
        <p>Mit einem Klick auf den Vollbild-Button rechts oben können Sie sich das Diagramm vergrößert in einem Dialog anzeigen lassen.</p>
        <p>Über den Herunterladen-Button darunter können Sie sich das Diagramm als Bild (PNG) herunterladen.</p>
      </app-help-button>
    </div>
  </div>
</app-side-toggle>

<ng-template #diagramDialog>
  <div style="overflow-y: auto; max-height: 80vh;">
    <img src="{{backend}}/static/img/Indikator U3 Screenshot.png" width="100%">
  </div>
  <div style="width: 100%; display: flex; justify-content: center;">
    <app-time-slider id="time-slider" [prognosisStart]="2013" [years]="[2009, 2010, 2012, 2013, 2015, 2017, 2020, 2025]"></app-time-slider>
  </div>
</ng-template>
