<app-scenario-menu domain="rating" [ngClass]="{'expanded': showScenarioMenu}"></app-scenario-menu>
<mat-expansion-panel class="side-toggle" id="scenario-toggle" cookieExpansion="exp-planning-scenario">
  <mat-expansion-panel-header (click)="showScenarioMenu=!showScenarioMenu;">
    <mat-panel-title>
      <div class="mini-fab-icon" [ngClass]="{'primary': showScenarioMenu}">
        <div class="davicon icon-GGR-davicons-Font-Simple-2-Szenario"></div>
      </div>
      Szenario
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-rating-indicators">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">lightbulb</mat-icon>
      </div>
      Indikator
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering panelClass="custom-option-panel"
                disableRipple
                (selectionChange)="onIndicatorChange($event.value)"
                [value]="activeIndicator.id"
                [ngbPopover]="activeIndicator?.description"
                placement="right"
                container="body"
                triggers="mouseenter:mouseleave">
      <mat-select-trigger>
        <span *ngIf="activeIndicator">
          {{ activeIndicator.name }}
        </span>
      </mat-select-trigger>
      <mat-optgroup label="Meine Indikatoren">
        <button mat-icon-button color="primary"
                title="Indikator hinzufügen"
                style="position: absolute; right: 7px; top: 5px;">
          <mat-icon>add</mat-icon>
        </button>
        <mat-option *ngFor="let indicator of customIndicators"
                    [value]="indicator.id"
                    class="custom-option"
                    [ngbPopover]="indicator.description"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
          <div class="option-title">
            {{indicator.name}}
          </div>
          <div class="option-controls">
            <button mat-icon-button color="primary"
                    (click)="$event.stopPropagation()"
                    title="Indikator editieren">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary"
                    (click)="$event.stopPropagation()"
                    title="Indikator löschen">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Vorgegebene Indikatoren">
        <mat-option *ngFor="let indicator of indicators"
                    [value]="indicator.id"
                    [ngbPopover]="indicator.description"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
          {{indicator.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-expansion-panel class="text-panel">
    <mat-expansion-panel-header>
      <mat-icon color="primary" class="material-icons-outlined"
                style="margin-right: 5px;">help_outline</mat-icon>
      <span class="subtitle1">Hilfe</span>
    </mat-expansion-panel-header>
    <span class="info-text">
      <p>Wählen Sie hier aus den definierten Indikatoren für die Darstellung aus. Sie können hier zudem eigene Indikatoren hinzufügen oder löschen.</p>
    </span>
  </mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-rating-areas">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">flip_to_front</mat-icon>
      </div>
      Gebietseinheit
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering disableRipple [value]="areaLevels[0]">
      <mat-option [value]="areaLevel" *ngFor="let areaLevel of areaLevels">
        {{areaLevel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-expansion-panel class="text-panel">
    <mat-expansion-panel-header>
      <mat-icon color="primary" class="material-icons-outlined"
                style="margin-right: 5px;">help_outline</mat-icon>
      <span class="subtitle1">Hilfe</span>
    </mat-expansion-panel-header>
    <span class="info-text">
      <p>Wählen Sie hier im Dropdown-Menü die jeweilige Gebietseinheit für die Darstellung aus.</p>
    </span>
  </mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-rating-compare">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-4-Vergleichsdarstellung"></div>
      </div>
      Vergleichsdarstellung
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-checkbox style="padding-left: 12px;" color="primary" [(ngModel)]="compareSupply" i18n> <!--style="margin-left: -12px"-->
    Nachfrage vergleichen
  </mat-checkbox>
  <div class="sub-select-wrapper compare-radio-list">
    <mat-radio-group [(ngModel)]="compareStatus">
      <mat-radio-button value="option 1" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Szenario im Jahr
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering disableRipple [value]="years[0]" [disabled]="!compareSupply || compareStatus != 'option 1'">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-button value="option 2" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Bewertung im gleichen Jahr im Szenario
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering disableRipple value="1" [disabled]="!compareSupply || compareStatus != 'option 2'">
          <mat-option value="1">
            Szenario 1
          </mat-option>
          <mat-option value="2">
            Szenario 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-group>
  </div>
</mat-expansion-panel>
