django==3.*
django-cors-headers==3.*
psycopg2==2.*
numpy
django-rest-framework
markdown
django-filter
djangorestframework-simplejwt
djangorestframework-camel-case
Pillow
django-cleanup
factory_boy
django-bulkmodel
coverage
django-test-plus
djangorestframework-gis
pandas
xlsxwriter
sqlalchemy
django-vectortiles
djangorestframework-mvt
