django==3.*
django-cors-headers==3.*
psycopg2==2.*
numpy
django-rest-framework
markdown
django-filter
djangorestframework-simplejwt
djangorestframework-camel-case
Pillow
django-cleanup
factory_boy
coverage
django-test-plus
djangorestframework-gis
pandas>=1.4
xlsxwriter
sqlalchemy
django-vectortiles
django-url-filter
owslib
django-sql-utils
mapbox_vector_tile
xarray
drf-spectacular
django-postgres-copy
openpyxl
matrixconverters
packaging
cryptography