<app-header-card [title]="'Indikatoren'"
                 cookieId="exp-indicators-header"
                 width="1430px">
  <p>Die Nutzer*innen von daviplan stellen im Hauptmenüabschnitt „Infrastrukturplanung“ für die einzelnen Infrastrukturbereiche und Leistungen Daten zur Nachfrageentwicklung, dem aktuellen und zukünftigen Angebot sowie der Nachfrage gegenüber, um die Versorgungssituation zu bewerten und darauf aufbauend zu optimieren.</p>
  <p>Dafür sollen Sie auf möglichst gute Indikatoren zurückgreifen können. Diese Indikatoren können hier definiert werden. Zwar können Nutzer*innen mit dem Recht zum Anlegen von Planungsprozessen auch im Hauptmenübereich „Infrastrukturplanung“ noch weitere Indikatoren definieren, diese stehen aber ggf. nicht allen Nutzer*innen zur Verfügung. Zudem ist es hilfreich, wenn die Teilnehmer*innen der Planungsprozesse im Hauptmenübereich „Infrastrukturplanung“ bereits auf ein gut durchdachtes Set an Indikatoren zurückgreifen können, die auf dieser Seite für alle Nutzer*innen definiert wurden.</p>
  Beispiele für Indikatoren sind:
  <ul>
    <li>Kinder unter 3 Jahre mit Betreuungswunsch pro Krippenplatz in Einrichtungen</li>
    <li>Wegezeit mit dem ÖPNV zur nächstgelegenen Schule mit gymnasialer Oberstufe</li>
    <li>Anteil der Bevölkerung, die einen Hausarzt in 30 min zu Fuß erreichen kann</li>
  </ul>
  <p>Jeder Indikator bezieht sich auf genau eine Leistung.</p>
  <p>Um einen Indikator zu definieren, wählen Sie daher als erstes in der Box „Leistungen“ die Leistung aus, für die Sie einen Indikator definieren (oder eine bereits definierten betrachten und ggf. verändern) möchten.</p>
  <p>Anschließend fügen Sie in der Box „Indikatoren für die ausgewählte Leistung“ einen Indikator hinzu (und wählen einen bereits definierten aus der Liste aus).</p>
  <p>Die Definition des Indikators wird Ihnen daraufhin in der Box „Definition des ausgewählten Indikators“ angezeigt. Wenn Sie den Indikator eben erst hinzugefügt haben, ist diese größtenteils noch leer. Klicken Sie auf „Editieren“, um die Definition vorzunehmen oder zu verändern. Wie dies im Detail funktioniert, wird Ihnen in den entsprechenden Dialogen erläutert.</p>
  <p>Ist die Definition eines Indikators vollständig, werden Ihnen dessen Werte beispielhaft in der Karte dargestellt. Dies ist jedoch nur möglich, wenn die für den Indikator benötigten Grundlagendaten (Einwohnerdaten, Nachfragequoten, Erreichbarkeiten, Standorte, …) bereits in das System eingepflegt wurden.</p>

</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Leistung'"
                    [subtitle]="'Leistung auswählen, um Indikatoren anzuzeigen oder zu definieren'"
                    infoText="<p>Wählen aus der Liste die Leistung aus, für die Sie einen Indikator definieren, betrachten oder verändern möchten.</p>
                    <p>In der Box „Indikatoren für die ausgewählte Leistung“ können Sie dann einen neuen Indikator für diese Leistung hinzufügen oder einen bereits definierten Indikator auswählen.</p>">
      <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="service-select">
        <ng-container *ngFor="let infrastructure of infrastructures">
          <div mat-subheader>{{infrastructure.name}}</div>
          <mat-list-option *ngFor="let service of infrastructure.services"
                           (click)="selectedService = service"
                           [selected]="(service.id === selectedService.id)">
            <div class="option-text">{{service.name}}</div>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
      <div after>
        <mat-divider style="margin: 10px 0 15px 0;"></mat-divider>
        <app-input-card [title]="'Indikatoren für die ausgewählte Leistung '"
                        [subtitle]="'Leistung: ' + selectedService.name"
                        [borderless]="true"
                        infoText="<p>Klicken Sie auf „Hinzufügen“, um einen neuen Indikator für die ausgewählte Leistung zu definieren. Nach dem Hinzufügen setzen Sie die Definition in der Box „Definition des ausgewählten Indikators“ fort.</p>
                        <p>Um einen bestehenden Indikator zu betrachten oder zu verändern, wählen Sie diesen in der Liste aus. Seine Eigenschaften werden in der Box „Definition des ausgewählten Indikators“ angezeigt und können dort bei Bedarf verändert werden.</p>">
          <mat-selection-list [multiple]="false"
                              class="categorized"
                              id="indicator-select">
            <ng-container *ngFor="let indicator of indicators">
              <mat-list-option *ngIf="indicator.service === selectedService.id"
                               (click)="selectedIndicator = indicator"
                               [selected]="(indicator === selectedIndicator)"
                               [title]="indicator.name">
                <div class="option-text">{{indicator.name}}</div>
              </mat-list-option>
            </ng-container>
          </mat-selection-list>
          <div>
            <button mat-button color="primary"
                    class="mat-button-dv">
              <mat-icon>add</mat-icon>hinzufügen
            </button>
            <button mat-button color="primary"
                    style="float: right;"
                    class="mat-button-dv">
              <!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
              <mat-icon>close</mat-icon>entfernen
            </button>
          </div>
        </app-input-card>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Definition des ausgewählten Indikators'"
                    [editTemplate]="indicatorEdit"
                    infoText="<p>Klicken Sie auf „Editieren“, um die Definition des ausgewählten Indikators vorzunehmen oder zu verändern. Wie dies im Detail funktioniert, wird Ihnen in dem sich öffnenden Dialog erläutert.</p>
                    <p>Ist die Definition des Indikators vollständig, werden Ihnen dessen Werte beispielhaft in der Karte dargestellt. Dies ist jedoch nur möglich, wenn die für den Indikator benötigten Grundlagendaten (Einwohnerdaten, Nachfragequoten, Erreichbarkeiten, Standorte, …) bereits in das System eingepflegt wurden. Andersfalls bleibt die Karte leer, auch wenn die Definition des Indikators fehlerfrei ist.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 40%; padding-right: 15px;">
          <table>
            <tr>
              <td i18n>(Kurz)Name</td>
              <td>{{selectedIndicator.name}}</td>
            </tr>
            <tr>
              <td i18n>Beschreibung</td>
              <td>{{selectedIndicator.description}}</td>
            </tr>
          </table>
        </div>
        <div style="width: 60%;">
          <table>
            <tr>
              <td i18n>Perspektive</td>
              <td>aus Sicht der Einrichtungen</td>
            </tr>
            <tr>
              <td i18n>Gegenstand der Bewertung</td>
              <td>Umfang der Nachfrage</td>
            </tr>
            <tr>
              <td i18n>Struktur der Indikatordefinition</td>
              <td>Nachfragende nach betrachteter Leistung in einer Gebietseinheit pro Einrichtung mit dieser Leistung in der gleichen Gebietseinheit</td>
            </tr>
            <tr>
              <td i18n>Indikator wird ermittelt für</td>
              <td>jede Gebietseinheit</td>
            </tr>
          </table>
        </div>
      </div>
      <div after>
        <div id="base-indicators-map" class="map-container">
          <app-map-controls></app-map-controls>
          <app-side-toggle id="areas-overlay" icon="flip_to_front" [fullHeightIndicator]="true">
            <div style="padding: 10px;">
              <mat-form-field appearance="outline" class="small">
                <mat-label>Gebietseinheit</mat-label>
                <mat-select disableOptionCentering disableRipple [value]="areaLevels[0]">
                  <mat-option [value]="areaLevel" *ngFor="let areaLevel of areaLevels">
                    {{areaLevel.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </app-side-toggle>
          <app-side-toggle id="legend"
                           icon="layers"
                           name="Legenden- und Layersteuerung"
                           direction="left">
            <app-legend target="base-indicators-map"></app-legend>
          </app-side-toggle>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #indicatorEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>
