#indicator-select {
  height: 130px;
}

#service-select {
  height: 180px;
}

#base-indicators-map {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 10px;
  background-color: white;
}

#areas-overlay {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  .row-button {
    min-width: 260px;
    padding-right: 5px;
  }
}
