<div id="background" style="background-image: url('{{backend}}/static/img/GGR-Startbild-Layout-2-01.png');"></div>

<div class="text-panel" style="display: flex;">
  <div id="LegalNotice">
    <h2> Impressum </h2>
    <h3> daviplan <ng-container *ngIf="version">- Version {{version}}</ng-container> </h3>
    <h3> Herausgeber: </h3>
    <p>Bundesinstitut für Bau-, Stadt- und Raumforschung (BBSR) <br>
      im Bundesamt für Bauwesen und Raumordnung (BBR) <br>
      Deichmanns Aue 31-37 <br>
      53179 Bonn<br>
    </p>

    <p>E-Mail: <a href="mailto:zentrale@bbr.bund.de">zentrale@bbr.bund.de</a> <br>
       De-Mail: <a href="mailto:zentrale@bbr.de-mail.de"> zentrale@bbr.de-mail.de</a> <br>
    </p>
    <p>
      Verantwortlicher im Sinne des § 18 Abs. 2 MStV: <br>
      Dr. Markus Eltges (Leiter BBSR)
    </p>
    <p>
      USt-Identifikationsnummer des BBR gemäß § 27a Umsatzsteuergesetz: DE811539529
    </p>
    <br>

    <h3> daviplan wurde entwickelt und realisiert durch das Büro: </h3>
    <p> Gertz Gutsche Rümenapp – Stadtentwicklung und Mobilität GbR (GGR) <br>
      Ruhrstraße 11 <br>
      22761 Hamburg <br>
      <a href="daviplan@ggr-planung.de"> daviplan@ggr-planung.de </a>
    </p>
    <br>
    <h3> Die Entwicklung und Umsetzung von daviplan wurde gefördert im Rahmen des Programms „Region gestalten“ des Bundesministeriums für Wohnen, Stadtentwicklung und Bauwesen (BMWBS) und des Bundesministerium des Innern und für Heimat (BMI) in Zusammenarbeit mit dem Bundesinstitut für Bau-, Stadt- und Raumforschung (BBSR)</h3>
    <a class="logo" href="http://www.regiongestalten.de" target="_blank" title="Region gestalten">
      <img src="{{backend}}/static/img/210208_Region_gestalten_Signet_1c_rgb.png" height="80px" alt="Logo" style="mix-blend-mode: multiply"/>
    </a>
  </div>


  <div>

    <div class="disclaimer">
      <h1></h1>
      <h3> Haftungsausschluss </h3>
      <p>
        Das Angebot von daviplan besteht aus eigenen und fremden Inhalten. Eigene Inhalte sind vor allem Funktionalitäten
        und Rechenregeln, mit denen durch die Nutzenden eingepflegte bzw. durch Schnittstellen abgefragte Daten zu
        Kennwerten und Ergebnissen verrechnet werden. Diese Funktionalitäten und Rechenregeln sind im Rahmen der
        Entwicklung von daviplan mit großer Sorgfalt hergeleitet worden. Eine Gewähr für die Korrektheit der mit daviplan
        berechneten Kenngrößen wird dennoch nicht übernommen.
      </p>
      <p>
        Fremde Inhalte sind solche, die innerhalb von daviplan über Schnittstellen bei Dritten (z.B. Regionalstatistik
        des Bundes und der Länder, Bundesamt für Kartographie und Geodäsie) abgefragt werden. Für Internetseiten und
        Angebote Dritter, auf die durch Hyperlink verwiesen wird oder die durch Schnittstellen angesprochen werden,
        tragen die jeweiligen Anbieter die Verantwortung. Das BBSR hat keinen Einfluss auf Inhalte und Gestaltung der
        verlinkten Seiten und Schnittstellen und übernimmt für diese keine Verantwortung.
      </p>
      <p>
        BBSR und GGR übernehmen keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der über
        daviplan bereitgestellten Informationen. Haftungsansprüche gegen das BBSR oder GGR, welche sich auf Schäden
        materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen
        bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich
        ausgeschlossen, sofern seitens des BBSR kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden
        vorliegt. Alle Angebote sind freibleibend und unverbindlich. Das BBSR behält es sich ausdrücklich vor, Teile der
        Software oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
        Veröffentlichung zeitweise oder endgültig einzustellen.
      </p>
    </div>

    <div class="disclaimer">
      <h3> Verweise und Links </h3>
      <p>
        Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks") oder Internetangebote, die außerhalb
        des Verantwortungsbereiches des BBSR liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft
        treten, in dem das BBSR von den Inhalten Kenntnis haben und es ihnen technisch möglich und zumutbar wäre, die
        Nutzung im Falle rechtswidriger Inhalte zu verhindern. Das BBSR erklärt hiermit ausdrücklich, dass zum Zeitpunkt
        der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und
        zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten bzw. verknüpften Seiten hat das BBSR
        keinerlei Einfluss. Deshalb distanziert es sich hiermit ausdrücklich von allen Inhalten aller verlinkten bzw.
        verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des
        eigenen Angebotes gesetzten Links und Verweise sowie für Fremdeinträge in von den Autoren eingerichteten
        Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken,
        auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und
        insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen,
        haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die
        jeweilige Veröffentlichung lediglich verweist.
      </p>
    </div>
  </div>
</div>
