<div id="background" style="background-image: url('{{backend}}/static/img/GGR-Startbild-Layout-2-01.png');"></div>
<div class="text-panel">
 
  
  
  <div class="impressum">
        <h2> Impressum </h2>   
        <i> Angaben gemäß § 5 TMG: </i>
    
        <div> Gertz Gutsche Rümenapp </div>
        <div>Stadtentwicklung und Mobilität GbR</div>            
        <br> </br>
        <div>Prof. Dr.-Ing. Carsten Gertz </div>
        <div> Dr.-Ing. Jens-Martin Gutsche  </div>     
        <div> Dipl.-Ing. Jens Rümenapp    </div>
        <div>Dipl.-Ing. Max Bohnet </div>
        <div>Dipl.-Ing. Martin Albrecht</div>
        <br> </br>   

        <div> Ruhrstraße 11 </div>
        <div>22761 Hamburg </div>
        <br> </br>
        <div> Telefon: 040 - 853737- 41</div>   
        <div> Telefax: 040 - 853737-42</div>
        <div>Email: info2@ggr-planung.de</div>
        <br> </br>
        
        <div> Steuernr. 41/622/02613 </div>
        <div> Finanzamt Hamburg-Altona </div>
        <div> USt-IdNr: DE232599881 </div> 
    </div>

    
    <div class="Haftungsausschluss">
        <h2> Haftungsausschluss (Disclaimer) </h2>
        <h3> Inhalt des Onlineangebots </h3>
        <div>Die Autoren übernehmen keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität 
            der bereitgestellten Informationen. Haftungsansprüche gegen die Autoren, welche sich auf Schäden materieller 
            oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. 
            durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, 
            sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches 
            oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. 
            Die Autoren behalten es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte 
            Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen. 
        </div>
    </div>
    
            
    </div>
    <div class="Haftungsausschluss">
        <h3> Verweise und Links </h3>
        <div>   
            Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des Verantwortungsbereiches 
            der Autoren liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem die Autoren 
            von den Inhalten Kenntnis haben und es ihnen technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte 
            zu verhindern. Die Autoren erklären hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den 
            zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der 
            verlinkten bzw. verknüpften Seiten haben die Autoren keinerlei Einfluss. Deshalb distanzieren sie sich hiermit ausdrücklich 
            von allen Inhalten aller verlinkten bzw. verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt 
            für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in von den Autoren 
            eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, 
            auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere 
            für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter 
            der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
        </div> 
    </div>

    <div class="Haftungsausschluss">
        <h3> Urheber- und Kennzeichenrecht </h3>
        <div>   
            Die Autoren sind bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, 
            Videosequenzen und Texte zu beachten, von ihnen selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte
            zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
            Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen
            uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen 
            Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter 
            geschützt sind. Das Copyright für veröffentlichte, von den Autoren selbst erstellte Objekte bleibt allein bei den Autoren der 
            Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und 
            Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
        </div>
    </div>
</div>
