<div fxFlex fxLayout="row wrap" fxFlexAlign="center baseline">
  <div fxLayout="column" fxFlex="30" fxFlex.lt-lg="30" fxFlex.lt-md="10" style="background-color: #fafafa;">
    <div style="padding-top: 100px;">
      <img [src]="settings?.logo" style="mix-blend-mode: multiply; max-height: 420px; max-width: 100%; float: right;">
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" fxFlex.lt-lg="50" fxFlex.lt-md="90">
    <div class="welcome">
      <div [innerHTML]="settings?.welcomeText"></div>
    </div>
  </div>
</div>
