<div class="center">
  <div>
    <div class="center" style="padding-top: 50px; width: 100%; background-color: #fafafa;">
      <img [src]="settings?.logo" style="mix-blend-mode: multiply; max-height: 200px; max-width: 100%;">
    </div>
    <br>
    <div class="welcome">
      <div [innerHTML]="settings?.welcomeText"></div>
    </div>
    <br>
    <div class="center" style="width: 100%; padding-top: 20px; background-color: #fafafa;">
      <a class="logo" routerLink="/" title="Startseite" style="margin-right: 100px; padding-top: 20px">
        <img src="{{backend}}/static/img/test-logo.png" height="50px" alt="Logo" style="mix-blend-mode: multiply"/>
        <div i18n> <p>davi</p><p>plan</p> </div>
      </a>
      <div>
        <p>Ein Projekt von</p>
        <a class="logo" href="http://www.regiongestalten.de" title="Region gestalten">
          <img src="{{backend}}/static/img/region-gestalten-logo.jpg" height="50px" alt="Logo" style="mix-blend-mode: multiply"/>
        </a>
      </div>
    </div>
  </div>
</div>
