mat-form-field fa-icon {
  color: grey;
  font-size: 1.5em;
}

mat-form-field {
  width: 100%;
}

.mat-card {
  padding: 30px!important;
}

#banner {
  background-color: white;
  height: 150px;
  width: 100%;
  margin: 7% 0 57px 0;
  padding: 20px;
}

