<div style="display: flex;">
  <mat-slider #timeSlider color="primary"
              thumbLabel [min]="_years[0] || 0" [max]="_years[_years.length-1] || 0" step="1"
              [value]="_years[0]" tickInterval="1"
              (change)="changeYear($event.value)"
              style="width: 420px; margin-top: 15px;"></mat-slider>
  <label style="padding-top: 20px;">{{timeSlider.value}}</label>
</div>
<div style="width: 100%; display: flex; align-items: stretch;">
  <div style="width: 40%; border: 1px solid lightgrey; padding: 8px;">
    <table style="width: 100%; text-align: center;">
      <tr>
        <th style="text-align: left;">{{timeSlider.value}}</th>
        <th colspan="2" style="text-align: center">{{demandTypeLabel}}</th>  <!--{{unit? '(in ' + unit + ')': ''}}-->
      </tr>
      <tr>
        <th style="min-width: 20%;"></th>
        <th *ngFor="let gender of _genders">
          {{gender.name}}
        </th>
      </tr>
      <tr *ngFor="let row of rows" [class.editRow]="edit">
        <td style="text-align: end;">{{row.ageGroup.label}}</td>
        <td *ngFor="let entry of row.entries">
          <ng-container *ngIf="!edit">
            {{(entry.value !== undefined)? entry.value: 'null'}}
          </ng-container>
          <ng-container *ngIf="edit">
            <mat-form-field class="small" appearance="outline" style="width: 80px; margin-right: 3px;">
              <input matInput type="number"
                     min="0" [max]="maxInputValue"
                     value="{{entry.value || 0}}"
                     (change)="changeDemandRate($any($event.target).value, row.ageGroup, entry.gender)">
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="edit || (unit && entry.value !== undefined)"> {{unit}}</ng-container>
        </td>
      </tr>
    </table>
  </div>
  <div style="display: flex; width: 55%; margin-left: 10px; flex-flow: row wrap;">
    <div style="width: 100%; border: 1px solid lightgrey; padding: 5px;">
      <app-multiline-chart #yearChart
                           [title]="'Nachfragequote nach Altersgruppe'"
                           [figureId]="figureId"
                           [height]="chartHeight"
                           [yLegendOffset]="50"
                           [xLegendOffset]="40"
                           [margin]="{top: 50, bottom: 40, left: 40, right: 80}"
                           [min]="0"
                           unit="%">
      </app-multiline-chart>
    </div>
    <span class="subtitle1" style="color: grey;">Nachfragequote der ausgewählten Altersgruppe [xxx] nach Jahr</span>
    <div style="width: 100%;">
      <img src="{{backend}}/static/img/Nachfrage Altersklasse screenshot.png" width="100%">
    </div>
  </div>
</div>
