<div style="display: flex;">
  <mat-slider #timeSlider color="primary"
              thumbLabel [min]="_years[0] || 0" [max]="_years[_years.length-1] || 0" step="1"
              [value]="_years[0]" tickInterval="1"
              (change)="changeYear($event.value)"
              style="width: 420px; margin-top: 15px;"></mat-slider>
  <label style="padding-top: 20px;">{{timeSlider.value}}</label>
</div>
<div style="width: 100%; display: flex; align-items: stretch;">
  <div style="width: 40%; border: solid #0000001F; padding: 8px;">
    <table style="width: 100%; text-align: center;">
      <tr>
        <th style="text-align: left;">{{timeSlider.value}}</th>
        <th colspan="2" style="text-align: center">{{demandTypeLabel}}</th>  <!--{{unit? '(in ' + unit + ')': ''}}-->
      </tr>
      <tr>
        <th style="min-width: 20%;"></th>
        <th *ngFor="let gender of _genders">
          {{gender.name}}
        </th>
      </tr>
      <tr *ngFor="let row of rows">
        <td style="text-align: end;">{{row.ageGroup.label}}</td>
        <ng-container *ngIf="!edit">
          <td *ngFor="let entry of row.entries">
            {{(entry.value !== undefined)? entry.value: 'null'}}
            <ng-container *ngIf="unit && entry.value !== undefined"> {{unit}}</ng-container>
          </td>
        </ng-container>
        <ng-container *ngIf="edit">

        </ng-container>
      </tr>
    </table>
  </div>
  <div style="display: flex; width: 55%; margin-left: 10px; flex-flow: row wrap;">
    <span class="subtitle1" style="color: grey;">Nachfragequote nach Altersgruppe im ausgewählten Jahr {{timeSlider.value}}</span>
    <div class="diagram-wrapper" style="width: 100%;">
      <img src="{{backend}}/static/img/Nachfragequoten alle Altersklassen screenshot.png" width="100%">
    </div>
    <span class="subtitle1" style="color: grey;">Nachfragequote der ausgewählten Altersgruppe [xxx] nach Jahr</span>
    <div class="diagram-wrapper" style="width: 100%;">
      <img src="{{backend}}/static/img/Nachfrage Altersklasse screenshot.png" width="100%">
    </div>
  </div>
</div>
