@import "~src/constants";

.editRow:hover {
  background-color: $primary-light;
}

.diagram-wrapper {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 5px;
  margin-bottom: 15px;
}

.table-wrapper {
  width: 40%;
  border: 1px solid lightgrey;
  padding: 8px;
  max-height: 700px;
  overflow-y: auto;
}
