<div class="side-toggle" [ngClass]="{'expanded': expanded, 'dir-left': direction === 'left'}">
  <div class="side-toggle-content-wrapper">
    <div class="side-toggle-content">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="side-toggle-trigger" (click)="expanded=!expanded">
    <div class="side-toggle-indicator"> <mat-icon>chevron_right</mat-icon> </div>
    <div class="side-toggle-icon">
      <button mat-mini-fab color="primary">
        <mat-icon>{{icon}}</mat-icon>
      </button>
    </div>
  </div>
</div>
