<p class="under-construction">
  <mat-icon class="material-icons-outlined">construction</mat-icon>
  Diese Seite ist noch nicht fertig implementiert. Die gezeigten Daten sind zur Zeit nur Platzhalter. Das Layout wird noch überarbeitet.
</p>
<app-header-card [title]="'Nachfragequoten'"
                 cookieId="exp-quota-header"
                 width="1230px">
  <p>Die zukünftige Nachfrage nach den definierten Leistungen wird geschätzt, in dem die Zahl der Einwohner*innen in diesem Prognosejahr mit einer Nachfragequote multipliziert wird. Sowohl die Einwohnerzahl wie auch die Nachfragequote werden dabei nach Alter differenziert. Optional ist auch eine Differenzierung nach Geschlecht möglich.</p>
  <p>So kann z.B. die Krippennachfrage aus der Zahl der unter 3-Jährigen im Prognosejahr X und einer Nachfragequote von z.B. 45% geschätzt werden. Ähnlich könnte z.B. die Zahl der Patienten pro Jahr, die die Leistung „Facharzt (Fachrichtung Urologie)“ nachfragen, anhand einer Multiplikation der Einwohnerzahl im Prognosejahr und einer mittleren Arztkontakt-Häufigkeit pro Patient*in geschätzt werden. Da ältere Menschen häufiger zum Arzt gehen und die Inanspruchnahme der Fachrichtung Urologie zwischen Männern und Frauen nicht identisch ist, sollte die Nachfragequote (hier: Arztkontakt-Häufigkeit) nach Altersgruppen und Geschlecht differenziert werden.</p>
  <p>Zudem können sich die Nachfragequoten im Zeitverlauf ändern, z.B. welche in Zukunft ein höherer Prozentsatz der Kinder eine Kita- oder schulische Nachmittagsbetreuung nachfragt als dies in den letzten Jahren der Fall war.</p>
  <p>Auf dieser Seite legen Sie daher für jede Leistung ein Nutzungsquoten-Set fest. Ein Set beinhaltet eine Nutzungsquote für jede Kombination aus Altersgruppe, Geschlecht und Prognosejahr. Im einfachsten Fall sind die Nutzungsquoten aller Kombinationen gleich.</p>
  <p>Da häufig Unsicherheiten hinsichtlich der zukünftigen Entwicklung der Nachfragequoten bestehen, können Sie für eine Leistung auch mehrere Nachfragequoten-Sets definieren. Für den Krippenbereich der Kitas könnte diese z.B. „Nutzungsquote bleibt auf aktuellem Niveau“, „Nutzungsquote steigt leicht an“ und „Nutzungsquote steigt stark an“ heißen.</p>
  <p>Um Nutzungsquoten festzulegen, gehen Sie wie folgt vor: Wählen Sie zunächst in der Box „Leistungen“ eine Leistung aus. Für diese Leistung legen Sie anschließend in der Box „Definition der Nachfragequote für ausgewählte Leistung“ fest, wie genau diese Quote definiert und bezeichnet sein soll. Diese Festlegungen gelten für alle Nachfragequoten-Sets der ausgewählten Leistung.</p>
  <p>Um nun ein konkretes Nachfragequoten-Set zu definieren, klicken Sie in der Box „Nachfragequoten-Sets der ausgewählten Leistung“ auf „Hinzufügen“. Anschließend können Sie in der Box „Werte des ausgewählten Nachfragequoten-Sets“ die eigentlichen Nachfragequoten in der zuvor definierten Differenzierung eintragen. Dabei können Sie zusätzlich nach den Prognosejahren differenzieren. Wie Sie die Quoten effizient eingeben können, erläutert Ihnen der dortige Hilfetext.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Leistungen'"
                    [subtitle]="'Leistung auswählen, um Nachfragequoten anzuzeigen oder zu definieren'"
                    infoText="<p>Wählen aus der Liste die Leistung aus, für die Sie die Nachfragequoten definieren möchten.</p>
                    <p>Legen Sie anschließend in der Box „Definition der Nachfragequote für ausgewählte Leistung“ fest, wie genau die Nachfragequote dieser Leistung definiert und bezeichnet sein soll.</p>
                    <p>Anschließend können Sie auf Basis dieser Rahmenfestlegungen in der Box „Nachfragequoten-Sets der ausgewählten Leistung“ ein erstes Nachfragequoten-Set hinzufügen.</p>">
    <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="service-select">
        <ng-container *ngFor="let infrastructure of infrastructures">
          <div mat-subheader>{{infrastructure.name}}</div>
          <mat-list-option *ngFor="let service of infrastructure.services"
                           (click)="activeService = service; onServiceChange();"
                           [selected]="(service.id === activeService?.id)">
            <div class="option-text">{{service.name}}</div>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="400px" [ngClass]="{'hidden': !activeService}">
    <app-input-card #demandTypeCard
                    [title]="'Prinzip der Nachfrageberechnung'"
                    [editTemplate]="demandTypeEdit"
                    [subtitle]="'Leistung ' + activeService?.name"
                    infoText="Platzhalter">
      <li *ngIf="activeService">{{demandTypes[activeService.demandType][0]}}</li>
    </app-input-card>
  </div>
</div>
<div [ngClass]="{'hidden': !activeService || activeService?.demandType === 3}">
  <mat-divider style="margin: 10px 0; max-width: 1250px;"></mat-divider>
  <div fxLayout="row wrap">
    <div fxLayout="column" fxFlex="350px">
      <app-input-card [title]="'Varianten'"
                      [subtitle]="'Leistung ' + activeService?.name"
                      infoText="<p>Klicken Sie auf „Hinzufügen“, um ein Nachfragequoten-Set zu definieren. </p>
                    <p>Ein Nachfragequoten-Set legt die Nachfragequote für jede in der Box „Definition der Nachfragequote für ausgewählte Leistung“ ausgewählte Altersgruppe sowie für jedes Prognosejahr fest. Sofern in der Box „Einwohner-Differenzierung“ für die Leistung eine geschlechterspezifische Differenzierung der Quoten ausgewählt wurde, sind dabei die Nachfragequoten auch nach Geschlecht zu differenzieren.</p>
                    <p>Für jede Leistung muss mindestens ein Nachfragequoten-Set definiert sein. </p>
                    <p>Im Sinne von Szenarien können für eine Leistung auch mehrere Nachfragequoten-Sets definiert werden, auf die die Nutzer*innen im Hauptmenüabschnitt „Infrastrukturplanung“ dann für alternative Planungs- und Auswertungsvarianten zurückgreifen können.</p>
                    <p>Wenn Sie für eine Leistung mehr als ein Nachfragequoten-Set definieren, müssen Sie noch festlegen, welches Set davon für das im Hauptmenüabschnitt „Infrastrukturplanung“ immer automatisch erzeugte Planungsszenario „Trendfortschreibung“ verwendet werden soll. Wählen Sie hierzu das betreffende Set in der Liste aus und klicken Sie auf „Als Annahme für Trendfortschreibung festlegen“</p>">
        {{activeDemandRateSet?.name}}
        <mat-selection-list [multiple]="false" id="quota-select">
          <mat-list-option *ngFor="let set of demandRateSets"
                           (click)="activeDemandRateSet = set; onDemandRateSetChange();"
                           [selected]="(set.id === activeDemandRateSet?.id)"
                           [ngClass]="{'star-option': set.isDefault}"
                           [title]="set.name + (set.isDefault? ' (Annahme für Trendfortschreibung)': '')">
            <div class="option-text">{{set.name}}</div>
            <mat-icon *ngIf="set.isDefault" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
          </mat-list-option>
        </mat-selection-list>
        <button mat-button color="primary"
                class="multiline-button"
                (click)="setDefaultDemandRateSet()">
          <!--        (click)="statusQuoQuota = (statusQuoQuota===selectedQuota)? undefined : selectedQuota"-->
          <mat-icon class="material-icons-outlined">verified</mat-icon>
          Als Annahme für Trendfortschreibung festlegen
        </button>
        <div>
          <button mat-button color="primary"
                  class="mat-button-dv"
                  (click)="createDemandRateSet()">
            <mat-icon>add</mat-icon>hinzufügen
          </button>
          <button mat-button color="primary"
                  style="float: right;"
                  class="mat-button-dv"
                  (click)="removeDemandRateSet()">
            <!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
            <mat-icon>close</mat-icon>entfernen
          </button>
        </div>
      </app-input-card>
      <app-input-card #propertiesCard
                      [ngClass]="{'hidden': !activeDemandRateSet}"
                      [title]="'Bezeichnung der ausgewählten Variante'"
                      [editTemplate]="propertiesEdit"
                      infoText="Platzhalter">
        <table *ngIf="activeDemandRateSet">
          <tr>
            <td>Name</td>
            <td>{{activeDemandRateSet.name}}</td>
          </tr>
          <tr>
            <td>Beschreibung</td>
            <td>
              <div style="overflow: hidden; -webkit-line-clamp: 5; -webkit-box-orient: vertical; display: -webkit-box;">
                {{activeDemandRateSet.description}}
              </div>
            </td>
          </tr>
        </table>
      </app-input-card>
    </div>
    <div fxLayout="column" fxFlex="900px" [ngClass]="{'hidden': !activeDemandRateSet}">
      <app-input-card [title]="'Werte der ausgewählten Variante'"
                      [subtitle]="'Leistung ' + activeService?.name + ' / ' + 'Set „' + activeDemandRateSet?.name + '“'"
                      [editTemplate]="demandRateSetEdit"
                      [topRightHelp]="true"
                      infoText="<p>In dieser Box können Sie die Quoten des ausgewählten Nachfragequoten-Sets eintragen bzw. bereits eingetragene Werte in Tabellen- und Diagrammform betrachten und kontrollieren.</p>
                    <p>Klicken Sie auf „Editieren“, um die Werte der Quoten des ausgewählten Nachfragequoten-Sets erstmalig einzutragen oder zu verändern.</p>
                    <p>Für die Betrachtung und Kontrolle der Nachfragequoten stehen Ihnen zwei Ansichten zur Verfügung.</p>
                    <p>Mit dem Jahres-Schieber können Sie zwischen den Jahren hin- und herspringen. Dabei passen sich die Tabelle und das obere der beiden Diagramme an und zeigen jeweils die Quoten der einzelnen Altersgruppen in dem gerade ausgewählten Jahr.</p>
                    <p>Wenn Sie in der Tabelle eine Altersgruppe anklicken, passt sich zudem das untere Diagramm an und zeigt Ihnen die im ausgewählten Set definierte Veränderung der Nachfragequote dieser Altersgruppe im Laufe der Zeit.</p>">
        <app-demand-quota-view></app-demand-quota-view>
      </app-input-card>
    </div>
  </div>
</div>

<ng-template #demandTypeEdit>
  <form [formGroup]="demandTypeForm" style="padding: 10px 0;">
    <div *ngIf="demandTypeForm.errors">
      <mat-error *ngFor="let error of demandTypeForm.errors | keyvalue" class="alert">
        {{ error.key }} {{ error.value }}
      </mat-error>
    </div>
    <mat-radio-group formControlName="demandType">
      <mat-radio-button *ngFor="let item of demandTypes | keyvalue" [value]="item.key">
        {{item.value[0]}} {{item.value[1]}}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</ng-template>

<ng-template #propertiesEdit>
  <form [formGroup]="propertiesForm" style="padding: 10px 0;">
    <div *ngIf="propertiesForm.errors">
      <mat-error *ngFor="let error of propertiesForm.errors | keyvalue" class="alert">
        {{ error.key }} - {{ error.value }}
      </mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" autocomplete="demand-variant-name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Beschreibung</mat-label>
        <input matInput formControlName="description" autocomplete="demand-variant-desc">
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #demandRateSetEdit>
</ng-template>
