<app-header-card [title]="'Nachfragequoten'"
                 width="1530px">
  Platzhalter: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="300px">
    <app-input-card [title]="'Leistungen'"
                    [subtitle]="'Untertitel??'"
                    infoText="Platzhalter: Leistungen bearbeiten in anderem Bereich">
      <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="service-select">
        <ng-container *ngFor="let infrastructure of infrastructures">
          <div mat-subheader>{{infrastructure.name}}</div>
          <mat-list-option *ngFor="let service of infrastructure.services"
                           (click)="selectedService = service"
                           [selected]="(service.id === selectedService.id)">
            <div class="option-text">{{service.name}}</div>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Bevölkerungseinteilung??'"
                    [editTemplate]="ageGroupEdit"
                    [subtitle]="selectedService.name"
                    infoText="Platzhalter Erklärung: setzt das alle Nachfragequotensets der Leistung zurück?">
      <mat-checkbox disabled [checked]="true">
        Differenzierung nach Geschlecht
      </mat-checkbox>
      <table>
        <tr>
          <td i18n>Alters- <br> gruppen</td>
          <td>
            9 bis unter 12 Jahre <br>
            12 bis unter 15 Jahre <br>
            15 bis unter 20 Jahre
          </td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card [title]="'Nachfragequoten-Sets'"
                    [subtitle]="selectedService.name"
                    infoText="Platzhalter: hinzu, entfernen, status quo setzen">
      <mat-selection-list [multiple]="false"
                          id="quota-select">
        <mat-list-option *ngFor="let quota of quotas"
                         (click)="selectedQuota = quota"
                         [selected]="(quota === selectedQuota)" [ngClass]="{'star-option': quota===statusQuoQuota}"
                         [title]="quota">
          <div class="option-text">{{quota}}</div>
          <mat-icon *ngIf="quota===statusQuoQuota" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
        </mat-list-option>
      </mat-selection-list>
      <button mat-button color="primary"
              (click)="statusQuoQuota = (statusQuoQuota===selectedQuota)? undefined : selectedQuota">
        <mat-icon class="material-icons-outlined">verified</mat-icon>
        Als Status Quo festlegen
      </button>
      <div>
        <button mat-button color="primary"
                class="mat-button-dv">
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="float: right;"
                class="mat-button-dv">
<!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="900px">
    <app-input-card [title]="'Nachfragequoten-Set'"
                    [subtitle]="selectedQuota===statusQuoQuota? 'Status Quo': ''"
                    [editTemplate]="quotaEdit"
                    infoText="Platzhalter: time slider verschieben zur Visualisierung; kein bulk upload, manuell editieren">
      <table>
        <tr>
          <td i18n>Name</td>
          <td>{{selectedQuota}}</td>
        </tr>
      </table>
      <div style="display: flex;">
        <mat-slider #timeSlider color="primary"
                    thumbLabel min="2000" max="2100" step="1" value="2010" tickInterval="1"
                    style="width: 420px; margin-top: 15px;"></mat-slider>
        <label style="padding-top: 20px;">{{timeSlider.value}}</label>
      </div>
      <div style="width: 100%; display: flex; align-items: stretch;">
        <div style="width: 40%; border: solid #0000001F; padding: 8px;">
          <table style="width: 100%; text-align: center;">
            <tr>
              <th style="text-align: left;">{{timeSlider.value}}</th>
              <th colspan="2" style="text-align: center">Quote (in Prozent)</th>
            </tr>
            <tr>
              <th style="min-width: 20%;"></th>
              <th>weiblich</th>
              <th>männlich</th>
            </tr>
            <tr>
              <td>9 bis unter 12 Jahre</td>
              <td>20</td>
              <td>19</td>
            </tr>
            <tr>
              <td>12 bis unter 15 Jahre</td>
              <td>30</td>
              <td>24</td>
            </tr>
            <tr>
              <td>15 bis unter 20 Jahre</td>
              <td>18</td>
              <td>15</td>
            </tr>
          </table>
        </div>
        <div style="display: flex; width: 60%; flex-flow: row wrap;">
          <div class="diagram-wrapper" style="width: 100%;">
            <img src="{{backend}}/static/img/Nachfragequoten alle Altersklassen screenshot.png" width="100%">
          </div>
          <div class="diagram-wrapper" style="width: 100%;">
            <img src="{{backend}}/static/img/Nachfrage Altersklasse screenshot.png" width="100%">
          </div>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #ageGroupEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>

<ng-template #quotaEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>
