<button mat-icon-button
        color="warning"
        class="filter-button small"
        [ngClass]="{ inverted: planningService.getPlaceFilters(infrastructure).length > 0 }"
        [disabled]="!infrastructure"
        [ngbPopover]="filterPopover"
        placement="right"
        container="body"
        triggers="mouseenter:mouseleave"
        (click)="onClick()">
  <mat-icon>filter_list</mat-icon>
</button>
<ng-template #filterTemplate>
  <div class="loadOverlay" *ngIf="planningService.isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div style="display: flex; user-select: none;">
    <div>
      <h4>Standortfilter</h4>
      <span class="subtitle1 sub">
        Gefilterte Standorte im Szenario "{{scenario?.name}}" im Jahr {{timeSlider.value}}
      </span>
    </div>
    <div id="time-slider-wrapper">
      <div class="time-button" (click)="shiftYear(-1)">
        <mat-icon color="primary">chevron_left</mat-icon>
      </div>
      <div class="time-button" (click)="shiftYear(1)">
        <mat-icon color="primary">chevron_right</mat-icon>
      </div>
      <app-time-slider #timeSlider id="time-slider"
                       [helpYOffset]="0"
                       [prognosisStart]="prognosisYears[0] || 0"
                       [years]="years"
                       (onChange)="year=$event.valueOf(); updateTable()"
                       [value]="year">
      </app-time-slider>
    </div>
  </div>
  <div style="display: flex; align-items: baseline;">
    <mat-slide-toggle *ngIf="service && showIgnoreCapacitiesToggle"
                      [(ngModel)]="_ignoreCapacities"
                      (change)="updateTable()"
                      color="primary" style="margin-top: -10px; margin-bottom: 5px;">
      Auch Standorte ohne Leistung "{{service.name}}" anzeigen
    </mat-slide-toggle>
    <button color="primary"
            mat-button
            style="margin-left: auto;"
            (click)="downloadCSV()">
      <mat-icon class="material-icons-outlined">save</mat-icon>
      Als CSV speichern
    </button>
  </div>
  <app-filter-table maxTableHeight="40vh" #filterTable
                    [columns]="_columnDescriptors"
                    [rows]="rows">
  </app-filter-table>
</ng-template>

<ng-template #filterPopover>
  <ng-container *ngIf="planningService.getPlaceFilters(infrastructure).length > 0 else noFilter">
    <p><b>aktive Filter:</b></p>
    <p *ngFor="let column of planningService.getPlaceFilters(infrastructure)">
      {{column.name}} | {{column.filter.getDescription()}}
    </p>
  </ng-container>
  <ng-template #noFilter>
    Standortfilter (keine aktiven Filter)
  </ng-template>
</ng-template>
