#time-slider-wrapper {
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
  //align-items: center;
  //margin-left: auto;
}
#time-slider {
  padding: 20px 10px;
}
.time-button {
  padding-top: 30px;
  cursor: pointer;
}
