::ng-deep app-basedata {
  #log-window {
    border: solid #0000001F;
    min-height: 150px;
    overflow: hidden;
  }
  .side-toggle.expanded .side-toggle-content-wrapper, .side-toggle-indicator {
    box-shadow: none !important;
    border: 1px solid lightgrey;
  }
  #legend {
    height: 320px !important;
    .legend-body {
      max-height: 250px;
    }
  }
}
