<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-input-card #levelsEdit
                    [title]="'Gebietseinheiten'"
                    subtitle="Vorgaben / Shapes hinzufügen"
                    infoText="Platzhalter Erklärung auswählen / hinzufügen / entfernen / checkbox">
      <mat-selection-list [multiple]="false"
                          id="level-select">
        <div class="option-wrapper" *ngFor="let areaLevel of presetLevels">
          <mat-list-option [value]="areaLevel"
                           (click)="onSelect(areaLevel)"
                           [selected]="(selectedAreaLevel && (areaLevel.id === selectedAreaLevel.id))">
            <div class="option-text">{{ areaLevel.name }}</div>
          </mat-list-option>
          <mat-checkbox></mat-checkbox>
        </div>
        <mat-divider></mat-divider>
        <div class="option-wrapper" *ngFor="let areaLevel of areaLevels">
          <mat-list-option [value]="areaLevel"
                           (click)="onSelect(areaLevel)"
                           [selected]="(selectedAreaLevel && (areaLevel.id === selectedAreaLevel.id))">
            <div class="option-text">{{ areaLevel.name }}</div>
          </mat-list-option>
          <mat-checkbox></mat-checkbox>
        </div>
      </mat-selection-list>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="onCreateArea()" i18n>
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="margin-left: 40px;"
                class="mat-button-dv"
                [disabled]="selectedAreaLevel?.preset"
                (click)="onCreateArea()" i18n>
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
      <div after>
        <mat-divider style="margin: 20px 0 5px 0;"></mat-divider>
        <br>
        <app-input-card [title]="'Eigenschaften'"
                        [borderless]="true"
                        [editTemplate]="propertiesEdit">
          <table *ngIf="selectedAreaLevel">
            <tr>
              <td i18n>Name</td>
              <td>{{selectedAreaLevel?.name}}</td>
            </tr>
            <tr>
              <td i18n>Linienfarbe</td>
              <td><div class="symbol square" [style.backgroundColor]="selectedAreaLevel?.layer?.symbol?.strokeColor"></div></td>
            </tr>
          </table>
        </app-input-card>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="800px">
    <app-input-card #dataEdit
                    [title]="'Daten'"
                    [subtitle]="selectedAreaLevel?.name || ''"
                    [dialogTitle]="'Kontakt E-Mail ändern'"
                    infoText="">
    </app-input-card>
  </div>
</div>

<ng-template #propertiesEdit>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label i18n>Name</mat-label>
      <input matInput formControlName="username" required [value]="selectedAreaLevel?.name">
    </mat-form-field>
    <table>
      <tr>
        <td i18n>Linienfarbe</td>
        <td>
          <div class="symbol square"
               [(colorPicker)]="colorSelection"
               [style.backgroundColor]="colorSelection"
               style="cursor: pointer">
          </div></td>
      </tr>
    </table>
</ng-template>
