#level-map {
  height: 100%;
  width: 100%;
  background-color: white;
}

.symbol {
  margin: 0;
}

#level-select {
  width: 86%;
  min-height: 200px;
  max-height: 400px;
  user-select: none;
}

.order-controls {
  width: 12%;
  padding-left: 5px;
}

::ng-deep app-areas #level-select {
  .option-wrapper {
    position: relative;
  }
  mat-list-option {
    width: calc(100% - 50px);
    .mat-list-text {
      padding: 0;
    }
    .option-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  mat-checkbox {
    position: absolute;
    right: 18px;
    top: 5px;
  }
}


#base-areas-map {
  width: 100%;
  height: 600px;
  margin-top: 15px;
  position: relative;
  background-color: white;
}
