<div class="loadOverlay" *ngIf="isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'Gebiete'"
                 cookieId="exp-areas-header"
                 width="1380px">
  <p>Sie können Ihr Projektgebiet in Gebiete einteilen. Die Gebiete dienen später der räumlich differenzierten Bilanzierung von Angebot und Nachfrage nach den betrachteten Infrastrukturen. Sie müssen mindestens eine Gebietseinteilung aktivieren.</p>
  <p>Standardmäßig entsprechen die Gebiete den administrativen Einheiten, d.h. je nach Gesamtgröße den Gemeinden, Verwaltungsgemeinschaften (Ämter, Samtgemeinden, Verbandsgemeinden, VG), Kreisen und Bundesländern. Diese amtlichen Grenzen können auf Sie einfach vom Bundesamt für Kartographie und Geodäsie (BKG) herunterladen lassen.</p>
  <p>Ergänzend können Sie benutzerdefinierte Gebietseinheiten, z.B. Ortsteile, hinzufügen. Hierzu laden Sie ein Shape-File hoch oder Sie geben einen WFS-Dienst an. Alle Gebietseinteilungen müssen das gesamte Projektgebiet abdecken.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-input-card [title]="'Gebietseinheiten'"
                    subtitle="Administrative Ebenen aktivieren und/oder benutzerdefinierte Gebietseinteilung hinzufügen"
                    infoText="<p>Die vier oberen Gebietseinteilungen sind die administrativen Grenzen. Wählen Sie eine Gebietseinteilung aus und klicken Sie anschließend in der Box „Daten der Gebietseinteilung“ auf „Daten abrufen bzw. aktualisieren“. Daraufhin werden die Daten vom BKG heruntergeladen, mit Ihrem Projektgebiet verschnitten und in der Karte angezeigt.</p>
                              <p>Nur aktive Gebietseinteilungen können außerhalb dieser Seite ausgewählt werden und in der Karte dargestellt werden. Die Aktivität kann über die Auswahlbox neben dem Namen der jeweiligen Gebietseinteilung umgeschaltet werden.</p>
                              <p>In der Box „Darstellung der ausgewählten Gebietseinteilung“ können Sie den angezeigten Namen und die Linienfarbe der Gebietseinteilung verändern.</p>
                              <p>Wiederholen Sie dieses Vorgehen für jede amtliche Gebietseinteilung, die Sie nutzen möchten.</p>
                              <p>Um optional eine benutzerdefinierte Gebietseinteilungen (Shape-File, WFS-Dienst) hinzuzufügen, klicken Sie auf „Hinzufügen“. Diese erscheint danach in der Liste der Gebietseinheiten unterhalb einer Trennlinie zu den vier vorgegebenen Gebietseinheiten. Wenn Sie diese in der Liste auswählen, wird Sie in der Karte angezeigt und Sie können ihre Darstellung anpassen.</p>">
      <div style="display: inline-flex;">
        <mat-selection-list [multiple]="false"
                            id="level-select">
          <mat-optgroup>
            Administrative Ebenen
          </mat-optgroup>
          <div class="option-wrapper" *ngFor="let areaLevel of presetLevels">
            <mat-list-option [value]="areaLevel"
                             (click)="selectAreaLevel(areaLevel)"
                             [selected]="(activeLevel && (areaLevel.id === activeLevel.id))">
              <div class="option-text">{{ areaLevel.name }}</div>
              <mat-icon *ngIf="areaLevel.isPopLevel" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
            </mat-list-option>
            <mat-checkbox color="primary"
                          [checked]="areaLevel.isActive!"
                          (change)="setLevelActive(areaLevel, $event.checked)"
                          title="Gebietseinteilung aktivieren/deaktivieren.">
            </mat-checkbox>
          </div>
          <mat-divider></mat-divider>
          <mat-optgroup>
            Benutzerdefinierte Gebietseinteilungen
          </mat-optgroup>
          <div class="option-wrapper" *ngFor="let areaLevel of customAreaLevels">
            <mat-list-option [value]="areaLevel"
                             (click)="selectAreaLevel(areaLevel)"
                             [selected]="(activeLevel && (areaLevel.id === activeLevel.id))">
              <div class="option-text">{{ areaLevel.name }}</div>
              <mat-icon *ngIf="areaLevel.isPopLevel" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
            </mat-list-option>
            <mat-checkbox color="primary"
                          [checked]="areaLevel.isActive!"
                          (change)="setLevelActive(areaLevel, $event.checked)">
            </mat-checkbox>
          </div>
        </mat-selection-list>
        <div class="order-controls">
          <button mat-icon-button
                  title="In der Sortierung eins nach oben"
                  [disabled] = "(orderIsChanging$ | async) || !activeLevel || activeLevel?.isPreset || activeLevel === customAreaLevels[0]"
                  (click)="moveSelected('up')">
            <mat-icon>expand_less</mat-icon>
          </button>
          <button mat-icon-button
                  [disabled]="activeLevel?.isPreset"
                  title="In der Sortierung eins nach unten"
                  [disabled] = "(orderIsChanging$ | async) || !activeLevel || activeLevel?.isPreset || activeLevel === customAreaLevels[customAreaLevels.length - 1]"
                  (click)="moveSelected('down')">
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
      </div>
      <button mat-button color="primary"
              class="multiline-button"
              style="width: 86%;"
              (click)="activeLevel && setPopAreaLevel(activeLevel)"
              [disabled]="activeLevel?.isPreset && !activeLevel?.isDefaultPopLevel">
        <mat-icon class="material-icons-outlined">verified</mat-icon>
        Als Gebietseinheit für alle Einwohnerdaten festlegen
      </button>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="onCreateArea()" i18n>
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="margin-left: 40px;"
                class="mat-button-dv"
                [disabled]="activeLevel?.isPreset"
                (click)="onDeleteAreaLevel()" i18n>
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
    <app-input-card #editArealevelCard
                    [ngClass]="{'hidden': !activeLevel}"
                    [title]="'Darstellung der ausgewählten Gebietseinteilung'"
                    [editTemplate]="propertiesEdit"
                    [subtitle]="'In allen Karten der Anwendung so darstellen'"
                    infoText="<p>Über die Schaltfläche „Editieren“ können Sie festlegen, wie die gerade ausgewählte Gebietseinteilung in allen Karten dieser Anwendung, d.h. auch in den Bereichen „Bevölkerung“ und „Infrastrukturplanung“ des Hauptmenüs dargestellt und bezeichnet werden soll.</p>"
                    dialogInfoText="<p>Namen und Beschriftungsfelder der vorgegebenen administrativen Ebenen können nicht verändert werden.</p>">
      <table *ngIf="activeLevel">
        <tr>
          <td i18n>Name</td>
          <td [style.color]="activeLevel.isPreset? 'grey': ''">{{activeLevel?.name}}</td>
        </tr>
        <tr>
          <td i18n>ID-Feld</td>
          <td [style.color]="activeLevel.isPreset? 'grey': ''">
            {{activeLevel.keyField || '-'}}
          </td>
        </tr>
        <tr>
          <td i18n>Beschriftung</td>
          <td [style.color]="activeLevel.isPreset? 'grey': ''">
            {{activeLevel?.labelField || '-'}}
          </td>
        </tr>
        <tr>
          <td i18n>Linienfarbe</td>
          <td>
            <div *ngIf="activeLevel?.symbol"
                 style="margin-bottom: -5px;"
                 class="symbol square"
                 [style.backgroundColor]="activeLevel?.symbol?.strokeColor">
            </div>
            <div *ngIf="!activeLevel?.symbol">
              keine Darstellung
            </div>
          </td>
        </tr>
      </table>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1000px">
    <app-input-card [title]="'Daten der ausgewählten Gebietseinteilung'"
                    [topRightHelp]="true"
                    [dialogTitle]="'Kontakt E-Mail ändern'"
                    [infoText]="(activeLevel?.source?.sourceType === 'WFS')?
                    '<p>Klicken Sie auf „Daten abrufen bzw. aktualisieren“, um die Daten erstmalig oder – zum Aktualisieren – erneut vom Bundesamt für Kartographie und Geodäsie (BKG) herunterzuladen. Den Zeitpunkt der letzten Aktualisierung können Sie der Aktualisierungshistorie entnehmen.</p>':
                    'Platzhalter'">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Gebietseinheit: <p style="font-size: 1.5em;">"{{activeLevel?.name || '-'}}"</p>
          </span>
          <table style="margin-top: 15px;">
            <tr>
              <td i18n>Gebiete (Features)</td>
              <td>{{activeLevel?.areaCount}}</td>
            </tr>
            <tr>
              <td i18n>Quelle</td>
              <td>
                {{activeLevel?.source?.sourceType}}
              </td>
            </tr>
            <tr *ngIf="activeLevel?.source?.sourceType === 'WFS'">
              <td i18n>Layer</td>
              <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
                {{activeLevel?.source?.url}}
              </td>
            </tr>
            <tr *ngIf="activeLevel?.source?.sourceType === 'WFS'">
              <td i18n>URL</td>
              <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
                {{activeLevel?.source?.layer}}
              </td>
            </tr>
            <tr>
              <td i18n>{{(activeLevel?.source?.sourceType === 'WFS')? 'letzter Abruf': 'letzter Upload'}}</td>
              <td>
                {{activeLevel?.source?.date}}
              </td>
            </tr>
          </table>
          <button *ngIf="activeLevel?.source?.sourceType === 'WFS'"
                  class="mat-button-dv"
                  mat-button color="primary"
                  style="margin-top: 20px;"
                  (click)="pullWfsAreas()">
            <mat-icon class="material-icons-outlined">refresh</mat-icon>
            Daten abrufen bzw. aktualisieren
          </button>
          <button *ngIf="activeLevel?.source?.sourceType === 'FILE'"
                  class="mat-button-dv"
                  mat-button color="primary"
                  style="margin-top: 20px;"
                  (click)="uploadFile()">
            <mat-icon class="material-icons-outlined">upload</mat-icon>
            Shapefile oder Geopackage hochladen
          </button>
          <div>
            <button class="mat-button-dv"
                    mat-button color="primary"
                    (click)="showDataTable()">
              <mat-icon class="material-icons-outlined">table_chart</mat-icon>
              Datentabelle ansehen
            </button>
            <button class="mat-button-dv"
                    mat-button color="warn"
                    style="float: right; margin-right: 10px; box-shadow: none;"
                    (click)="onDeleteAreas()">
              <mat-icon>cancel</mat-icon>
              Daten löschen
            </button>
<!--            <button mat-mini-fab color="primary"
                    aria-label="Daten herunterladen" title="Daten herunterladen"
                    style="float: right; margin-right: 10px; box-shadow: none;">
              <mat-icon>download</mat-icon>
            </button>-->
          </div>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Aktualisierungshistorie</span>
          <app-log></app-log>
        </div>
      </div>
    </app-input-card>
    <app-input-card [title]="'Kartenvorschau'"
                    [topRightHelp]="true"
                    infoText="<p>Die Karte zeigt die Gebiete der aktuell ausgewählten Gebietseinheiten als ausgefüllte Flächen.<p>
                    <p>Zusätzlich zeigt sie auf Wunsch alle zur Darstellung freigegeben Gebietseinheiten, auswählbar über die Legende.
                    Die Darstellung der einzelnen Gebietseinheiten in der Karte können Sie in der Box „Darstellung der ausgewählten Gebietseinteilung“ anpassen.</p>">
      <div id="base-areas-map" class="map-container">
        <app-map-controls target="base-areas-map"></app-map-controls>
        <app-side-toggle id="legend"
                         icon="layers"
                         direction="left"
                         name="Legenden- und Layersteuerung"
                         cookieExpansion="base-areas-legend" [initiallyExpanded]="true">
          <app-legend target="base-areas-map"
                      [showInternal]="true"
                      [showExternal]="false">
          </app-legend>
        </app-side-toggle>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #propertiesEdit>
  <form [formGroup]="editLevelForm">
    <div style="min-height: 130px">
      <div *ngIf="editLevelForm.errors">
        <mat-error *ngFor="let error of Object.values(editLevelForm.errors)" class="alert">
          {{ error }}
        </mat-error>
      </div>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <div *ngIf="!activeLevel?.isPreset" style="display: grid;">
        <mat-form-field appearance="fill">
          <mat-label i18n>Beschriftungsfeld</mat-label>
          <mat-select disableRipple formControlName="labelField">
            <mat-option *ngFor="let field of activeLevel?.areaFields" [value]="field">
              {{field}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label i18n>ID-Feld</mat-label>
          <mat-select disableRipple formControlName="keyField">
            <mat-option *ngFor="let field of activeLevel?.areaFields" [value]="field">
              {{field}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-checkbox color="primary"
                    #enableLayerCheck
                    [checked]="!!activeLevel?.symbol?.strokeColor"
                    title="Gebietseinheit als Layer in Karte zur Verfügung stellen">
        Gebietseinheit als Layer zur Verfügung stellen
      </mat-checkbox>
      <div *ngIf="enableLayerCheck.checked" style="display: flex; align-items: baseline;">
        Linienfarbe
        <div class="symbol square"
             [(colorPicker)]="colorSelection"
             [style.backgroundColor]="colorSelection"
             style="cursor: pointer; align-self: center; margin-left: 15px;">
        </div>
        <button mat-button color="primary"
                [(colorPicker)]="colorSelection">
          Wählen
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #createAreaLevel>
  <form [formGroup]="editLevelForm">
    <div *ngIf="editLevelForm.errors">
      <mat-error *ngFor="let error of Object.values(editLevelForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #dataTemplate>
  <app-data-table [columns]="dataColumns" [rows]="dataRows"></app-data-table>
</ng-template>

<ng-template #fileUploadTemplate>
  <div *ngIf="uploadErrors">
    <mat-error *ngFor="let error of Object.values(uploadErrors)" class="alert">
      {{ error }}
    </mat-error>
  </div>
  <p>
    Daten mit Gebieten für Gebietseinheit "{{activeLevel?.name}}" hochladen
  </p>
  <input #fileInput type="file" accept=".zip,.gpkg" (change)="setFiles($event)">
</ng-template>

<ng-template #pullWfsTemplate>
  <div *ngIf="uploadErrors">
    <mat-error *ngFor="let error of Object.values(uploadErrors)" class="alert">
      {{ error }}
    </mat-error>
  </div>
  <p>
    Sollen die Gebiete der Gebietseinheit "{{this.activeLevel?.name}}" jetzt aus dem angegebenen WFS-Dienst abgerufen und eingespielt werden?
  </p>
  <p>
    Achtung: alle bereits eingespielten Gebiete der Gebietseinheit und die damit verbundenen Daten werden entfernt!
  </p>
</ng-template>

