<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button routerLink="/">
    <div i18n> Datentool </div>
  </a>
  <span fxShow="true" fxHide.lt-md="true">
    <a *ngFor="let item of menuItems" mat-button [routerLink]="'/'+item.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}"> {{item.name}} </a>
  </span>
  <span class="fill-space"></span>
  <ng-template #loggedOut>
    <a routerLink="/login" mat-button>Login</a>
  </ng-template>
  <ng-container *ngIf="user$ | async; else loggedOut">
    eingeloggt als&nbsp;<div *ngIf="user">{{user.username}}</div>
    <a mat-button (click)="logout()">Logout</a>
  </ng-container>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a *ngFor="let item of menuItems" mat-button [routerLink]="'/'+item.url"> {{item.name}} </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
