<mat-toolbar class="main-nav">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a class="link home" routerLink="/" style="width: 300px;">
    <img src="{{backend}}/static/img/test-logo.png" height="50px" alt="Logo" title="Datentool"/>
    <div style="padding: 8px" i18n> Datentool </div>
  </a>
  <span class="page-links" fxShow="true" fxHide.lt-md="true">
    <a *ngFor="let item of menuItems"
       class="link"
       [routerLink]="'/'+item.url"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{exact: false}">
      {{item.name}}
    </a>
  </span>
  <span class="fill-space"></span>
  <ng-template #loggedOut>
    <a routerLink="/login">Login</a>
  </ng-template>
  <div *ngIf="user$ | async; else loggedOut" class="mat-body-2" style="display: flex;">
    eingeloggt als&nbsp;<b *ngIf="user">{{user.username}}</b>
    &nbsp;&nbsp;
    <a (click)="logout()" href="">Logout</a>
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav class="main-collapse" color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a *ngFor="let item of menuItems"
         mat-button
         routerLinkActive="active-link"
         [routerLink]="'/'+item.url">
        {{item.name}}
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
