@import "~src/styles";

.mat-sidenav-container {
  position: fixed;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  box-shadow: 0px 0px 5px 4px #a7a7a7;
  font-size: 28px;
}

.page-links, .home {
  display: flex;
  height: 100%;
}

.mat-toolbar .link {
  padding: 17px 10px 0 10px;
  text-decoration: none;
  color: #000000DE;
}

.page-links .link {
  margin-right: 20px;
  height: calc(100% - 17px); //- 20px);
}

.page-links .link:not(.active-link):hover{
  //border-bottom: 3px solid #000000DE;
  //color: $accent;
  box-shadow: 0 12px 10px -10px $accent;
}

.page-links .active-link {
  color: $primary;
  //border-bottom: 3px solid $primary;
  box-shadow: 0 12px 10px -10px;
}

.main-collapse {
  padding-top: 60px;
}

.main-collapse .active-link {
  color: white;
  background-color: $primary;
}

#account {
  font-size: 18px;
}

#account a {
  color: #000000DE;
}
