<mat-toolbar *ngIf="user$ | async" class="main-nav">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div style="width: 300px; padding-top: 14px;">
    <a class="logo" routerLink="/" title="Startseite">
      <img src="{{backend}}/static/img/test-logo.png" height="50px" alt="Logo"/>
      <div i18n> <p>davi</p><p>plan</p> </div>
    </a>
  </div>
  <span class="page-links" fxShow="true" fxHide.lt-md="true">
    <a *ngFor="let item of menuItems"
       class="link"
       [title]="item.name"
       [routerLink]="'/'+item.url"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{exact: false}">
      {{item.name}}
    </a>
  </span>
  <span class="fill-space"></span>
  <div id="account">
    <ng-template #loggedOut>
      <a routerLink="/login">Login</a>
    </ng-template>
    <div *ngIf="user; else loggedOut" style="display: flex;">
      eingeloggt als&nbsp;<b *ngIf="user">{{user.username}}</b>    &nbsp;&nbsp;
      <a (click)="logout()" href="">Logout</a>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav class="main-collapse" color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a *ngFor="let item of menuItems"
         mat-button
         routerLinkActive="active-link"
         [routerLink]="'/'+item.url">
        {{item.name}}
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
