<app-header-card [title]="'Straßennetz (optional)'"
                 cookieId="exp-router-header"
                 width="1230px">
  <p>Die Erreichbarkeitsverhältnisse in Ihrem Projektgebiet werden anhand von Reisezeitmatrizen abgebildet. Reisezeitmatrizen sind (große) Tabellen, in denen für ein bestimmtes Verkehrsmittel verzeichnet ist, wie lange man von den einzelnen Startpunkten (z.B. den Wohnstandorten) zu den Zielen (z.B. den Einrichtungen) kommt.</p>
  <p>Auf dieser Seite können Sie die Reisezeitmatrizen für die drei straßenbezogenen Verkehrsmittel</p>
  <li>zu Fuß</li>
  <li>mit dem Rad und</li>
  <li>mit dem Auto</li>
  <p>erzeugen. Reisezeitmatrizen für das ÖPNV-Netz erzeugen Sie über den nachfolgenden Menüpunkt „ÖPNV-Netz“.</p>
  <p>Die Erzeugung der Reisezeitmatrizen erfolgt in drei Arbeitsschritten, denen jeweils einer der drei nachfolgenden Eingabeboxen entspricht.</p>

</app-header-card>

<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Schritt 1: OpenStreetMap-Straßennetz herunterladen'"
                    infoText="<p>Daviplan nutzt kostenfreie Straßendaten von OpenStreetMap (OSM). Wenn Sie die Schaltfläche „Basisnetz herunterladen“ anklicken, wird ein kostenfreies, aktuelles Straßennetz für Ihren Teilraum vom OSM-Anbieter Geofabrik heruntergeladen und auf Ihrem Server zwischengespeichert. Aufgrund der Datenmenge kann der Download etwas dauern. Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn der Download erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde.</p>">
      <div>
        Status: {{baseDataSettings?.routing?.baseNet? 'Basisnetz vorhanden': 'Basisnetz nicht vorhanden'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.baseNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              (click)="downloadBaseNetwork()">
        <!--        <mat-icon>build</mat-icon> -->
        Straßennetz herunterladen
      </button>
    </app-input-card>
    <app-input-card [title]="'Schritt 2: Mit Projektgebiet verschneiden'"
                    infoText="<p>Um die nachfolgenden Berechnungsschritte zu beschleunigen, wird das Straßennetz mit Ihrem Projektgebiet verschnitten. Dazu wird ein Ausschnitt aus dem Straßennetz herausgeschnitten, dass Ihr Projektgebiet plus einem Puffer von 30 km rund um ihr Projektgebiet umfasst. Der Puffer umfasst keine Flächen außerhalb Deutschlands.</p>
                              <p>Um diese Verschneidung durchzuführen, klicken Sie bitte auf die Schaltfläche „Straßennetz verschneiden“. Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn die Verschneidung erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde.</p>">
      <div>
        Status: {{baseDataSettings?.routing?.projectAreaNet? 'Basisnetz verschnitten': 'Basisnetz nicht verschnitten'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.projectAreaNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              [disabled]="!baseDataSettings?.routing?.baseNet"
              (click)="createProjectNetwork()">
        Straßennetz verschneiden
      </button>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="900px">
    <app-input-card [title]="'Schritt 3: Reisezeitmatrizen Fuß, Rad und Auto erzeugen\n'"
                    infoText="<p>Im letzten Schritt wird das zuvor heruntergeladene und verschnittene Straßennetz verwendet, um Reisezeitmatrizen für die drei Verkehrsmittel „Fuß“, „Rad“ und „Auto“ zu berechnen. Dabei wird die minimale Wegezeit zwischen allen Wohnstandorten und Errichtungen ermittelt.</p>
                              <p><b>Diesen zeitintensiven Rechenschritt sollten Sie erst durchführen, wenn Sie im Menüpunkt „Infrastrukturdaten > Standorte und Kapazitäten“ bereits alle für Ihr Projekt relevanten Standorte hochgeladen haben. Zwar können Sie auch später noch – z.B. im Zuge der Szenarienentwicklung im Bereich „Infrastrukturplanung“ – einzelne Standorte nachdefinieren. Die Neuberechnung der Reisezeitmatrizen dauert jedoch mitunter länger.</b></p>
                              <p>Um für Ihre zuvor eingelesenen Standorte Reisezeitmatrizen zu erstellen, klicken Sie auf „Reisezeitmatrizen erzeugen“. Je nach Größe und Netzdichte Ihres Projektgebiet dauert die damit angestoßene Berechnung länger, ggf. auch über eine Stunde.</p>
                              <p>Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn die Berechnung der Reisezeitmatrizen erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde. </p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 40%; display: flex;">
          <!--          <span class="subtitle1 sub">
                      Verkehrsnetz „{{selectedRouter}}“
                    </span>-->
          <!--<table>
            <tr>
              <td style="min-width: 130px;; white-space: normal;">Buffer um das Projektgebiet</td>
              <td>10km</td>
            </tr>
            <tr>
              <td>erzeugt am</td>
              <td>31.05.2022</td>
            </tr>
            <tr>
              <td>von</td>
              <td>Sascha Schmidt</td>
            </tr>
          </table>-->
          <div style="align-self: end;">
            <button mat-flat-button color="primary"
                    [disabled]="!baseDataSettings?.routing?.projectAreaNet"
                    (click)="createMatrices()">
              <mat-icon>build</mat-icon> Reisezeitmatrizen erzeugen
            </button>
          </div>
        </div>
        <div style="width: 60%">
          <span class="subtitle1">Historie</span>
          <app-log room="routing" height="200px"></app-log>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

