<div class="loadOverlay" *ngIf="isLoading$ | async" xmlns="http://www.w3.org/1999/html">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'Straßennetz: Reisezeiten zu den Einrichtungen zu Fuß, mit dem Rad und mit dem Auto'"
                 cookieId="exp-router-header"
                 width="1000px">
  <p>Die Erreichbarkeitsverhältnisse in Ihrem Planungsraum werden anhand von Reisezeitmatrizen abgebildet. Reisezeitmatrizen sind (große) Tabellen, in denen für ein bestimmtes Verkehrsmittel verzeichnet ist, wie lange man von den einzelnen Startpunkten (z.B. den Wohnstandorten) zu den Zielen (z.B. den Einrichtungen) kommt.</p>
  <p>Auf dieser Seite können Sie die Reisezeitmatrizen für die drei straßenbezogenen Verkehrsmittel</p>
  <ul>
    <li>zu Fuß</li>
    <li>mit dem Rad und</li>
    <li>mit dem Auto</li>
  </ul>
  <p>erzeugen. Reisezeitmatrizen für das ÖPNV-Netz erzeugen Sie über den nachfolgenden Menüpunkt „ÖPNV-Netz“.</p>
  <p>Die Erzeugung der Reisezeitmatrizen erfolgt in drei Arbeitsschritten, denen jeweils einer der drei nachfolgenden Eingabeboxen entspricht.</p>
  <b>Schritt 1: OpenStreetMap-Straßennetz herunterladen</b>
  <p>Daviplan nutzt kostenfreie Straßendaten von OpenStreetMap (OSM). Wenn Sie die Schaltfläche „Basisnetz herunterladen“ anklicken, wird ein kostenfreies, aktuelles deutschlandweites Straßennetz vom OSM-Anbieter Geofabrik heruntergeladen und auf Ihrem Server zwischengespeichert. Aufgrund der Datenmenge kann der Download etwas dauern. Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn der Download erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde.</p>
  <b>Schritt 2: Mit Planungsraum verschneiden</b>
  <p>Um die nachfolgenden Berechnungsschritte zu beschleunigen, wird das Straßennetz mit Ihrem Planungsraum verschnitten. Dazu wird ein Ausschnitt aus dem Straßennetz herausgeschnitten, dass Ihr Planungsraum plus einen Puffer von 30 km rund um ihren Planungsraum umfasst. Der Puffer umfasst keine Flächen außerhalb Deutschlands.</p>
  <p>Um diese Verschneidung durchzuführen, klicken Sie bitte auf die Schaltfläche „Straßennetz verschneiden“. Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn die Verschneidung erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde.</p>
  <b>Schritt 3: Reisezeitmatrizen Fuß, Rad und Auto erzeugen</b>
  <p>Im letzten Schritt wird das zuvor heruntergeladene und verschnittene Straßennetz verwendet, um Reisezeitmatrizen für die drei Verkehrsmittel „Fuß“, „Rad“ und „Auto“ zu berechnen. Dabei wird die minimale Wegezeit zwischen allen Wohnstandorten und Errichtungen ermittelt.</p>
  <p><b>Diesen zeitintensiven Rechenschritt sollten Sie erst durchführen, wenn Sie im Menüpunkt „Infrastrukturdaten > Standorte und Kapazitäten“ bereits alle für Ihre Planung relevanten Standorte hochgeladen haben. Zwar können Sie auch später noch – z.B. im Zuge der Szenarienentwicklung im Bereich „Infrastrukturplanung“ – einzelne Standorte nachdefinieren. Die Neuberechnung der Reisezeitmatrizen dauert jedoch mitunter länger.</b></p>
  <p>Um für Ihre zuvor eingelesenen Standorte Reisezeitmatrizen zu erstellen, klicken Sie auf „Reisezeitmatrizen erzeugen“. Je nach Größe und Netzdichte Ihres Planungsraums dauert die damit angestoßene Berechnung länger, ggf. auch über eine Stunde.</p>
  <p>Ein Häkchen hinter der Statusanzeige zeigt Ihnen, wenn die Berechnung der Reisezeitmatrizen erfolgreich war oder bereits zu einem früheren Zeitpunkt durchgeführt wurde.</p>
  <b>Historie</b>
  <p>Über die Historie können Sie sehen, welche der vorstehenden Arbeitsschritte bereits zu einem früheren Zeitpunkt durchgeführt wurden. Anhand dieser Informationen können Sie entscheiden, ob Datenänderungen an anderer Stelle (z.B. neu hinzugekommene Standorte) ggf. eine Neuberechnung der Reisezeitmatrizen erforderlich machen.</p>
</app-header-card>
<app-status-card *ngIf="isProcessing">
  Es läuft gerade eine Berechnung im Bereich „Erreichbarkeiten“
</app-status-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="450px">
    <app-input-card [title]="'Schritt 1: OpenStreetMap-Straßennetz herunterladen'"
                    [disabled]="isProcessing"
                    infoText="<p>Über die Schaltfläche „Basisnetz herunterladen“ wird das aktuelle Straßennetz auf den Server heruntergeladen. Das OSM-Netz wird für die Ausführung von Schritt 2 benötigt.</p>">
      <div>
        Status: {{baseDataSettings?.routing?.baseNet? 'Basisnetz vorhanden': 'Basisnetz nicht vorhanden'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.baseNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              style="margin-top: 10px"
              (click)="downloadBaseNetwork()">
        <!--        <mat-icon>build</mat-icon> -->
        Straßennetz herunterladen
      </button>
    </app-input-card>
    <app-input-card [title]="'Schritt 2: Mit Planungsraum verschneiden'"
                    [disabled]="isProcessing"
                    infoText="<p>Das OSM-Straßennetz wird in diesem Schritt mit dem Planungsraum inklusive einem Puffer von 30 km verschnitten und anschließend für die Verkehrsmittel „Fuß“, „Rad“ und „Auto“ mit der Erzeugung separater Router optimiert.</p>
                              <p>Mit einem Klick auf die Schaltfläche „Straßennetz verschneiden“ wird der Vorgang gestartet.</p>
                              <p>Das verschnittene Netz wird für die Berechnung der Reisezeiten in Schritt 3 benötigt.">
      <div>
        Status: {{baseDataSettings?.routing?.projectAreaNet? 'Basisnetz verschnitten': 'Basisnetz nicht verschnitten'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.projectAreaNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              style="margin-top: 10px"
              (click)="createProjectNetwork()">
<!--        [disabled]="!baseDataSettings?.routing?.baseNet"-->
        Straßennetz verschneiden
      </button>
    </app-input-card>
    <app-input-card [title]="'Schritt 3: Reisezeitmatrizen Fuß, Rad und Auto erzeugen\n'"
                    [disabled]="isProcessing"
                    infoText="<p>In diesem Schritt werden die Reisezeitmatrizen für die Verkehrsmittel „Fuß“, „Rad“ und „Auto“ berechnet. </p>
                              <p>Die berechneten Matrizen werden für die Erreichbarkeitsanalyse in der Infrastrukturplanung benötigt.</p>">
      <table>
        <tr>
          <td i18n>Anzahl Relationen Fuß: </td>
          <td>{{statistics[TransportMode.WALK]?.toLocaleString() || '-'}}</td>
        </tr>
        <tr>
          <td i18n>Anzahl Relationen Rad: </td>
          <td>{{statistics[TransportMode.BIKE]?.toLocaleString() || '-'}}</td>
        </tr>
        <tr>
          <td i18n>Anzahl Relationen Auto: </td>
          <td>{{statistics[TransportMode.CAR]?.toLocaleString() || '-'}}</td>
        </tr>
      </table>
      <button mat-flat-button color="primary"
              style="margin-top: 10px"
              (click)="createMatrices()">
<!--              [disabled]="!baseDataSettings?.routing?.projectAreaNet"-->
        <mat-icon>build</mat-icon> Reisezeitmatrizen erzeugen
      </button>
    </app-input-card>
  </div>
  <app-input-card subtitle="Daten-Historie Erreichbarkeiten"
                  width="400px"
                  infoText="<p>Die Liste zeigt Ihnen eine Chronik aller Datenimporte und Berechnungen im Bereich „Erreichbarkeiten“.</p>">
    <app-log room="routing" (onMessage)="onMessage($event)" height="350px"></app-log>
  </app-input-card>
</div>

