<p class="under-construction">
  <mat-icon class="material-icons-outlined">construction</mat-icon>
  Diese Seite ist noch nicht fertig implementiert. Die gezeigten Daten sind zur Zeit nur Platzhalter. Das Layout wird noch überarbeitet.
</p>
<app-header-card [title]="'Verkehrsnetz (optional)'"
                 cookieId="exp-router-header"
                 width="1230px">
  <p>Die Erreichbarkeitsverhältnisse in Ihrem Projektgebiet werden anhand von Erreichbarkeitsmatrizen abgebildet. Erreichbarkeitsmatrizen sind (große) Tabellen, in denen für ein bestimmtes Verkehrsmittel verzeichnet ist, wie lange man mit diesem von Teilfläche A zu Teilfläche B braucht. Die Teilflächen entsprechend dabei dem europaweit standardisierten 100x100-Meter-LAEA-Raster, auf das bereits im Menüpunkt „Einwohnerraster“ Bezug genommen wurde.</p>
  <p>Diese Erreichbarkeitsmatrizen werden im nachfolgenden Menüpunkt „Erreichbarkeiten“ für die vier Verkehrsmittel „zu Fuß“, „Fahrrad“, „Auto“ und „ÖPNV“ zusammengetragen. Dabei können entweder extern vorberechnete Erreichbarkeitsmatrizen hochgeladen oder Erreichbarkeitsmatrizen berechnet werden.</p>
  <p>Wenn Sie ausschließlich extern vorberechnete Erreichbarkeitsmatrizen benutzen, können Sie den hier angezeigten Menüpunkt „Verkehrsnetze“ überspringen.</p>
  <p>Wenn Sie hingegen einzelne oder alle Erreichbarkeitsmatrizen innerhalb von daviplan berechnen lassen wollen, müssen Sie hierfür auf dieser Bildschirmseite ein (oder mehrere) Verkehrsnetze definieren. Der oder die auf dieser Seite definierten Verkehrsnetze können Sie dann im nächsten Menüpunkt „Erreichbarkeiten“ verwenden, um dort einzelne oder alle Erreichbarkeitsmatrizen berechnen zu lassen.</p>
  <p>Ein Verkehrsnetz kann für die Berechnung der Erreichbarkeitsmatrizen unterschiedlicher Verkehrsmittel verwendet werden, sofern die nachstehenden Datenanforderungen erfüllt sind.</p>
  <p>Mindestanforderungen für alle Verkehrsmittel ist die Integration eines Straßennetzes auf Basis von OpenStreetMap-Daten in das Verkehrsnetz. Weitere Informationen hierzu finden Sie im Handbuch sowie im Hilfetext der Box „OpenStreetMap-Daten des ausgewählten Verkehrsnetzes“.</p>
  <p>Für Verkehrsnetze, die zum Erzeugen einer ÖPNV-Erreichbarkeitsmatrix verwendet werden sollen, brauchen Sie zusätzlich die regionalen Fahrplandaten im Datenformat „GTFS“. Weitere Informationen hierzu finden Sie im Handbuch sowie im Hilfetext der Box „ÖPNV-Daten (GTFS) des ausgewählten Verkehrsnetzes“.</p>
  <p>Optional können Sie noch Höhendaten in Ihr Verkehrsnetz integrieren. Dies ist vor allem dann sinnvoll, wenn Ihre Region sehr hügelig oder gar bergig ist.</p>
  <p>Wenn Sie ein neues Verkehrsnetz definieren, wir diesem zunächst standardmäßig ein OpenStreetMap-Straßennetz sowie ein Höhendatensatz als Vorlage hinzufügt. Diese Daten haben einen Datenstand 2021 und können direkt verwendet werden. Wenn Sie stattdessen andere oder aktuellere Daten verwenden möchten, laden Sie Ihre Daten in den entsprechenden Boxen hoch. Ein vergleichbarer Standarddatensatz für die ÖPNV-Fahrplandaten kann bisher leider nicht bereitgestellt werden.</p>
  <p>Wenn sich in Zukunft maßgebliche Dinge an ihren Straßen- und ÖPNV-Netzen ändert, z.B. eine erhebliche Ausweitung oder Reduzierung des ÖPNV-Angebots absehbar ist oder eine maßgebliche neue Straßenverbindung (Ortsumgehung, Autobahnanschluss, …) diskutiert wird, kann es sinnvoll sein, ein oder mehrere weitere Verkehrsnetze zu definieren, in deren Eingangsdaten diese Änderungen berücksichtigt sind. Auf dieser Basis können Sie im nachfolgenden Menüpunkt „Erreichbarkeit“ dann alternative Erreichbarkeitsmatrizen für das gleiche Verkehrsmittel (z.B. „Pkw-Erreichbarkeit mit dem aktuellen Straßennetz“ und „Pkw-Erreichbarkeit nach Umsetzung aller Ausbauplanungen“), die von den Nutzer*innen im Hauptmenübereich „Infrastrukturplanung“ dann alternativ zur Bewertung der Erreichbarkeit von Infrastrukturen verwendet werden können.</p>
  <p>Um ein Verkehrsnetz zu definieren, klicken Sie in der Box „Verkehrsnetze“ auf Hinzufügen und folgen den weiteren Anweisungen im dortigen Hilfetext.</p>
</app-header-card>

<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Straßennetz'"
                    infoText="<p>Platzhalter</p>">
      <div>
        Status: {{baseDataSettings?.routing?.baseNet? 'Basisnetz vorhanden': 'Basisnetz nicht vorhanden'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.baseNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              (click)="downloadBaseNetwork()">
        <!--        <mat-icon>build</mat-icon> -->
        Basisnetz herunterladen
      </button>
      <mat-divider style="margin: 10px 0;"></mat-divider>
      <div>
        Status: {{baseDataSettings?.routing?.projectAreaNet? 'Basisnetz mit Projektgebiet verschnitten': 'Basisnetz nicht verschnitten'}}
        <mat-icon *ngIf="baseDataSettings?.routing?.projectAreaNet" color="primary">done</mat-icon>
      </div>
      <button mat-flat-button color="primary"
              [disabled]="!baseDataSettings?.routing?.baseNet"
              (click)="createProjectNetwork()">
        Straßennetz verschneiden
      </button>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="900px">
    <app-input-card [title]="'???'"
                    [disabled]="true"
                    infoText="<p>Platzhalter</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 40%;">
          <!--          <span class="subtitle1 sub">
                      Verkehrsnetz „{{selectedRouter}}“
                    </span>-->
          <!--<table>
            <tr>
              <td style="min-width: 130px;; white-space: normal;">Buffer um das Projektgebiet</td>
              <td>10km</td>
            </tr>
            <tr>
              <td>erzeugt am</td>
              <td>31.05.2022</td>
            </tr>
            <tr>
              <td>von</td>
              <td>Sascha Schmidt</td>
            </tr>
          </table>-->
          <div style="margin-top: 50px;">
            <button mat-flat-button color="primary">
              <mat-icon>build</mat-icon> Reisezeitmatrizen erzeugen
            </button>
          </div>
        </div>
        <div style="width: 60%">
          <span class="subtitle1">Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

