<div class="grid-container">
  <mat-grid-list cols='12' rowHeight='200px'>
    <mat-grid-tile colspan='2'>
      <app-dash-card title='Nachfrage nach Leistung'> </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='8'>
      <app-dash-card title='Szenarioauswahl'> </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' class="right">
      <app-dash-card title='Kartenkontrollen'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='100px'>
    <mat-grid-tile colspan='2'>
      <app-dash-card title='Darstellung'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='100px'>
    <mat-grid-tile  colspan='2'>
      <app-dash-card title='Gebietseinheit'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='200px' class="bottom">
    <mat-grid-tile colspan='2' class="bottom">
      <app-dash-card title='Layer'>
        <app-layer-select target="planning-map"></app-layer-select>
      </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='8' class="bottom center">
      <app-dash-card title='Timeslider'>
        <mat-slider
          thumbLabel
          tickInterval="1"
          step="1"
          min="1990"
          max="2100"
          aria-label="units"
          style="width: 50em;"
        >
        </mat-slider>
      </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' class="bottom right">
      <app-dash-card title='Legende'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
