<mat-expansion-panel cookieExpansion="exp-demand-services">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-3-Standorte-Leistungen"></div>
      </div>
      Leistung
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-label>Infrastruktur</mat-label>
    <mat-select disableOptionCentering [(value)]="selectedInfrastructure">
      <mat-option [value]="infrastructure" *ngFor="let infrastructure of infrastructures"
                  [tooltip]="infrastructure.description"
                  [hideDelay]="0"
                  [showDelay]="500"
                  tooltipClass="context-tooltip"
                  theme="light"
                  maxWidth="400px"
                  placement="right">
        {{infrastructure.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="sub-select-wrapper">
    <mat-radio-group>
      <mat-radio-button *ngFor="let service of selectedInfrastructure.services; let first = first;"
                        [value]="service" style="width: 100%;"
                        [checked]="first"
                        color="primary">
        {{service.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-demand-areas">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">flip_to_front</mat-icon>
      </div>
      Gebietseinheit
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="small">
    <mat-select disableOptionCentering [value]="areaLevels[0]">
      <mat-option [value]="areaLevel" *ngFor="let areaLevel of areaLevels">
        {{areaLevel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-demand-compare">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-4-Vergleichsdarstellung"></div>
      </div>
      Vergleichsdarstellung
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-checkbox style="padding-left: 12px;" color="primary" [(ngModel)]="compareSupply" i18n>
    Nachfrage vergleichen
  </mat-checkbox>
  <div class="sub-select-wrapper compare-radio-list">
    <mat-radio-group [(ngModel)]="compareStatus">
      <mat-radio-button value="option 1" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Nachfrage im gleichen Szenario im Jahr
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering [value]="years[0]" [disabled]="!compareSupply || compareStatus != 'option 1'">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-button value="option 2" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Nachfrage im gleichen Jahr im Szenario
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering value="1" [disabled]="!compareSupply || compareStatus != 'option 2'">
          <mat-option value="1">
            Szenario 1
          </mat-option>
          <mat-option value="2">
            Szenario 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-group>
  </div>
</mat-expansion-panel>
