#base-raster-map {
  width: 100%;
  height: 600px;
  position: relative;
}

::ng-deep app-pop-raster #legend {
  .side-toggle.expanded .side-toggle-content-wrapper, .side-toggle-indicator {
    box-shadow: none;
    border: 1px solid lightgrey;
  }
}
