<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-input-card [title]="'Raster'"
                    [editTemplate]="rasterEdit">
      <table>
        <tr>
          <td i18n>Name</td>
          <td>Zensus 2011 LAEA</td>
        </tr>
        <tr>
          <td i18n>Quelle</td>
          <td>Vorgabe</td>
        </tr>
        <tr>
          <td i18n>Zellen</td>
          <td>1457</td>
        </tr>
      </table>
      <button mat-mini-fab color="primary"
              aria-label="Daten herunterladen" title="Daten herunterladen"
              style="position: absolute; right: 15px; bottom: 15px; box-shadow: none;">
        <mat-icon>download</mat-icon>
      </button>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1000px">
    <app-input-card #dataEdit
                    [title]="'Rasteransicht'">
      <div id="base-raster-map" class="map-container">
        <app-map-controls></app-map-controls>
        <app-side-toggle id="legend"
                         icon="layers"
                         direction="left"
                         expanded>
          <app-legend target="base-raster-map"></app-legend>
        </app-side-toggle>
      </div>
    </app-input-card>
  </div>
</div>


<ng-template #rasterEdit>
  ToDo
</ng-template>
