<app-header-card [title]="'Projektdefinition'"
                 cookieId="exp-project-header"
                 width="930px">
  <b><i>ToDo: Hilfetext anpassen</i></b>
  <p>
    Für Ihre kommunale oder regionale Anwendung von daviplan müssen sie ein Projektgebiet festgelegt. Das Projektgebiet muss alle Gebietskörperschaften umfassen,
    für die Sie Infrastrukturen erfassen, Einwohnerentwicklungen betrachten, Nachfrage abschätzen, Szenarien der Infrastrukturentwicklung durchspielen und
    Versorgungsquoten ermitteln wollen. Auswertungen für Teilbereiche (z.B. einzelne Gemeinden oder Ortsteile) innerhalb dieses Projektgebiets sind möglich.
  </p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Betrachtungszeitraum'"
                    [editTemplate]="projectSettingsEdit"
                    infoText="<b><i>ToDo: Hilfetext</i></b>">
      <table>
        <tr>
          <td i18n>Betrachtungs-<br>zeitraum</td>
          <td>2015 bis 2035</td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card [title]="'Altersgruppeneinteilung'"
                    [editTemplate]="projectSettingsEdit"
                    infoText="<b><i>ToDo: Hilfetext</i></b>">
      <table>
        <tr>
          <td i18n>Altersgruppen</td>
          <td>
            0 bis unter 18 <br>
            18 bis unter 65 <br>
            65 Jahre und älter
          </td>
        </tr>
      </table>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="600px">
    <app-input-card #areaCard
                    [title]="'Projektgebiet'"
                    subtitle="Manuelle Auswahl des Projektgebiets"
                    [topRightHelp]="true"
                    infoText="Um Ihr Projektgebiet festzulegen oder zu verändern, klicken Sie bitte auf „Editieren“. Sie gelangen dann zu einer Kartendarstellung, in der Sie Ihr Projektgebiet aus einzelnen Gemeinden, Verwaltungsgemeinschaften und Landkreisen zusammensetzen können."
                    [editTemplate]="projectAreaEdit"
                    dialogWidth="900px">
      <div id="project-preview-map" class="map-container">
        <app-map-controls></app-map-controls>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #projectSettingsEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>

<ng-template #projectAreaEdit>
  <mat-error *ngFor="let error of projectAreaErrors" class="alert">
    {{ error }}
  </mat-error>
  <div id="project-area-select-map" class="map-container">
    <app-map-controls></app-map-controls>
  </div>
</ng-template>
