#project-preview-map {
  width: 100%;
  height: 500px;
  position: relative;
}

#project-area-select-map {
  height: 600px;
  position: relative;
  width: 100%;
}

#selected-area-list, #available-area-list {
  overflow-y: auto;
  border: 1px solid lightgrey;

  li {
    cursor: pointer;
  }

  mat-icon {
    display: none;
    font-size: 14px;
    height: 14px;
    width: 15px;
    position: relative;
    top: 2px;
  }

  li:hover mat-icon {
    display: inline-block;
  }

}

#selected-area-list {
  max-height: 240px;

  li {
    font-weight: bold;
  }

  li:hover {
    color: red;
  }
}

#available-area-list {
  max-height: 300px;

  li {
    color: grey;
  }

  li:hover {
    color: #2196f3;
  }
}

.age-group-container {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid lightgrey;
  padding: 5px 0 5px 5px;
  > div {
    width: 340px;
    margin: auto;
  }
}

.age-row {
  mat-form-field {
    width: 100px;
  }
}
