eco-fab-speed-dial {
  position: absolute;
}
eco-fab-speed-dial-trigger > button {
  box-shadow: 0px 1px 5px 2px #a7a7a7;
}
#leftDialBack {
  position: absolute;
  width: 230px;
  margin-left: -210px;
  height: 55px;
  text-align: right;
  pointer-events: none;
  div {
    background-color: white;
    width: 0%;
    height: 100%;
    white-space:nowrap;
    display:inline-block;
    transition: width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  }
}

#leftDialBack.expanded div {
  box-shadow: 0px 0px 3px 2px #c7c7c7;
  width: 100%;
}

eco-fab-speed-dial.eco-down .mat-mini-fab {
  border: 2px solid white;
  .mat-icon {
    margin-top: -6px;
    margin-left: 1px;
  }
}
