<div (mouseenter)="showOnHover && toggle()" (mouseleave)="showOnHover && toggle()">
  <div id="leftDialBack" [ngClass]="{'expanded': expanded}">
    <div></div>
  </div>
  <eco-fab-speed-dial #leftDial direction="left" [fixed]="true">
    <eco-fab-speed-dial-actions>
      <button mat-mini-fab
              class="no-shadow"
              color="primary"
              title="Karte ausdrucken"
              (click)="print()">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-mini-fab
              class="no-shadow"
              color="primary"
              title="Karte als Grafik herunterladen"
              (click)="savePNG()">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab
              class="no-shadow"
              color="primary"
              title="Aktuellen Kartenausschnitt speichern"
              [ngbPopover]="saveExtentPopover"
              popoverTitle="Aktuellen Kartenausschnitt speichern"
              placement="bottom"
              triggers="click">
        <mat-icon>bookmark_add</mat-icon>
      </button>
      <button mat-mini-fab
              class="no-shadow"
              color="primary"
              title="Karte auf einen gespeicherten Kartenausschnitt zoomen"
              [ngbPopover]="loadExtentPopover"
              popoverTitle="Kartenausschnitt laden"
              placement="bottom"
              triggers="click">
        <mat-icon>bookmark</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
  <eco-fab-speed-dial #rightDial direction="down" [fixed]="true">
    <eco-fab-speed-dial-trigger [spin]="true">
      <button mat-fab
              class="bordered"
              color="primary"
              title="Kartenfunktionen ein-/ausblenden"
              (click)="toggle()">
        <mat-icon>apps</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button mat-mini-fab
              color="primary"
              class="no-shadow"
              title="In die Karte hineinzoomen"
              (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-mini-fab
              color="primary"
              class="no-shadow"
              title="Aus der Karte herauszoomen"
              (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-mini-fab
              class="no-shadow"
              color="primary"
              title="Karte im Vollbildmodus darstellen"
              (click)="toggleFullscreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
</div>

<ng-template #loadExtentPopover>
  <p *ngFor="let extent of Object.keys(mapControl?.mapExtents)">
    <button mat-button color="primary"
            (click)="loadExtent(extent)">
      {{extent}}
    </button><br>
  </p>
</ng-template>

<ng-template #saveExtentPopover>
  <p *ngFor="let extent of Object.keys(mapControl?.mapExtents)">
    <button mat-button color="primary"
            (click)="saveExtent(extent)">
      {{extent}}
    </button><br>
  </p>
  <button mat-button color="primary"
          class="mat-button-dv"
          (click)="addExtent()" i18n>
    <mat-icon>add</mat-icon>hinzufügen
  </button>
</ng-template>

<ng-template #addExtentTemplate>
  <form [formGroup]="addExtentForm">
    <div fxLayout="column">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
    </div>
  </form>
</ng-template>
