@import "~src/constants";

.symbol {
  min-width: 20px;
  width: 20px;
  margin: 4px;
  border: 2px solid white;
  background-color: white;
}
.symbol.square {
  height: 20px;
}
.symbol.circle {
  height: 20px;
  border-radius: 10px;
}

.symbol.line {
  height: 3px;
  margin-top: 10px;
}

.legend-image-link {
  color: grey;
  margin-right: 3px;
  cursor: pointer;
}

.legend-image-link:hover {
  color: $primary;
}

.legend {
  width: 250px;
  cursor: default;
  user-select: none;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}
.legend-header {
  padding: 10px 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.legend-entry {
  display: flex;
}

.entry-header {
  width: 100%;
}

.entry-prefix {
  width: 30px;
  height: 100%;
  float: left;
}

.entry-title {
  width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .mat-form-field {
    width: 95%;
  }
}

.legend.edit {
  width: 420px;
  .entry-header {
    border-right: 1px solid lightgrey;
    width: 55%;
    padding-right: 5px;
    color: grey;
  }
}
.legend-layer-control {
  display: flex;
  width: 45%;
  padding-left: 5px;
  mat-checkbox {
    position: relative;
    top: 2px;
  }
  mat-slider {
    height: 30px;
  }
  .label-toggle{
    padding-left: 3px;
    color: grey;
    cursor: pointer;
  }
  ::ng-deep {
    .mat-slider-wrapper {
      top: 11px;
    }
    .mat-slider-horizontal {
      min-width: 120px;
    }
  }
}
.checked .entry-title, .entry-title:hover {
  color: $primary !important;
}

::ng-deep app-legend .mat-expansion-panel {
  box-shadow: none;
  .mat-expansion-panel-body {
    padding: 8px 0px 8px 20px;
  }
}
