<div class="legend" [ngClass]="{'edit': editMode}">
  <div class="legend-header">
    <div class="mini-fab-icon">
      <mat-icon>layers</mat-icon>
    </div>
    <span i18n>Legende</span>
    <button mat-icon-button color="primary"
            title="Hilfe"
            tooltip="<p>Die Legende wird in zwei Modi dargestellt, zwischen denen durch Klick auf den Button rechts umgeschaltet werden kann.</p>
            <p>Im kompakten Modus werden in der Legende alle in der Karte aktiv angezeigten Layer und ihre Symbologie gruppiert aufgelistet.</p>
            <p>Im Editiermodus werden alle verfügbaren Layer angezeigt. Sie können einzelne Layer und ihre Darstellung in der Karte aktivieren und deaktivieren. Mit den Schiebereglern wird die Transparenz der jeweiligen Layer eingestellt.</p>"
            [hideDelay]="5000"
            trigger="click"
            tooltipClass="context-tooltip"
            theme="light"
            maxWidth="500px">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button title="In den Editiermodus umschalten" color="primary" *ngIf="!editMode" (click)="editMode = !editMode" mat-icon-button style="box-shadow: none; margin-left: auto;">
      <mat-icon>list</mat-icon>
    </button>
    <button title="In den kompakten Modus umschalten" color="primary" *ngIf="editMode" (click)="editMode = !editMode" mat-mini-fab style="box-shadow: none; margin-left: auto;">
      <mat-icon>list</mat-icon>
    </button>
  </div>
  <div class="legend-body">
    <div *ngFor="let group of Object.keys(layerGroups)">
      <mat-expansion-panel [style.display]="editMode || (activeGroups.indexOf(group) >= 0) ? '': 'none'" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  <!--      <div class="legend-entry" *ngIf="editMode">
          <div class="legend-layer-control" style="text-transform: uppercase; margin-left: auto; color: #00000061;" i18n>Anzeige</div>
        </div>-->
        <div *ngFor="let layer of layerGroups[group].layers">
          <div class="legend-entry" [ngClass]="{'checked': layer.checked}"
                                    *ngIf="editMode || layer.checked">
            <div class="symbol" [style.background]="layer.color || 'white'" [class]="layer.symbol"></div>
            <div class="legend-layer-title" [title]=layer.name>{{ layer.name }}</div>
            <div class="legend-layer-control" *ngIf="editMode">
              <mat-checkbox color="primary" [checked]="layer.checked"
                                            (change)="layer.checked = !layer.checked; filterActiveGroups();"
                                            title="Layer anzeigen/verstecken">
              </mat-checkbox>
              <mat-slider aria-label="Transparenz" color="primary"
                          [disabled]="!layer.checked"
                          (input)="opacityChanged(layer.id, $event.value!)"
                          min="0" max="1" value="1" step="0.001"
                          title="Transparenz">
              </mat-slider>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Hintergrundkarte
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="legend-entry">
        <div class="legend-layer-title">
          <mat-form-field appearance="outline" class="small" style="width: 180px;">
            <mat-select [(ngModel)]="activeBackground" (selectionChange)="this.mapControl.setBackground($event.value); opacityChanged(activeBackground!, backgroundOpacity);">
              <mat-option *ngFor="let layer of backgroundLayers" [value]="layer.id"> {{layer.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="legend-layer-control" *ngIf="editMode" style="padding-left: 10px;">
          <mat-slider aria-label="Transparenz" color="primary"
                      style="margin-top: 10px;"
                      [(ngModel)]="backgroundOpacity"
                      (input)="opacityChanged(activeBackground!, $event.value)"
                      min="0" max="1" value="1" step="0.001">
          </mat-slider>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
