<div *ngIf="mapControl" class="legend" [ngClass]="{'edit': mapControl.editMode }">
  <div class="legend-header">
    <div class="mini-fab-icon">
      <mat-icon>layers</mat-icon>
    </div>
    <span i18n>Legende</span>
    <ng-template #legendPopover>
      <p>Die Legende kann in zwei verschiedenen Ansichten dargestellt werden, zwischen denen durch Klick auf den Button rechts umgeschaltet werden kann.</p>
      <p>In der kompakten Ansicht werden in der Legende alle in der Karte aktiv angezeigten Layer und ihre Symbologie gruppiert aufgelistet.</p>
      <p>Im Editiermodus werden alle verfügbaren Layer angezeigt. Sie können einzelne Layer und ihre Darstellung in der Karte aktivieren und deaktivieren. Mit den Schiebereglern wird die Transparenz der jeweiligen Layer eingestellt.</p>
      <p>derzeit aktiv: <b *ngIf="mapControl.editMode">Editiermodus</b> <b *ngIf="!mapControl.editMode">kompakter Modus</b></p>
    </ng-template>
    <app-help-button style="margin: 0 5px;"
                     [template]="legendPopover"
                     title="Legende" position="left"
                     [top]="-100">
    </app-help-button>
    <button title="In den Editiermodus umschalten" color="primary" *ngIf="!mapControl.editMode" (click)="mapControl.toggleEditMode()" mat-icon-button style="box-shadow: none; margin-left: auto;">
      <mat-icon>list</mat-icon>
    </button>
    <button title="In den kompakten Modus umschalten"
            color="primary" *ngIf="mapControl.editMode"
            (click)="mapControl.toggleEditMode()"
            mat-mini-fab style="box-shadow: none; margin-left: auto;">
      <mat-icon>list</mat-icon>
    </button>
  </div>
  <div class="legend-body">
    <ng-container *ngIf="mapControl">
      <div *ngFor="let group of mapControl.layerGroups">
        <mat-expansion-panel *ngIf="(group.children.length > 0) && ((this.showExternal && group.external) || (this.showInternal && !group.external))"
                             [style.display]="mapControl.editMode || nVisible(group) > 0? '': 'none'"
                             expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{group.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let layer of group.children">
            <div class="legend-entry"
                 [ngClass]="{'checked': layer.visible && !layer.disabled }"
                 *ngIf="mapControl.editMode || (layer.visible && !layer.disabled)">
              <div class="entry-header"
                   [ngbPopover]="layer.description? popover: undefined"
                   placement="left"
                   container="body"
                   triggers="mouseenter:mouseleave">
                <ng-template #popover>
                  <div *ngIf="layer.description" [innerHTML]="layer.description"></div>
                </ng-template>
                <div class="entry-toggle" *ngIf="mapControl.editMode">
                  <mat-checkbox color="primary"
                                [checked]="layer.visible || false"
                                (change)="toggleLayer(layer)"
                                [ngClass]="{'disabled': layer.disabled}"
                                title="Layer anzeigen/verstecken">
                  </mat-checkbox>
                </div>
                <div class="entry-prefix">
                  <ng-container>
                    <ng-container *ngIf="layer.legend">
                      <div title="Farblegende des Layer ein-/ausklappen" (click)="toggleLayerLegend($any(layer))">
                        <mat-icon color="primary" *ngIf="layer.legendElapsed">expand_less</mat-icon>
                        <mat-icon color="primary" *ngIf="!layer.legendElapsed">expand_more</mat-icon>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!layer.legend">
                      <div *ngIf="$any(layer).style" style="cursor: pointer;"
                           class="symbol"
                           [style.background]="(layer.disabled || !layer.visible)? 'lightgrey': $any(layer).style.fillColor || 'white'"
                           [style.border-color]="(layer.disabled || !layer.visible)? 'grey': $any(layer).style.strokeColor || 'white'"
                           [class]="$any(layer).style.symbol">
                      </div>
                      <mat-icon *ngIf="$any(layer).legendUrl"
                                class="legend-image-link"
                                title="Legendenbild anzeigen"
                                (click)="toggleLegendImage(layer)">
                        image
                      </mat-icon>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="entry-title"
                     [style.cursor]="layer.legend? 'pointer': ''"
                     (click)="toggleLayerLegend($any(layer))">
                  {{ layer.name }}
                </div>
              </div>
              <div class="legend-layer-control" [style.display]="mapControl.editMode? '': 'none'">
                <mat-slider aria-label="Transparenz" color="primary"
                            [disabled]="!layer.visible || layer.disabled"
                            min="100px"
                            (input)="layer.setOpacity($event.value || 0 )"
                            min="0" max="1" step="0.001"
                            [value]="layer.opacity"
                            title="Transparenz">
                </mat-slider>
                <div [title]="($any(layer).showLabel)? 'Beschriftung ausschalten': 'Beschriftung einschalten'">
                  <div class="label-toggle" *ngIf="$any(layer).labelField"
                       [ngClass]="{'disabled': !layer.visible || layer.disabled}"
                       (click)="toggleLabel($any(layer))">
                    <mat-icon class="material-icons-outlined">
                      {{($any(layer).showLabel)? 'label': 'label_off'}}
                    </mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="layer.legend && layer.legendElapsed">
              <div class="legend-entry" *ngFor="let entry of layer.legend.entries;">
                <div class="entry-header">
                  <div class="entry-prefix"></div>
                  <div class="row-title">
                    <div class="row-label" style="display: flex">
                      <div *ngIf="entry.color"
                           [style.background]="entry.color"
                           class="symbol"
                           [style.border-color]="entry.strokeColor || 'white'"
                           [class]="$any(layer).style?.symbol? ($any(layer).style?.symbol === 'line')? 'square': $any(layer).style?.symbol: 'circle'">
                      </div>
                      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" [title]="entry.label">{{entry.label}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Hintergrundkarte
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template #backSelectPopover>
          <b>{{ mapControl.background?.name }}</b>
          <p *ngIf="mapControl.background?.description">{{ mapControl.background?.description }}</p>
        </ng-template>
        <div class="legend-entry" style="height: 50px;">
          <div class="entry-header"
               [ngbPopover]="backSelectPopover"
               [disablePopover]="!mapControl.background"
               placement="left"
               container="body"
               triggers="mouseenter:mouseleave">
            <div class="entry-prefix">
              <mat-icon *ngIf="mapControl.background?.legendUrl"
                        class="legend-image-link"
                        title="Legendenbild anzeigen"
                        style="margin-top: 10px;"
                        (click)="toggleLegendImage(mapControl.background!)">
                image
              </mat-icon>
            </div>
            <div class="entry-title">
              <mat-form-field appearance="outline" class="small">
                <mat-select disableRipple [value]="mapControl.background?.id || -100000"
                            (selectionChange)="mapControl.setBackground($event.value);">
                  <mat-option [value]="-100000"> kein Hintergrund </mat-option>
                  <ng-container *ngFor="let layer of mapControl.backgroundLayers">
                    <ng-template #popover>
                      <b>{{ layer.name }}</b>
                      <p *ngIf="layer.description" [innerHTML]="layer.description"></p>
                    </ng-template>
                    <mat-option [ngbPopover]="popover"
                                placement="left"
                                container="body"
                                triggers="mouseenter:mouseleave"
                                [value]="layer.id">
                      {{layer.name}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="legend-layer-control"
               [style.display]="(mapControl.editMode && mapControl.background)? '': 'none'"
               style="padding-left: 10px;">
            <mat-slider aria-label="Transparenz" color="primary"
                        style="margin-top: 10px;"
                        [value]="mapControl.background?.opacity"
                        (input)="setBGOpacity($event.value)"
                        min="0" max="1" step="0.001">
            </mat-slider>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>

<ng-template #legendImage let-layer="layer">
  <img *ngIf="layer.legendUrl" [src]="layer.legendUrl + '&layer=' + layer.layerName">
</ng-template>
