<app-header-card [title]="'Erreichbarkeiten'"
                 cookieId="exp-reach-header"
                 width="1430px">
  <p>Wie schon im vorigen Menüpunkt beschrieben werden die Erreichbarkeitsverhältnisse in Ihrem Projektgebiet anhand von Erreichbarkeitsmatrizen abgebildet.</p>
  <p>Erreichbarkeitsmatrizen sind (große) Tabellen, in denen für ein bestimmtes Verkehrsmittel verzeichnet ist, wie lange man mit diesem von Teilfläche A zu Teilfläche B braucht. Die Teilflächen entsprechend dabei dem europaweit standardisierten 100x100-Meter-LAEA-Raster, auf das bereits im Menüpunkt „Einwohnerraster“ Bezug genommen wurde.</p>
  <p>Diese Erreichbarkeitsmatrizen können Sie auf dieser Seite für die vier Verkehrsmittel „zu Fuß“, „Fahrrad“, „Auto“ und „ÖPNV“ zusammentragen. Dabei können Sie entweder extern vorberechnete Erreichbarkeitsmatrizen hochladen. Alternativ können Sie alle oder einzelne Erreichbarkeitsmatrizen mit einem oder mehreren im vorigen Menüpunkt „Verkehrsnetz“ erzeugten Verkehrsnetzen und deren Routensuchern berechnen.</p>
  <p>Erzeugen Sie nach Möglichkeit für jedes Verkehrsmittel eine Erreichbarkeitsmatrix. Wenn Sie für ein Verkehrsmittel unterschiedliche Entwicklungszustände (z.B. „aktueller Fahrplan“, „geplanter Fahrplan“ oder „mit/ohne neue Ortsumgehung“) abbilden möchten, können Sie für einzelne Verkehrsmittel auch mehrere Erreichbarkeitsmatrizen für die Nutzer*innen des Hauptmenübereichs „Infrastrukturplanung“ bereitstellen. Diese unterschiedlichen Versionen der regionalen Erreichbarkeit können von den Nutzer*innen dann alternativ in ihre Szenarienbetrachtungen integriert werden.</p>
  <p>Um eine Erreichbarkeitsmatrix zu erzeugen, wählen Sie in der Box „Verkehrsmittel“ zunächst das Verkehrsmittel aus, für das sie eine Erreichbarkeitsmatrix hinzufügen oder erzeugen wollen. Klicken Sie dann auf „Hinzufügen“.</p>
  <p>Gehen Sie anschließend zur Box „Ausgewählte Erreichbarkeitsmatrix“. Hier können Sie die Daten dieser Matrix (aus einer externen Vorberechnung) hochladen oder mit Hilfe eines im Menüpunkt „Verkehrsnetz“ erzeugten Routensuchers berechnen. Detail hierzu finden Sie im Hilfetext der Box.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Erreichbarkeitsmatrizen'"
                    subtitle="Erreichbarkeitsmatrix hinzufügen oder auswählen"
                    infoText="<p>Um eine neue Erreichbarkeitsmatrix hinzuzufügen, wählen Sie in der Liste das passende Verkehrsmittel aus und klicken Sie auf „Hinzufügen“. Gehen Sie anschließend zur Box „Ausgewählte Erreichbarkeitsmatrix“. Hier können Sie die Daten dieser Matrix (aus einer externen Vorberechnung) hochladen oder mit Hilfe eines im Menüpunkt „Verkehrsnetz“ erzeugten Routensuchers berechnen. Detail hierzu finden Sie im Hilfetext der Box.</p>
                    <p>Um eine Erreichbarkeitsmatrix wieder zu löschen, wählen Sie diese in der Liste aus und klicken auf „Entfernen“.</p>
                    <p>Wenn Sie für ein Verkehrsmittel mehr als eine Erreichbarkeitsmatrix definiert haben, müssen Sie festlegen, welche davon für das im Hauptmenüabschnitt „Infrastrukturplanung“ immer automatisch erzeugte Planungsszenario „Trendfortschreibung“ verwendet werden soll. Wählen Sie hierzu die betreffende Erreichbarkeitsmatrix in der Liste aus und klicken Sie auf „Als Annahme für Trendfortschreibung festlegen“.</p>">
      <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="mode-select">
        <ng-container *ngFor="let mode of modes">
          <div mat-subheader>
            <mat-icon *ngIf="mode.icon" class="material-icons-outlined" style="font-size: 20px; margin-left: -7px; margin-right: 2px;">{{mode.icon}}</mat-icon>
            <div *ngIf="mode.davicon" class="davicon {{mode.davicon}}" style="font-size: 28px; margin-left: -11px; margin-right: 1px;"></div>
            {{mode.name}}
          </div>
          <mat-list-option *ngFor="let router of mode.routers"
                           (click)="selectedRouter = router"
                           [selected]="(router.id === selectedRouter.id)">
            <div class="option-text">{{router.name}}</div>
            <mat-icon *ngIf="router.id===statusQuoRouters[router.mode]" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
      <button mat-button color="primary"
              (click)="statusQuoRouters[selectedRouter.mode] = selectedRouter.id">
<!--              (click)="statusQuoRouters[selectedRouter.mode] = (statusQuoRouters[selectedRouter.mode]===selectedRouter.id)? undefined : selectedRouter.id">-->
        <mat-icon class="material-icons-outlined">verified</mat-icon>
        Als Annahme für Trendfortschreibung festlegen
      </button>
      <div>
        <button mat-button color="primary"
                class="mat-button-dv">
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="float: right;"
                class="mat-button-dv">
          <!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Erreichbarkeitsmatrix'"
                    [topRightHelp]="true"
                    infoText="<p>Wenn Sie für diese Erreichbarkeitsmatrix Daten aus einer externen Vorberechnung nutzen möchten, können Sie sich mit der Schaltfläche „Template“ eine Vorlagedatei herunterladen. Befüllen Sie diese mit Ihren Matrixdaten und laden Sie sie anschließend mit der Schaltfläche „Daten hochladen“ wieder hoch.</p>
                    <p>Alternativ können Sie die Erreichbarkeitsmatrix auch über die Schaltfläche „Berechnen“ berechnen lassen. Voraussetzung ist, dass Sie im vorigen Menüpunkt „Verkehrsnetz“ ein passendes Verkehrsnetz mit Routensucher erzeugt haben. Dieses können Sie in dem Dialog auswählen, der sich nach dem Anklicken der Schaltfläche „Berechnen“ öffnet.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Verkehrsmittel {{selectedRouter.mode}} / Erreichbarkeitsmatrix „{{selectedRouter.name}}“
          </span>
          <div style="display: flex; margin-top: 15px;">
            <table>
              <tr>
                <td i18n>Wegenetz</td>
                <td>Deutschland 2020</td>
              </tr>
              <tr>
                <td i18n>Buffer um Siedlungszellen</td>
                <td>700m</td>
              </tr>
              <tr>
                <td i18n>berechnet am</td>
                <td>31.05.2022</td>
              </tr>
              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>
            </table>
          </div>
          <button style="margin: 20px 0;" mat-flat-button color="primary">
            <mat-icon>build</mat-icon> Berechnen
          </button>
          <div>
            <button mat-stroked-button color="primary" style="margin-right: 10px;">
              <mat-icon>download</mat-icon> Template
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
            <button mat-mini-fab color="primary"
                    aria-label="Daten herunterladen" title="Daten herunterladen"
                    style="float: right; margin-right: 15px; box-shadow: none;">
              <mat-icon>download</mat-icon>
            </button>
          </div>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log></app-log>
        </div>
      </div>
      <div id="base-reachabilities-map" style="margin-top: 15px;" class="map-container">
        <app-map-controls></app-map-controls>
        <app-side-toggle id="legend"
                         icon="layers"
                         name="Legenden- und Layersteuerung"
                         direction="left">
          <app-legend target="base-reachabilities-map"></app-legend>
        </app-side-toggle>
      </div>
    </app-input-card>
  </div>
</div>
