#year-select {
  min-height: 200px;
  max-height: 300px;
}

#base-real-data-map {
  margin-top: 10px;
  width: 50%;
  height: 500px;
  position: relative;
}

.diagram-container {
  width: 50%;
  height: 500px;
  padding: 10px 0 0 10px;
}

.diagram-wrapper {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}
