@import "~src/constants";

#year-select {
  min-height: 200px;
  max-height: 300px;
}

#base-real-data-map {
  margin-top: 10px;
  width: 50%;
  height: 500px;
  position: relative;
  background-color: white;
}

.diagram-container {
  width: 50%;
  height: 500px;
  padding: 10px 0 0 10px;
}

.diagram-wrapper {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

::ng-deep #years-check-table {
  text-align: center;
  width: 400px;
  td mat-checkbox label{
    margin: 0;
  }
  tr:hover:nth-child(n+3) {
    background-color: #f6f6f6;
  }
  tr.active td:first-child {
    color: $primary;
  }
}
