<app-header-card [title]="'Realdaten (= Einwohnerdaten der zurückliegenden Jahre)'"
                 cookieId="exp-realdata-header"
                 width="1430px">
  <p>Für die Abschätzung der Nachfrage nach Infrastrukturen werden u.a. Einwohnerdaten benötigt. Auf dieser Seite können Realdaten, also Daten zur Einwohnerzahl und Altersstruktur in den zurückliegenden Jahren einlesen. Prognosedaten werden hingegen im entsprechend benannten Menüpunkt eingepflegt.</p>
  <p>Legen Sie zunächst in der Box „Gebietseinteilung“ fest, auf welche Gebietseinteilung sich Ihre Daten beziehen. Häufig ist dies die Ebene „Gemeinden“.</p>
  <p>Klicken Sie anschließend in der Box „Jahre“ auf „Hinzufügen“ und geben Sie die Jahreszahl ein, für die Sie Einwohnerdaten erfassen möchten. Daraufhin haben Sie in der Box „Ergänzende Einwohnerdaten hochladen“ die Möglichkeit eine Vorlagedatei („Template“) für dieses Jahr herunterzuladen. Befüllen Sie diese mit Ihren Daten und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch.</p>
  <p>Wiederholen Sie dieses Vorgehen bitte für alle zurückliegenden Jahre, für die Sie Ihren Nutzer*innen reale Einwohnerdaten zur Verfügung stellen möchten.</p>
  <p>Bereits hochgeladene Daten können über die Bevölkerungspyramide betrachtet werden. Wählen Sie hierzu in der Box „Jahre“ ein Jahr und über die Karte oder die Auswahlliste eine Gebietseinheit aus.</p>
  <p>Zudem sind sie für alle Nutzer*innen im Hauptmenübereich „Bevölkerung“ sichtbar und stehen für Auswertungen im Hauptmenübereich „Infrastrukturplanung“ zur Verfügung.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Einwohnerdaten online abrufen'"
                    infoText="<p>ToDo: nur verfügbar wenn: Gemeinden, Altersgruppen gemäß Regionalstatistik</p>"
                    [subtitle]="'Abruf der Regionalstatistik'">
      <table>
        <tr>
          <td i18n>letzter Abruf</td>
          <td>02.06.2022</td>
        </tr>
      </table>
      <div style="margin-top: 10px">
        <button mat-flat-button color="primary" i18n>
          <mat-icon>refresh</mat-icon> Abrufen
        </button>
      </div>
    </app-input-card>
    <app-input-card [title]="'Jahre'"
                    [editTemplate]="yearsEdit"
                    infoText="<p></p>">
      <table>
        <tr>
          <td i18n>Jahre</td>
          <td>
            <ng-container *ngIf="realYears.length === 0">-</ng-container>
            <ng-container *ngFor="let year of realYears; let i = index;">
              {{year}}<ng-container *ngIf="i !== realYears.length - 1">, </ng-container>
            </ng-container>
          </td>
        </tr>
      </table>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Ergänzende Einwohnerdaten hochladen'"
                    [topRightHelp]="true"
                    infoText="<p>Wenn Sie für dieses Jahr noch keine Einwohnerdaten hochgeladen haben (oder die bereits hochgeladenen Daten ersetzen möchten), können Sie sich mit der Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei im Excelformat  herunterladen. Befüllen Sie diese mit Ihren Daten für das angezeigte Jahr und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch. Zur Kontrolle können Sie sich die hochgeladenen Daten anschließend in der Box „Alterspyramide“ für einzelne Gebiete anschauen. Alternativ können Sie sich die Gesamttabelle des Jahres über die Schaltfläche „Datentabelle ansehen“ anzeigen lassen.</p>
                    <p>Um die Daten weiterer Jahre hochzuladen, fügen Sie bitte in der Box „Jahre“ weitere Jahre hinzu und wiederholen das Vorgehen entsprechend. Für jedes Jahr benötigen Sie eine eigene Vorlagedatei.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <div style="margin-top: 15px; display: flex;">
            <table>
              <tr>
                <td i18n>letzter Upload am</td>
                <td>02.06.2022</td>
              </tr>
            </table>
            <table style="margin-left: 20px; align-self: flex-end;">
<!--              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>-->
            </table>
          </div>
          <div style="margin: 20px 0 10px 0;">
            <button mat-stroked-button color="primary" style="margin-right: 10px;">
              <mat-icon>download</mat-icon> Vorlage herunterladen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
          </div>
          <button class="mat-button-dv"
                  mat-button color="primary" i18n>
            <mat-icon class="material-icons-outlined">table_chart</mat-icon> Datentabelle ansehen
          </button>
          <button mat-mini-fab color="primary"
                  aria-label="Daten herunterladen" title="Daten herunterladen"
                  style="float: right; margin: -10px 15px 0 0; box-shadow: none;">
            <mat-icon>download</mat-icon>
          </button>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
    </app-input-card>
    <app-input-card [title]="'Alterspyramide für ausgewähltes Jahr und ein ausgewähltes Gebiet'"
                    [topRightHelp]="true"
                    subtitle="Auswahl eines Gebiets über die Karte bzw. die Auswahlbox"
                    infoText="<p>Wählen Sie in der Auswahlliste „Gebiet“ ein Gebiet aus, um dessen Einwohnerdaten in der Alterspyramide anzuzeigen. Alternativ können Sie das Gebiet auch durch Anklicken in der Karte auswählen. Die Daten der Alterspyramide beziehen sich auf das in der Box „Jahre“ ausgewählte Jahr. Um für das gleiche Gebiet zwischen den Jahren zu springen, klicken Sie in der Box „Jahre“ ein anderes Jahr an.</p>
                    <p>Voraussetzung für die Anzeige ist, dass Sie bereits Einwohnerdaten für mindestens ein Jahr hochgeladen haben.</p>">
      <div>
        <mat-form-field appearance="outline" class="small">
          <mat-label>Gebiet</mat-label>
          <mat-select disableOptionCentering disableRipple value="irgendwo">
            <mat-option value="irgendwo">
              [Gebietseinheit]
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: 100%; display: flex;">
        <div id="base-real-data-map" class="map-container">
          <app-map-controls target="base-real-data-map"></app-map-controls>
          <app-side-toggle id="legend"
                           icon="layers"
                           name="Legenden- und Layersteuerung"
                           direction="left">
            <app-legend target="base-real-data-map"></app-legend>
          </app-side-toggle>
        </div>
        <div class="diagram-container">
          <div class="diagram-wrapper">
            <img src="{{backend}}/static/img/Bev-pyramide Screenshot.png" width="100%">
          </div>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #yearsEdit>
  <table style="text-align: center;">
    <tr>
      <th colspan="2"></th>
      <th colspan="2">vorhandene Daten</th>
    </tr>
    <tr>
      <th style="text-align: left;">Jahr</th>
      <th>ausgewählt</th>
      <th>Real</th>
      <th>Prognose</th>
<!--      <th>Realdaten löschen</th>-->
    </tr>
    <tr *ngFor="let year of years">
      <td>{{year.year}}</td>
      <td>
        <mat-checkbox color="primary"
                      [checked]="year.isReal"
                      title="das Jahr auswählen als Jahr mit Bevölkerungsdaten ???">
        </mat-checkbox>
      </td>
      <td>
        <mat-checkbox [disabled]="true"
                      [checked]="year.hasRealData"
                      title="Zeigt an, ob für das Jahr bereits Bevölkerungsdaten vorliegen">
        </mat-checkbox>
        <button mat-icon-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td>
        <mat-checkbox [disabled]="true"
                      [checked]="year.hasPrognosisData"
                      title="Zeigt an, ob für das Jahr bereits Prognose vorliegen">
        </mat-checkbox>
      </td>
<!--      <td>
        <button mat-icon-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </td>-->
    </tr>
  </table>
</ng-template>
