<div class="grid-container">
  <mat-grid-list cols='12' rowHeight='200px'>
    <mat-grid-tile colspan='2'>
      <app-dash-card title='Nachfrage nach Leistung'> </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='8'>
      <app-dash-card title='Szenarioauswahl'> </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' class="right">
      <app-dash-card title='Kartenkontrollen'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='100px'>
    <mat-grid-tile colspan='2'>
      <app-dash-card title='Leistungen'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='100px'>
    <mat-grid-tile  colspan='2'>
      <app-dash-card title='Auswahltool'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols='12' rowHeight='200px' class="bottom">
    <mat-grid-tile colspan='2' class="bottom">
      <app-dash-card title='Layer'>
        <app-layer-select target="planning-map"></app-layer-select>
      </app-dash-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='8'>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' class="bottom right">
      <app-dash-card title='Legende'> </app-dash-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
