<app-scenario-menu domain="reachabilities" [ngClass]="{'expanded': planningService.showScenarioMenu}"></app-scenario-menu>
<mat-expansion-panel class="side-toggle" id="scenario-toggle"
                     [expanded]="planningService.showScenarioMenu">
  <mat-expansion-panel-header (click)="planningService.showScenarioMenu=!planningService.showScenarioMenu;">
    <mat-panel-title>
      <div class="mini-fab-icon" [ngClass]="{'primary': planningService.showScenarioMenu}">
        <div class="davicon icon-GGR-davicons-Font-Simple-2-Szenario"></div>
      </div>
      Szenario
      <app-help-button title="Szenario" position="right">
        <p>Sie können sich hier Ihre Erreichbarkeitsszenarien anzeigen lassen, diese editieren, neue hinzufügen und bestehende löschen.</p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-reach-services">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-3-Standorte-Leistungen"></div>
      </div>
      Leistung/en
      <app-help-button title="Leistung/en" position="right">
        <p>Wählen Sie hier im Dropdown-Menü den Infrastrukturbereich und per Checkbox die Leistungen aus dem jeweiligen Infrastrukturbereich aus. Mit dem Klick auf das Filtersymbol können Sie Filter auf Standorte setzen und bearbeiten.</p>
        <p>Cluster, Verdrängung und Zoom auf alle stellen Darstellungsoptionen für die Karte dar. </p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="padding-bottom: 10px;">
    <div style="position: relative;">
      <mat-form-field appearance="outline" class="small">
        <mat-label>Infrastrukturbereich</mat-label>
        <mat-select disableOptionCentering disableRipple
                    [(ngModel)]="selectedInfrastructure"
                    [ngbPopover]="selectedInfrastructure?.description"
                    (ngModelChange)="onInfrastructureChange()"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
          <mat-option [value]="infrastructure" *ngFor="let infrastructure of infrastructures"
                      [ngbPopover]="infrastructure.description"
                      placement="right"
                      container="body"
                      triggers="mouseenter:mouseleave">
            {{infrastructure.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button color="primary" mat-icon-button
              class="filter-button small" title="Standortfilter"
              (click)="onFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
<!--    <div class="sub-select-wrapper" *ngIf="selectedInfrastructure">
      <mat-checkbox *ngFor="let service of selectedInfrastructure.services; let first = first;"
                    [value]="service.name"
                    [checked]="first"
                    color="primary"
                    style="margin-right: 100%;"
                    [ngbPopover]="service.description"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
        {{service.name}}
      </mat-checkbox>
    </div>-->
    <div class="sub-select-wrapper" *ngIf="selectedInfrastructure">
      <mat-radio-group>
        <mat-radio-button *ngFor="let service of selectedInfrastructure.services; let first = first;"
                          [value]="service"
                          [checked]="service === selectedService"
                          (change)="selectedService = service; onServiceChange();"
                          style="margin-right: 100%;"
                          color="primary"
                          [ngbPopover]="service.description"
                          placement="right"
                          container="body"
                          triggers="mouseenter:mouseleave">
          {{service.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <ul style="list-style-type: none; margin: 10px 0 10px -28px;">
      <li><mat-slide-toggle color="primary">Cluster</mat-slide-toggle></li>
      <li><mat-slide-toggle color="primary">Verdrängung</mat-slide-toggle></li>
      <li>
        <div class="row-button">
          <label i18n>Zoom auf alle</label>
          <div class="fill-space"></div>
          <button mat-icon-button color="primary" class="small">
            <mat-icon>location_searching</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-reach-indicator">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-5-Fortbewegung-Wegezeit"></div>
      </div>
      Indikator
      <app-help-button title="Gebietseinheit" position="right">
        Wählen Sie hier den Erreichbarkeitsindikator für die Darstellung in der Karte aus. Dargestelt stellt wird die Erreichbarkeit mit dem unten ausgewählten Verkehrsmittel. Sie haben dabei drei Optionen:
        <ul>
          <li>Erreichbarkeit eines Standortes mit ausgewählter Leistung von allen Wohnstandorten anzeigen (>gewünschten Standort mit Klick in die Karte auswählen)</li>
          <li>Erreichbarkeit aller Standorte mit ausgewählter Leistung von einem Wohnstandort aus anzeigen (>gewünschten Wohnstandort mit Klick in die Karte auswählen)</li>
          <li>Erreichbarkeit des jeweils nächsten Standortes mit ausgewählter Leistung für alle Wohnstandorte. </li>
        </ul>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div id="indicator-select"><!--  <div style="padding-left: 8px;">-->
    <mat-radio-group [(ngModel)]="indicator" (change)="toggleIndicator()">
      <mat-radio-button value="option 1" color="primary" i18n>
        von allen Wohnstandorten <br> zum Angebot
      </mat-radio-button>
      <div class="row-button"
           [ngClass]="{'active': selectPlaceMode, 'disabled': indicator!=='option 1'}"
           (click)="setPlaceSelection(!selectPlaceMode)">
        <label i18n>Einrichtung auswählen</label>
        <div class="fill-space"></div>
        <button color="primary"
                [ngClass]="{inverted: selectPlaceMode}" class="small" mat-icon-button>
          <mat-icon class="material-icons-outlined">pin_drop</mat-icon>
        </button>
      </div>
      <mat-radio-button value="option 2" color="primary" i18n>
        von einem Wohnstandort <br> zu allen Angeboten
      </mat-radio-button>
      <div class="row-button"
           [ngClass]="{'active': placeMarkerMode, 'disabled': indicator!=='option 2'}"
           (click)="setMarkerPlacement(!placeMarkerMode)">
        <label i18n>Wohnstandort auswählen</label>
        <div class="fill-space"></div>
        <button color="primary" *ngIf="!placeMarkerMode" class="small" mat-icon-button>
          <mat-icon class="material-icons-outlined">pin_drop</mat-icon>
        </button>
        <button color="primary" *ngIf="placeMarkerMode" class="small no-shadow" mat-mini-fab>
          <mat-icon class="material-icons-outlined">pin_drop</mat-icon>
        </button>
      </div>
      <mat-radio-button value="option 3" color="primary" i18n>
        von allen Wohnstandorten <br> zum jeweils nächsten Angebot
      </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-reach-modes">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <mat-icon class="material-icons-outlined">directions_bus_filled</mat-icon>
      </div>
      Verkehrsmittel
      <app-help-button title="Gebietseinheit" position="right">
        <p>Wählen Sie hier das Verkehrsmittel für die Erreichbarkeitsdarstellung.</p>
      </app-help-button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div id="mode-select" class="sub-select-wrapper" style="display: flex">
    <div (click)="changeMode(TransportMode.WALK)" title="zu Fuß"
         [ngClass]="{'selected': mode === TransportMode.WALK}">
      <div class="mini-fab-icon primary"
           [ngClass]="{'inverted': mode === TransportMode.WALK}"
           style="cursor: pointer;">
        <mat-icon style="font-size: 20px;" class="material-icons-outlined">directions_walk</mat-icon>
      </div>
      <div>
        zu Fuß
      </div>
    </div>
    <div (click)="changeMode(TransportMode.BIKE)" title="Fahrrad"
         [ngClass]="{'selected': mode === TransportMode.BIKE}">
      <div class="mini-fab-icon primary"
           [ngClass]="{'inverted': mode === TransportMode.BIKE}"
           title="Fahrrad" style="cursor: pointer;">
        <mat-icon style="font-size: 20px;" class="material-icons-outlined">directions_bike</mat-icon>
      </div>
      <div>
        Rad
      </div>
    </div>
    <div (click)="changeMode(TransportMode.CAR)" title="Auto"
         [ngClass]="{'selected': mode === TransportMode.CAR}">
      <div class="mini-fab-icon primary"
           [ngClass]="{'inverted': mode === TransportMode.CAR}"
           style="cursor: pointer;">
        <div class="davicon icon-GGR-davicons-Font-Simple-17-PKW"></div>
      </div>
      <div style="margin-top: -4px;">
        Auto
      </div>
    </div>
    <div title="ÖPNV (nicht verfügbar)" class="disabled"
         [ngClass]="{'selected': mode === TransportMode.TRANSIT}"> <!--(click)="transportMode = TransportMode.TRANSIT"-->
      <div class="mini-fab-icon primary disabled"
           [ngClass]="{'inverted': mode === TransportMode.TRANSIT}"
           style="cursor: pointer;">
        <div class="davicon icon-GGR-davicons-Font-Simple-18-OEPNV"></div>
      </div>
      <div style="margin-top: -4px;">
        ÖPNV
      </div>
    </div>
  </div>
</mat-expansion-panel>

<ng-template #filterTemplate>
  <div style="display: flex; align-items: end; user-select: none;">
    <div>
      <h4>Standortfilter</h4>
      <span class="subtitle1 sub" i18n>Die Tabelle zeigt die gefilterten Standorte im Szenario [Name] im Jahr {{timeSlider.value}}</span>
    </div>
    <div id="time-slider-wrapper" style="display: flex; margin-left: 200px; margin-bottom: 10px;"> <!--margin-left: auto-->
      <div class="time-button" (click)="timeSlider.value = timeSlider.value - 1;">
        <mat-icon color="primary">chevron_left</mat-icon>
      </div>
      <div class="time-button" (click)="timeSlider.value = timeSlider.value + 1;">
        <mat-icon color="primary">chevron_right</mat-icon>
      </div>
      <div style="display: flex; padding: 0px 10px 10px 10px;">
        <label style="padding-top: 25px;">2000</label>
        <mat-slider #timeSlider color="primary"
                    thumbLabel min="2000" max="2100" step="1" value="2010"
                    style="width: 420px; margin-top: 15px;"></mat-slider>
        <label style="padding-top: 25px;">2100</label>
      </div>
    </div>
  </div>
  <app-filter-table maxTableHeight="60vh"></app-filter-table>
</ng-template>
