@import "~src/constants";

#close-button {
  position: absolute;
  right: -15px;
  top: -15px;
}

::ng-deep app-simple-dialog {
  .sub {
    color: grey;
    margin-bottom: 10px;
  }
  h4 {
    color: $accent;
  }
  .mat-dialog-content {
    max-height: 80vh;
  }
}
