#control {
  width: 300px;
  float: left;
}

.grid-container {
  width: calc(100% - 350px);
  float: right;
}

#control mat-card{
  position: relative;
}

#stat-map {
  height: 100%;
  width: 100%;
}
