<div fxFlex fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="center baseline">
  <div fxLayout="column" fxFlex="300px">
    <app-dash-card title='Thema'></app-dash-card>
  </div>
  <div fxLayout="column" fxFlex="40" fxFlex.lt-lg="50" fxFlex.lt-md="100">
    <app-dash-card title='Karte' height="70vh">
      <div id="stat-map" class="map-container"></div>
    </app-dash-card>
  </div>
  <div fxLayout="column" fxFlex="35" fxFlex.lt-lg="80" fxFlex.lt-md="100">
    <app-dash-card title='Diagramm Wanderungssaldo'> </app-dash-card>
    <app-dash-card title='Diagramm Wanderung'> </app-dash-card>
  </div>
</div>
