<div id="wrapper">
  <div id="control">
    <app-dash-card title='Thema'></app-dash-card>
  </div>
  <div class="grid-container">
    <mat-grid-list cols='5' rowHeight='1:1.2'>
      <mat-grid-tile colspan='3' rowspan='2'>
        <app-dash-card title='Karte'>
          <div id="stat-map" class="map-container"></div>
        </app-dash-card>
      </mat-grid-tile>
      <mat-grid-tile colspan='2' rowspan='1'>
        <app-dash-card title='Diagramm Wanderungssaldo'> </app-dash-card>
      </mat-grid-tile>
      <mat-grid-tile colspan='2' rowspan='1'>
        <app-dash-card title='Diagramm Wanderung'> </app-dash-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
