<mat-sidenav #drawer class="context-bar"
             [opened]="(isSM$ | async) === false">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="mini-fab-icon">
          <mat-icon class="material-icons-outlined">show_chart</mat-icon>
        </div>
        Thema
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline" class="small">
      <mat-select disableOptionCentering [(ngModel)]="theme">
        <mat-option value="natur">
          Natürlicher Saldo
        </mat-option>
        <mat-option value="wanderung">
          Wanderung
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ul style="list-style-type: none; margin: 0 -10px;" [style.display]="(theme==='wanderung')? 'block' : 'none'">
      <li><mat-checkbox [checked]="true" color="primary">Zuzüge</mat-checkbox></li>
      <li><mat-checkbox [checked]="true" color="primary">Fortzüge</mat-checkbox></li>
    </ul>
    <ul style="list-style-type: none; margin: 0 -10px;" [style.display]="(theme==='natur')? 'block' : 'none'">
      <li><mat-checkbox [checked]="true" color="primary">Geburten</mat-checkbox></li>
      <li><mat-checkbox [checked]="false" color="primary">Sterbefälle</mat-checkbox></li>
    </ul>
  </mat-expansion-panel>
</mat-sidenav>
<button type="button"
        id="toggle-settings"
        aria-label="Toggle sidenav"
        mat-icon-button
        color="primary"
        (click)="drawer.toggle()"
        *ngIf="isSM$ | async">
  <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
</button>

<div id="diagram-bar">
  <mat-form-field appearance="outline" class="small">
    <mat-label>Gebiet</mat-label>
    <mat-select disableOptionCentering value="irgendwo">
      <mat-option value="irgendwo">
        irgendwo
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div class="diagram-wrapper" style="padding-bottom: 0;">
    <img src="{{backend}}/static/img/Wanderung Screenshot.png" width="100%"/>
  </div>
  <div class="diagram-wrapper" style="padding-bottom: 0;">
    Gesamtgebiet
    <img src="{{backend}}/static/img/Wanderungssaldo Screenshot.png" width="100%"/>
  </div>
</div>

