@import "~src/constants";

#mode-select {
  padding-left: 5px;
  font-size: 14px;
  align-items: start;
  color: grey;
  .mini-fab-icon {
    padding: 2px;
    width: 35px;
    height: 35px;
    margin: auto;
    mat-icon {
      font-size: 20px;
      margin-top: 3px;
      margin-left: 0;
    }
  }
  > div {
    text-align: center;
    min-width: 55px;
    //cursor: pointer;
  }
  > div.disabled {
    color: lightgrey;
    cursor: not-allowed;
  }
  div.selected {
    color: $primary;
  }

  label {
    transform: translateY(-1.59371em) translateX(-0.6em) scale(0.8);
    color: grey;
    background: white;
    position: absolute;
    padding: 0 6px;
  }
}
