<app-header-card [title]="'Leistungen an Standorten'"
                 cookieId="exp-capa-header"
                 width="1430px">
  <p>In diesem Arbeitsschritt legen Sie fest, welche der Leistungen eines Infrastrukturbereichs an welchem der Standorte dieses Infrastrukturbereichs angeboten werden.</p>
  <p>Wenn Sie bei Definition einer Leistung im vorstehenden Menüpunkt „Leistungen“ ausgewählt haben, dass bei dieser die Kapazitäten der Einrichtungen berücksichtigt werden sollen, definieren Sie im gleichen Arbeitsschritt auch, wie viele Plätze (oder sonstige von Ihnen für die Leistung definierte Kapazitätseinheiten) an dem betreffenden Standort zur Verfügung stehen.</p>
  <p>Eine solche Festlegung mit Kapazitätsangabe kann z.B. so aussehen: „Der Standort ‚Kita Zwergenland’ hat 20 Krippenplätze und 40 Hortplätze.“. Bei Leistungen ohne Kapazitätsangabe wäre die Festlegung z.B. „Am Standort ‚Ärztehaus Innenstadt‘ gibt es wohl die Leistung ‚Hausarzt‘ wie auch die Leistung ‚Facharzt (Fachrichtung Gynäkologie)‘).</p>
  <p>Um diese Festlegungen zu treffen, wählen Sie in der Box „Leistungen“ zunächst eine Leistung aus. Für diese können Sie dann in der Box „Standorte mit der ausgewählten Leistung“ eine Vorlagedatei herunterladen. Diese enthält alle Standorte des betreffenden Infrastrukturbereichs. Sie können darin für jeden Standort eintragen, ob die ausgewählte Leistung dort angeboten wird. Wenn dabei Kapazitäten betrachtet werden sollen, tragen Sie die Kapazität ein. Wenn nicht, markieren Sie nur die Standort mit der betreffenden Leistung durch eine „1“.</p>
  <p>Laden Sie die ausgefüllte Vorlagedatei anschließend wieder hoch und kontrollieren Sie das Einleseergebnis in der Karte.</p>
  <p>Wiederholen Sie dieses Vorgehen für alle Leistungen aller Infrastrukturbereiche.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
<!--    <app-input-card>
      <div *ngFor="let infrastructure of infrastructures">
        <div class="cat-select">
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{infrastructure.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let service of infrastructure.services">
              <div>
                {{service.name}}
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </app-input-card>-->
    <app-input-card [title]="'Leistungen'"
                    [subtitle]="'Leistung auswählen, um sie Standorten zuzuordnen'"
                    infoText="<p>Wählen aus der Liste die Leistung aus, die Sie den Standorten zuordnen möchten.</p>
                    <p>Laden Sie anschließend über die Schaltfläche „Vorlage herunterladen“ in der Box „Standorte mit der ausgewählten Leistung“ eine Vorlagedatei herunter und folgen Sie den Anweisungen des dortigen Hilfetextes.</p>">
      <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="service-select">
        <ng-container *ngFor="let infrastructure of infrastructures">
          <div mat-subheader>{{infrastructure.name}}</div>
          <mat-list-option *ngFor="let service of infrastructure.services"
                           (click)="selectedService = service"
                           [selected]="(service.id === selectedService.id)">
            <div class="option-text">{{service.name}}</div>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Standorte mit der ausgewählten Leistung'"
                    [topRightHelp]="true"
                    infoText="<p>Über die Schaltfläche „Vorlage herunterladen“ können Sie sich für die in der Box „Leistungen“ ausgewählte Leistung eine Vorlagedatei für die Standortzuordnung herunterladen.</p>
                    <p>Diese Vorlagedatei enthält alle Standorte des betreffenden Infrastrukturbereichs und sie können darin für jeden Standort eintragen, ob die ausgewählte Leistung dort angeboten wird. Wenn dabei Kapazitäten betrachtet werden sollen, tragen Sie die Kapazität ein. Wenn nicht, markieren Sie nur die Standort mit der betreffenden Leistung durch eine „1“.</p>
                    <p>Laden Sie die ausgefüllte Vorlagedatei anschließend wieder hoch und kontrollieren Sie das Einleseergebnis in der Karte. Sie können darin für jeden Standort eintragen, ob die ausgewählte Leistung dort angeboten wird.</p>
                    <p>Wenn dabei Kapazitäten betrachtet werden sollen, tragen Sie die Kapazität als Zahlenwert ein. Wenn nicht, markieren Sie nur die Standort mit der betreffenden Leistung durch eine „1“.</p>
                    <p>Tragen Sie bei allen Standorten, an denen die betreffende Leistung nicht angeboten wird eine 0 ein oder lassen Sie die betreffenden Felder leer.</p>
                    <p>Laden Sie anschließend die ausgefüllte Datei mit Hilfe der Schaltfläche „Daten hochladen“ wieder hoch. Die eingelesenen Standortzuordnungen (und ggf. Kapazitäten) werden Ihnen in der Karte angezeigt.</p>
                    <p>Wiederholen Sie dieses Vorgehen für alle Leistungen aller Infrastrukturbereiche.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Leistung "{{selectedService.name}}"
          </span>
          <div style="display: flex; margin-top: 15px;">
            <table>
              <tr>
                <td i18n>Standorte mit Leistung</td>
                <td>24 von 102</td>
              </tr>
              <tr>
                <td i18n>Upload am</td>
                <td>02.06.2022</td>
              </tr>
            </table>
            <table style="margin-left: 20px;">
              <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>
            </table>
          </div>
          <div style="margin: 20px 0 10px 0;">
            <button mat-stroked-button color="primary" style="margin-right: 10px;">
              <mat-icon>download</mat-icon> Vorlage herunterladen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
          </div>
          <button class="mat-button-dv"
                  mat-button color="primary" i18n>
            <mat-icon class="material-icons-outlined">table_chart</mat-icon> Datentabelle ansehen
          </button>
          <button mat-mini-fab color="primary"
                  aria-label="Daten herunterladen" title="Daten herunterladen"
                  style="float: right; margin: -10px 15px 0 0; box-shadow: none;">
            <mat-icon>download</mat-icon>
          </button>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
      <div id="base-capacities-map" class="map-container">
        <app-map-controls target="base-capacities-map"></app-map-controls>
        <app-side-toggle id="legend"
                         icon="layers"
                         name="Legenden- und Layersteuerung"
                         direction="left">
          <app-legend target="base-capacities-map"></app-legend>
        </app-side-toggle>
      </div>
    </app-input-card>
  </div>
</div>
