<app-header-card [title]="'Personen und Berechtigungen'"
                 width="1180px">
  Platzhalter: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-input-card #userList
                    [title]="'Benutzerkonten'"
                    subtitle="Konten auswählen und bearbeiten"
                    [dialogTitle]="'Namen der Seite ändern'"
                    infoText="
        Nur Nutzer*innen mit einem Konto haben Zugriff auf das System. <br>
        Hier können Sie neue Konten erstellen und bestehende Konten über die obige Liste bearbeiten oder entfernen.">

      <mat-selection-list [multiple]="false" style="min-height: 300px">
        <mat-list-option *ngFor="let user of users"
                         [value]="user"
                         (click)="onSelect(user)"
                         [selected]="(selectedUser && (user.id === selectedUser.id))">
          <mat-icon *ngIf="!user.isSuperuser" class="material-icons-outlined" mat-list-icon>person</mat-icon>
          <mat-icon *ngIf="user.isSuperuser" class="material-icons-outlined" mat-list-icon>admin_panel_settings</mat-icon>
          <div mat-line>{{ user.username }}</div>
          <div mat-line *ngIf="user.isSuperuser"><i style="font-size: 14px;" i18n>Administrator</i></div>
          <div mat-line *ngIf="!user.isSuperuser"><i style="font-size: 14px;" i18n>{{user.firstName}} {{user.lastName}}</i></div>
        </mat-list-option>
      </mat-selection-list>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="onCreateUser()" i18n>
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="margin-left: 40px;"
                class="mat-button-dv"
                [disabled]="(!selectedUser || selectedUser.isSuperuser) ? true : null"
                (click)="onDeleteUser()" i18n>
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="400px" [ngClass]="{'hidden': !selectedUser}">
    <app-input-card #accountCard
                   [title]="'Konto'"
                   [editTemplate]="accountEdit">
      <table *ngIf="selectedUser">
        <tr>
          <td i18n>Nutzername</td>
          <td>{{selectedUser?.username}}</td>
        </tr>
        <tr>
          <td i18n>Vorname</td>
          <td>{{selectedUser?.firstName || '-'}}</td>
        </tr>
        <tr>
          <td i18n>Nachname</td>
          <td>{{selectedUser?.lastName || '-'}}</td>
        </tr>
        <tr>
          <td i18n>E-Mail</td>
          <td>{{selectedUser?.email || '-'}}</td>
        </tr>
        <tr>
          <td i18n>Passwort</td>
          <td>************</td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card #permissionCard
                    [title]="'Berechtigungen'"
                    [ngClass]="{'hidden': selectedUser?.isSuperuser}"
                    [editTemplate]="permissionEdit">
      <div *ngIf="selectedUser">
        <mat-checkbox disabled [(ngModel)]="selectedUser.profile.adminAccess" i18n>
          Kann Seite administrieren
        </mat-checkbox>
        <mat-checkbox disabled [(ngModel)]="selectedUser.profile.canEditData" i18n>
          Kann Grundlagendaten editieren
        </mat-checkbox>
        <mat-checkbox disabled [(ngModel)]="selectedUser.profile.canCreateScenarios" i18n>
          Kann Planungsprozesse anlegen
        </mat-checkbox>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="400px" [ngClass]="{'hidden': !selectedUser || selectedUser.isSuperuser}">
    <app-input-card [title]="'Datenzugriff'"
                    infoText="Nur Platzhalter, noch nicht funktional."
                    [editTemplate]="dataAccessEdit">
      <div style="display: flex;">
        <mat-checkbox class="infra-check" disabled [checked]="true">
          Schulen
        </mat-checkbox>
        <div class="dotted-fill"></div>
        <mat-checkbox class="sensitive-check" disabled [checked]="true">
          sensible Daten
        </mat-checkbox>
      </div>
      <div style="display: flex;">
        <mat-checkbox disabled [checked]="true">
          Kinderbetreuung
        </mat-checkbox>
        <div class="dotted-fill"></div>
        <mat-checkbox class="sensitive-check" disabled [checked]="true">
          sensible Daten
        </mat-checkbox>
      </div>
      <div style="display: flex;">
        <mat-checkbox disabled [checked]="true">
          Ärzte
        </mat-checkbox>
        <div class="dotted-fill" style="border-color: #00000061"></div>
        <mat-checkbox class="sensitive-check" disabled [checked]="false">
          sensible Daten
        </mat-checkbox>
      </div>
      <div style="display: flex;">
        <mat-checkbox disabled>
          Feuerwehr
        </mat-checkbox>
        <div class="dotted-fill" style="border-color: #00000061"></div>
        <mat-checkbox class="sensitive-check" disabled [checked]="false">
          sensible Daten
        </mat-checkbox>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #accountEdit>
  <form [formGroup]="accountForm">
    <div *ngIf="accountForm.errors">
      <mat-error *ngFor="let error of Object.values(accountForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <div formGroupName="user" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Nutzername</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Vorname</mat-label>
        <input matInput formControlName="firstName"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Nachname</mat-label>
        <input matInput formControlName="lastName"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>E-Mail</mat-label>
        <input matInput formControlName="email"/>
        <mat-error *ngIf="accountForm.get('user')?.get('email')?.errors" i18n>Die E-Mail Adresse hat kein gültiges Format.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-checkbox #passCheck
                    formControlName="changePass"
                    color="primary"
                    style="margin-bottom: 10px;"
                    (change)="onTogglePassChange(passCheck.checked)">
        Passwort ändern
      </mat-checkbox>
      <mat-form-field appearance="fill">
        <mat-label i18n>Passwort</mat-label>
        <input matInput formControlName="password"
               [type]="showAccountPassword ? 'text' : 'password'"
               placeholder="·········" required>
        <fa-icon matSuffix [icon]="showAccountPassword? faEyeSlash: faEye" (click)="showAccountPassword = !showAccountPassword"></fa-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Passwort bestätigen</mat-label>
        <input matInput formControlName="confirmPass"
               [type]="showAccountPassword ? 'text' : 'password'"
               placeholder="·········" required>
        <fa-icon matSuffix [icon]="showAccountPassword? faEyeSlash: faEye" (click)="showAccountPassword = !showAccountPassword"></fa-icon>
        <mat-error *ngIf="accountForm.get('confirmPass')?.errors?.notMatching" i18n>Die Passwörter stimmen nicht überein</mat-error>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #permissionEdit>
  <form [formGroup]="permissionForm">
    <mat-error *ngIf="permissionForm.errors && permissionForm.errors['error']" class="alert">
      {{permissionForm.errors['error']}}
    </mat-error>
    <div formGroupName="profile" fxLayout="column" style="min-height: 100px;">
      <mat-checkbox color="primary"
                    formControlName="adminAccess" i18n>
        Kann Seite administrieren
      </mat-checkbox>
      <mat-checkbox color="primary"
                    formControlName="canEditData" i18n>
        Kann Grundlagendaten editieren
      </mat-checkbox>
      <mat-checkbox color="primary"
                    formControlName="canCreateScenarios" i18n>
        Kann Planungsprozesse anlegen
      </mat-checkbox>
    </div>
  </form>
</ng-template>

<ng-template #createUser>
  <form [formGroup]="createUserForm">
    <div *ngIf="createUserForm.errors">
      <mat-error *ngFor="let error of Object.values(createUserForm.errors)" class="alert">
        {{ error }}
      </mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Nutzername</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Passwort</mat-label>
        <input matInput formControlName="password"
               [type]="showNewUserPassword ? 'text' : 'password'"
               placeholder="·········" required>
        <fa-icon matSuffix [icon]="showNewUserPassword? faEyeSlash: faEye" (click)="showNewUserPassword = !showNewUserPassword"></fa-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Passwort bestätigen</mat-label>
        <input matInput formControlName="confirmPass"
               [type]="showNewUserPassword ? 'text' : 'password'"
               placeholder="·········" required>
        <fa-icon matSuffix [icon]="showNewUserPassword? faEyeSlash: faEye" (click)="showNewUserPassword = !showNewUserPassword"></fa-icon>
        <mat-error *ngIf="createUserForm.get('confirmPass')?.errors?.notMatching" i18n>Die Passwörter stimmen nicht überein</mat-error>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #dataAccessEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>

<ng-template #removeUser>
  <div style="display: flex; align-items: end;">
    <mat-form-field appearance="fill" class="warning" style="width: 300px; margin-right: 10px;">
      <input disabled matInput [value]="selectedUser?.username">
    </mat-form-field>
    <mat-icon class="material-icons-outlined warning" style="font-size: 40px;">report_problem</mat-icon>
  </div>
  <p style="font-size: 0.8em; margin: -15px 0 0 10px;"> Die Entfernung ist dauerhaft und endgültig</p>
</ng-template>
