<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [style.width]="width"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list [style.margin-top]="marginTop">
      <div *ngFor="let item of menuItems">
        <a *ngIf="item.url"
           mat-list-item
           routerLinkActive="active-link"
           [routerLink]="'/'+item.url"
        > {{ item.name }}
        </a>
        <mat-expansion-panel *ngIf="item.children.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let subitem of item.children" mat-list-item routerLinkActive="active-link" [routerLink]="'/'+subitem.url"> {{ subitem.name }} </a>
        </mat-expansion-panel>
      </div>
    </mat-nav-list>

   <!-- <ul>
      <div *ngFor="let item of menuItems">
        <li>
          <a *ngIf="item.url"
             routerLinkActive="active-link"
             [routerLink]="'/'+item.url"
          > {{ item.name }}
          </a>
        </li>
        <mat-expansion-panel *ngIf="item.children.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let subitem of item.children" mat-list-item routerLinkActive="active-link" [routerLink]="'/'+subitem.url"> {{ subitem.name }} </a>
        </mat-expansion-panel>
      </div>
    </ul>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div [style.margin-top]="marginTop" [style.margin-left]="marginRight">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
