.dashboard-card {
  margin: 15px;
}

.dashboard-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}

mat-card {
  display: flex;
  flex-direction: column;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
