.data-preview-edit-button{
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.dashboard-card-content {
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 30px;
}
