<mat-card class="dashboard-card mat-elevation-z0" [style.maxWidth]="width">
  <div class="info-text">
    <mat-expansion-panel class="text-panel" [initiallyExpanded]="true" [cookieExpansion]="cookieId">
      <mat-expansion-panel-header>
        <h4 class="title">{{title}}</h4>
        <mat-icon color="primary" class="material-icons-outlined"
                  style="position: absolute; right: 20px; top: 0;">
          info
        </mat-icon>
      </mat-expansion-panel-header>
      <ng-content></ng-content>
    </mat-expansion-panel>
  </div>
</mat-card>
