<mat-card class="dashboard-card mat-elevation-z0">
  <h2 class="title">{{title}}</h2>
  <h3 *ngIf="subtitle" class="subtitle">{{subtitle}}</h3>
  <ng-content></ng-content>
  <ng-container *ngTemplateOutlet="previewTemplate;"></ng-container>
  <div *ngIf="infoText" class="info-text">
    <h3>INFORMATION</h3>
    {{infoText}}
  </div>
  <div>
    <button #editButton
            *ngIf="editTemplate && !editButton"
            mat-button color="primary"
            style="margin-top: 30px;" i18n>
      <mat-icon fontSet="material-icons-outlined">edit_outline</mat-icon>editieren
    </button>
  </div>
</mat-card>
