$blue-palette: (
  50 : #E3F2FD  ,
  100 : #BBDEFB,
  200 : #90CAF9,
  300 : #64B5F6,
  400 : #42A5F5,
  500 : #2196F3,
  600 : #1E88E5,
  700 : #1976D2,
  800 : #1565C0,
  900 : #0D47A1,
  A100 : #ffffff,
  A200 : #e1ecff,
  A400 : #aeccff,
  A700 : #95bcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$golden-palette: (
  50 : #F9F3E2,
  100 : #F1DFB6,
  200 : #E9CB86,
  300 : #E2B757,
  400 : #DDA837,
  500 : #DA9A22,
  600 : #D6901D,
  700 : #D08217,
  800 : #CA7412,
  900 : #BF600C,
  A100 : #ffd1b2,
  A200 : #ffb27f,
  A400 : #ff944c,
  A700 : #ff8532,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: #2196F3;
$primary-light: #e4f2fe;
//$primary-light: #2196F31F;
$accent-light: #E2B757;
$accent: #DA9A22;
$context-bar-width: 340px;
$warning: #FFCE00;
$warning-light: #FFCE0014;
$error-light: #B0002014;
$darkgrey: #00000061;
$sub-nav-height: 60px;
$light-black: #000000DE;
