@use '~@angular/material' as mat;
@include mat.core();
@import "constants";

$app-primary: mat.define-palette($blue-palette, 500);
$app-accent: mat.define-palette($golden-palette, 500);

$app-typography: mat.define-typography-config(
  $font-family: 'Calibri',
  //$headline: mat.define-typography-level(54px, 54px, 400),
  //$title: mat.define-typography-level(28px, 28px, 500),
  //$subheading-2: mat.define-typography-level(26px, 26px, 400),
  //$subheading-1: mat.define-typography-level(24px, 24px, 400),
  // Todo: menu letter spacing 0.14px
  $body-1: mat.define-typography-level(16px, 24px, 400, $letter-spacing: 0.14px),
  $body-2: mat.define-typography-level(16px, 20px, 400, $letter-spacing: 0.2px),
  $button: mat.define-typography-level(16px, 16px, 500, $letter-spacing: 1.42px),
);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  ),
  typography: $app-typography,
));

//$warn: mat.color($app-warn, 500);

@include mat.core($app-typography);
@include mat.all-component-themes($app-theme);

// non-material headings
// not defined in the typography, messes up default inputs (material typography is be overriden here)
h1 {
  font-size: 54px !important;
  line-height: 54px !important;
  letter-spacing: 0px !important;
  color: $light-black;
}
h2 {
  font-size: 28px !important;
  line-height: 24px !important;
  letter-spacing: 0.21px !important;
  color: $light-black;
}
h3 {
  font-size: 26px !important;
  line-height: 24px !important;
  letter-spacing: 0.2px !important;
  color: $light-black;
}
h4 {
  font-size: 24px !important;
  line-height: 24px !important;
  letter-spacing: 0.18px !important;
  color: $light-black;
}
h5 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: $light-black;
}
h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: bold;
  color: black;
}

.subtitle1 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: bold;
  color: $light-black;
}

.subtitle2 {
  font-size: 14px;
  letter-spacing: 0.11px;
  color: $light-black;
}

.info-text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.29px;
  color: #00000099;
}

.overline{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: $light-black;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: $light-black;
  overflow: hidden;
  //letter-spacing: 0.3px;
}

.logo {
  text-decoration: none;
  color: $light-black;
  display: flex;
  div {
    font-size: 28px;
    padding: 10px 0 0 0 !important;
    display: inline-flex;
    p:first-child{
      color: #a67236
    }
    p:nth-child(2){
      color: #48553d
    }
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .5em .5em 0 .5em!important;
  //color: $primary;
}
.mat-form-field-wrapper{
  padding-bottom: 1em;
}

.mat-form-field-appearance-fill.mat-focused .mat-form-field-flex{
  box-shadow: inset 0px -1px 0px 0px #2196f3;
}

mat-list-option[aria-selected="true"] {
  background-color: $primary-light!important;
  //color: white!important;
}

mat-list-option:not([aria-selected="true"]):hover {
  background-color: $primary-light!important;
}

.cdk-overlay-pane.absolute{
  position: absolute!important;
}

mat-form-field.full {
  width: 100%;
}

.mat-form-field-appearance-outline.small {
  .mat-form-field-infix {
    padding: 0 0 0.5em 0 !important;
  }
  .mat-form-field-label-wrapper {
    top: -1em;
  }
  .mat-form-field-label.mat-empty {
    margin-top: -0.8em;
  }
  .mat-select-arrow-wrapper{
    padding-top: 10px;
  }
  .mat-select-trigger span{
    font-size: 18px!important;
  }
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}

mat-form-field.small {
  font-size: 16px;
}

button.large {
  padding: 10px!important;
}

.hidden {
  display: None!important;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// definition of card styles in app-planning here to pass the styles to its child components (demand, supply ...)

app-planning .mat-grid-list.bottom {
  position: fixed;
  bottom: 10px;
  // not quite sure where the 40px come from but otherwise the element would be wider than the others
  width: calc(100% - 40px);
}

app-planning .mat-grid-tile.bottom mat-card{
  top: auto;
  bottom: 5px;
}

app-planning .mat-grid-tile.right mat-card{
  left: auto;
  right: 5px;
}

app-planning .mat-grid-tile.center mat-card{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

app-planning .grid-container {
  margin: 20px;
  pointer-events: none;
}

app-planning .mat-card {
  max-width: fit-content;
  max-height: fit-content;
  min-width: 300px;
  pointer-events: all;
}

mat-form-field span.mat-form-field-label-wrapper label {
  color:grey !important;
}

mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:grey !important;
}

.map-container {
  width: inherit;
  height: inherit;
  z-index: 0;
}

//app-pop-development #control mat-card, app-pop-statistics #control mat-card{
//  position: relative;
//  margin-bottom: 20px;
//}

.grid-container .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  margin: 0px;
}

button mat-icon {
  margin-left: -2px;
  margin-right: 1px;
  //margin-right: 2px;
}

app-data-card table, app-dash-card table {
  border-collapse: separate;
  border-spacing: 15px 0;
}

app-data-card td, app-dash-card td {
  padding: 3px 0;
}

.main-nav {
  box-shadow: 0px 0px 5px 1px #a7a7a7!important;
}

.sub-nav {
  background-color: white;
  display: flex;
  height: $sub-nav-height;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  position: relative;
  z-index: 11;
}

mat-sidenav-content {
  //background-color: white;
  overflow-x: hidden;
  background-color: white;
}

app-basedata, app-administration{
  mat-sidenav {
    .mat-expansion-panel-header {
      height: 70px !important;
    }
    .mat-expansion-panel-header-title {
      font-size: 18px;
      padding-left: 16px !important;
    }
    .mat-expansion-panel-body {
      padding: 0;
      .mat-list-item-content {
        padding-left: 60px !important;
      }
    }

    mat-expansion-panel.mat-expanded {
      mat-expansion-panel-header {
        background-color: #0000000B !important;
      }
    }
  }
}

.sub-nav span {
  display: flex;
  height: 100%;
}

.sub-nav a {
  font-size: 18px;
  //min-width: 180px;
  color: #00000099;
  text-decoration: none;
  padding: 0 25px;
  //height: calc(100% - 3px);
  //margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  transition: color 0.2s, background-color 0.2s;
}

.sub-nav a:not(.active-link):hover {
  background-color: $primary-light;
  color: black;
}

.sub-nav .active-link {
  color: white;
  background-color: $primary;
}

rect.highlight{
  fill: mat.get-color-from-palette($app-primary, 400)!important;
}

div.tooltip {
  position: absolute;
  //text-align: center;
  padding: 10px;
  font: 12px sans-serif;
  background: white;
  border-radius: 5px;
  border: solid 1px grey;
  pointer-events: none;
  //opacity: 0.9;
  z-index: 100;
  box-shadow: 0px 0px 5px 1px #a7a7a7!important;
}

.separator {
  stroke: #888;
  stroke-width: 1;
  stroke-dasharray: 6, 6;
}

button.mat-icon-button {
  background-color: white;
}

.mat-icon-button mat-icon {
  margin-top: -3px;
  margin-left: 2px;
}

.mat-icon-button:hover {
  background-color: map-get($blue-palette, A200);
}

.dropzone {
  min-height: 300px;
  min-width: 300px;
  display: table;
  width: 100%;
  background-color: white!important;
  border: dashed 2px lightgray;
}

.drop-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mini-fab-icon {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin-right: 20px;
  //line-height: 42px;
  padding: 5px 0;
  overflow: visible;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid $accent;
  color: $accent;
  mat-icon {
    font-size: 26px;
    margin-left: -2px;
  }
  .davicon {
    font-size: 32px;
    margin-left: -2px;
    margin-top: -3px;
  }
}

.mini-fab-icon.primary {
  border: 2px solid $primary;
  color: $primary;
}

.mini-fab-icon.inverted {
  background-color: $accent;
  color: white;
  .davicon {
    color: white;
  }
}
.mini-fab-icon.inverted.primary {
  background-color: $primary;
}

.mat-fab.bordered {
  border: 10px solid white;
  .mat-button-wrapper{
    padding: 0;
  }
  mat-icon {
    margin: -3px 1px 0 0;
  }
}

.mat-form-field-underline {
  display: none;
}

.mat-select-min-line, .mat-select-trigger span, .mat-option.selected {
  font-size: 20px !important;
  color: $primary;
}

.mat-select-disabled .mat-select-min-line {
  color: lightgrey;
}

mat-option.selected {
  margin: -8px 0;
}

.mat-select-panel {
  max-height: 50vh !important;
  margin-top: -10px;
}

.mat-select-panel .info-icon  {
  font-size: 12px !important;
  vertical-align: baseline !important;;
  margin: 0 1px !important;
  width: 10px;
}

.no-shadow {
  box-shadow: none !important;
}

.mat-select-panel .mat-focus-indicator {
  background-color: white !important;
}

.mat-option:not(.mat-option-disabled):hover {
  background-color: $primary-light !important;
}

.mat-button-dv.mat-button-base {
  text-transform: uppercase;
  padding: 0 4px !important;
  font-size: 16px;
  font-weight: bold;

  .mat-button-focus-overlay {
    background-color: transparent!important;
  }

  mat-icon {
    margin: -2px 2px 0 0;
  }
}
.mat-button-dv.mat-button-base:not(.mat-button-disabled) :hover {
  color: map-get($blue-palette, 900);
}


.cdk-overlay-pane.warning {

   mat-dialog-container {
     border-bottom: 5px solid $warning;
   }
}

mat-form-field.warning  .mat-form-field-flex {
  padding-top: 0!important;
  border-left: 3px solid $warning;
  border-radius: 0 4px 4px 0;
  background-image: repeating-linear-gradient(
   -45deg, $warning-light, $warning-light 4px, whitesmoke 4px, whitesmoke 10px) !important;
  input {
    color: black !important;
  }
}

mat-icon.warning {
  color: $warning;
}

.context-bar {
  z-index: 12;
  position: relative;
  width: $context-bar-width;
  overflow-y: auto;
  background-color: white;
  height: 100%;
  box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 20%), 0px 10px 10px 0px rgb(0 0 0 / 14%), 2px 18px 18px 0px rgb(0 0 0 / 12%) !important;
  padding-top: 10px;

  mat-expansion-panel .mat-expansion-panel-header-title {
    text-transform: uppercase;
  }

  mat-expansion-panel-header, mat-expansion-panel.mat-expanded mat-expansion-panel-header {
    height: 68px!important;
    padding: 0px 18px !important;
  }

  .mat-checkbox-label {
    white-space: normal !important; line-height: 1 !important;
  }

  mat-panel-title {
    height: 60px!important;
  }

  .sub-select-box {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid lightgrey;
    label {
      text-transform: uppercase;
      color: $darkgrey;
      font-size: 14px;
    }
  }

  mat-checkbox, mat-radio-button, mat-slide-toggle, .row-button  {
    color: grey;
  }
  .mat-radio-checked, .mat-checkbox-checked, mat-slide-toggle.mat-checked {
    color: $primary;
  }
  .mat-radio-label-content {
    white-space: normal;
    line-height: 1;
  }
  .mat-expansion-panel-body {
    padding: 6px 5px 15px 54px;
    border-bottom: 1px solid $primary-light;
  }
}

app-legend, .context-bar {
  mat-expansion-panel.mat-expanded {
    mat-expansion-panel-header {
      background-color: $primary-light !important;
    }
    mat-panel-title {
      color: black;
    }
  }
}

mat-sidenav, .context-bar, app-legend {
  mat-expansion-panel {
    .mat-expansion-indicator {
      margin-left: -10px;
    }

    .mat-expansion-panel-header:hover {
      background-color: #0000000B !important;

      .mat-expansion-panel-header-title {
        color: black;
      }
    }
  }
}

mat-sidenav, .context-bar, app-legend, .info-text {
  mat-expansion-panel {
    box-shadow: none !important;
    padding: 0 !important;
    /*    .mat-content {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        transition: 0.4s ease-in border-bottom-color;
      }*/
    .mat-expansion-panel-header-title {
      padding: 5px 0;
      color: grey;
      align-items: center;
    }
    .mat-expansion-indicator:after {
      color: $primary;
    }
  }

  mat-expansion-panel.side-toggle {
    .mat-expansion-indicator:after {
      transform: rotate(135deg);
    }
    .mat-expansion-panel-content {
      display: none;
    }
  }
}

app-legend {
  mat-expansion-panel-header, mat-expansion-panel.mat-expanded mat-expansion-panel-header {
    height: 48px!important;
  }
}

app-legend, .info-text {
  mat-expansion-panel .mat-expansion-panel-header-title {
    text-transform: uppercase;
  }
}

.info-text {
  mat-expansion-panel-header {
    padding: 0;
    display: inline-flex;
  }
  .mat-expansion-panel-header:hover {
    background-color: white !important;
  }
  mat-expansion-panel-header, mat-expansion-panel.mat-expanded mat-expansion-panel-header {
    height: 24px!important;
  }
  .mat-expansion-indicator {
    margin-left: 10px;
  }
}

.info-text, .info-text .mat-expansion-panel-body {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .29px;
  color: #0009;
}

mat-sidenav {
  .mat-expansion-panel-body {
    padding: 16px 16px 16px 40px;
  }
}

.mat-mini-fab mat-icon{
  margin-top: -3px;
  margin-left: 1px;
}

.map-drag-element {
  position: absolute;
  display: flex;
  z-index: 4;
  user-select: none;
  .handle {
    background-color: white;
    cursor: move;
    border-radius: 5px 0 0 5px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 3px 1px #a7a7a7;
    z-index: 1;
    mat-icon {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }
}

.drag-indicator{
  position: absolute;
  left: 25px; top: -2px;
  color: lightgrey;
  font-size: 0.6em;
  opacity: 0;
  transition: opacity 0.5s;
}

#info {
  left: 50px;
  top: 20px;
  height: 70px;
}

#time-slider {
  left: 50px;
  bottom: 20px;
  height: 78px;
  //height: 88px;
  mat-slider {
    width: 300px;
  }
  .side-toggle-content {
    //padding: 10px 0;
  }
}

#info:hover, #time-slider:hover {
  .drag-indicator {
    opacity: 1;
  }
}

#info, #time-slider {
  .cdk-drag-handle:hover {
    background-color: $primary-light;
  }
}

app-map-controls {
  position: absolute;
  right: 90px;
  top: 30px;
  z-index: 6;
}

#legend {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 40vh;
  pointer-events: none;
  .side-toggle>div {
    pointer-events: all;
  }
  .legend-body {
    max-height: calc(40vh - 70px);
    overflow-y: auto;
  }
}

.row-button {
  cursor: pointer;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin: 5px 0 5px 0;
  align-items: center;

  label {
    cursor: pointer;
    transition: margin 400ms;
  }
}

.row-button:hover, .row-button.active {
  label {
    margin-left: 10px;
    color: map-get($blue-palette, 600);
  }
  .mat-icon-button {
    background-color: map-get($blue-palette, A200);
  }
}

#background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.context-tooltip {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left!important;
}

.mat-select-panel {
  .mat-icon-button {
    mat-icon {
      margin-left: 7px;
    }
  }
}

.side-toggle-content {
  max-width: 82vw;
}

.mat-selection-list .mat-divider-horizontal {
  width: calc(100% - 20px) !important;
  margin: 10px;
  position: relative !important;
}

.mat-card .mat-divider-horizontal {
  position: relative !important;
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: 60px !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 35px !important;
}
