@use '~@angular/material' as mat;
@include mat.core();
@import "constants";

$app-primary: mat.define-palette($blue-palette, 500);
$app-accent: mat.define-palette($golden-palette, 500);

$app-typography: mat.define-typography-config(
  $font-family: 'Calibri',
  //$headline: mat.define-typography-level(54px, 56px, 400),
 // $title: mat.define-typography-level(20px, 20px, 500),
  $body-1: mat.define-typography-level(18px, 24px, 400),
  $body-2: mat.define-typography-level(16px, 22px, 400),
  $button: mat.define-typography-level(18px, 15px, 500),
);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  ),
  typography: $app-typography,
));

//$warn: mat.color($app-warn, 500);

@include mat.core($app-typography);
@include mat.all-component-themes($app-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #000000DE;
}

mat-list-option[aria-selected="true"] {
  background-color: $accent!important;
  color: white!important;
}

mat-list-option:not([aria-selected="true"]):hover {
  background-color: mat.get-color-from-palette($app-accent, 200) !important;
}

.cdk-overlay-pane.absolute{
  position: absolute!important;
}

mat-form-field.full {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0!important;
}

.mat-form-field-appearance-outline .mat-form-field-label-wrapper {
  top: -1.1em;
}

button.large {
  padding: 10px!important;
}

.hidden {
  display: None!important;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
}

// definition of card styles in app-planning here to pass the styles to its child components (demand, supply ...)

app-planning .mat-grid-list.bottom {
  position: fixed;
  bottom: 10px;
  // not quite sure where the 40px come from but otherwise the element would be wider than the others
  width: calc(100% - 40px);
}

app-planning .mat-grid-tile.bottom mat-card{
  top: auto;
  bottom: 5px;
}

app-planning .mat-grid-tile.right mat-card{
  left: auto;
  right: 5px;
}

app-planning .mat-grid-tile.center mat-card{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

app-planning .grid-container {
  margin: 20px;
  pointer-events: none;
}

app-planning .mat-card {
  max-width: fit-content;
  max-height: fit-content;
  min-width: 300px;
  pointer-events: all;
}

mat-form-field span.mat-form-field-label-wrapper label {
  color:grey !important;
}

mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:grey !important;
}

.map-container {
  width: inherit;
  height: inherit;
  z-index: 0;
}

//app-pop-development #control mat-card, app-pop-statistics #control mat-card{
//  position: relative;
//  margin-bottom: 20px;
//}

.grid-container .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  margin: 0px;
}

button mat-icon {
  margin-left: -2px;
  //margin-right: 2px;
}

app-data-card table, app-dash-card table {
  border-collapse: separate;
  border-spacing: 15px 0;
}

app-data-card td, app-dash-card td {
  padding: 3px 0;
}

.sub-nav {
  //background-color: #fafafa;
  background-color: white;
  display: flex;
  //border-bottom: 1px solid #0000001F;
  height: 60px;
  //padding: 0!important;
  box-shadow: 0px 0px 3px 2px #d9d9d9;
}

mat-sidenav-content {
  //background-color: white;
}

.sub-nav span {
  display: flex;
  height: 100%;
}

.sub-nav a {
  font-size: 18px;
  min-width: 180px;
  color: #00000099;
  text-decoration: none;
  padding: 0 25px;
  height: calc(100% - 3px);
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  transition: color 0.2s, background-color 0.2s;
}

.sub-nav a:not(.active-link):hover {
  background-color: $primary-light;
  color: black;
}

.sub-nav .active-link {
  color: white;
  background-color: $primary;
}

rect.highlight{
  fill: mat.get-color-from-palette($app-accent, 400)!important;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: solid 1px grey;
  pointer-events: none;
  opacity: 0.9;
  z-index: 100;
}

.separator {
  stroke: #888;
  stroke-width: 2;
  stroke-dasharray: 6, 6;
}

button.mat-icon-button {
  background-color: white;
}

.mat-icon-button mat-icon {
  margin-top: -3px;
}

.mat-icon-button:hover {
  background-color: map-get($blue-palette, A200);
}

.dropzone {
  min-height: 300px;
  min-width: 300px;
  display: table;
  width: 100%;
  background-color: white!important;
  border: dashed 2px lightgray;
}

.drop-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mini-fab-icon {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin-right: 20px;
  line-height: 42px;
  padding: 3px 0;
  overflow: visible;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid $accent;
  color: $accent;
}

.mini-fab-icon mat-icon {
  font-size: 26px;
  margin-left: -3px;
}

.mat-form-field-underline {
  display: none;
}

.mat-select-min-line, .mat-select-trigger span, mat-option.selected {
  font-size: 20px!important;
  color: $accent!important;
}

mat-option.selected {
  margin: -8px 0;
}

.mat-select-panel {
  max-height: 50vh!important;
  margin-top: -10px;
}

mat-select mat-icon, .mat-select-panel mat-icon, .mat-select-min-line mat-icon, .mat-select-trigger mat-icon,  {
  font-size: 12px!important;
  vertical-align: baseline!important;;
  margin: 0 3px!important;
  width: 10px;
}

.mat-select-panel .mat-focus-indicator {
  background-color: white!important;
}

.mat-selected {
  color: $accent!important;
}

.mat-option:not(.mat-option-disabled):hover {
  background-color: $primary-light!important;
}

.context-bar {
  width: $context-bar-width;
  background-color: white;
  height: 100%;
  box-shadow: 2px 3px 3px 0px #d9d9d9;
}

app-population .context-bar {
  height: calc(100vh - 120px);
}
