<div>
  <div id="scenario-menu">
    <div #scenario class="scenario-card active" [attr.data-value]="'Status Quo'">
      <div class="scenario-card-header"
           (click)="toggleScenario('Status Quo')">
        Status Quo Fortschreibung
      </div>
      <div class="scenario-card-body">
        <ng-container *ngIf="domain==='demand'">
          <ng-container *ngTemplateOutlet="demandStatusQuo"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='reachabilities'">
          <ng-container *ngTemplateOutlet="reachabilitiesStatusQuo"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='rating'">
          <ng-container *ngTemplateOutlet="ratingStatusQuo"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='supply'">
          <ng-container *ngTemplateOutlet="supplyStatusQuo"></ng-container>
        </ng-container>
      </div>
    </div>
    <div #scenario *ngFor="let scenario of scenarios" [attr.data-value]="scenario"
         class="scenario-card">
      <div class="scenario-card-header"
           (click)="toggleScenario(scenario)">
        {{ scenario }}
      </div>
      <div class="scenario-card-body">
        <ng-container *ngIf="domain==='demand'">
          <ng-container *ngTemplateOutlet="demandScenario"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='reachabilities'">
          <ng-container *ngTemplateOutlet="reachabilitiesScenario"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='rating'">
          <ng-container *ngTemplateOutlet="ratingScenario"></ng-container>
        </ng-container>
        <ng-container *ngIf="domain==='supply'">
          <ng-container *ngTemplateOutlet="supplyScenario"></ng-container>
        </ng-container>
      </div>
    </div>
    <div id="scenario-controls">
      <div>
        <button mat-icon-button color="primary"
                [disabled]="activeScenario === 'Status Quo'"
                (click)="onEditScenario()"
                title="ausgewähltes Szenario editieren">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                (click)="onCreateScenario()"
                title="Szenario erstellen">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                [disabled]="activeScenario === 'Status Quo'"
                (click)="onDeleteScenario()"
                title="ausgewähltes Szenario entfernen">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                title="Hilfe"
                ngbPopover="Sie können sich hier Ihre Erreichbarkeitsszenarien anzeigen lassen, diese editieren, neue hinzufügen und bestehende löschen. "
                popoverTitle="Szenarioverwaltung"
                [autoClose]="true">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="scenario-arrow">
    &#9664;
  </div>
</div>

<ng-template #removeScenario>
  <div style="display: flex; align-items: end;">
    <mat-form-field appearance="fill" class="warning" style="width: 300px; margin-right: 10px;">
      <input disabled matInput [value]="activeScenario">
    </mat-form-field>
    <mat-icon class="material-icons-outlined warning" style="font-size: 40px; align-self: baseline;">report_problem</mat-icon>
  </div>
  <p style="font-size: 0.8em; margin: -15px 0 0 10px;"> Die Entfernung ist dauerhaft und endgültig</p>
</ng-template>

<ng-template #createScenario>
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label i18n>Name des Szenarios</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #editScenario>
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label i18n>Name des Szenarios</mat-label>
      <input matInput [value]="activeScenario">
    </mat-form-field>
  </div>
</ng-template>


<ng-template #demandScenario>
  <div class="scenario-row">
    <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Nachfragequoten anzeigen"
              (click)="onShowDemandQuotaSet()">
      info
    </mat-icon>
    <mat-form-field appearance="standard" class="small">
      <mat-label>Nachfragequoten-Set</mat-label>
      <mat-select disableOptionCentering [value]="quotas[1]">
        <mat-option *ngFor="let quota of quotas" [value]="quota">
          {{quota}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="scenario-row">
    <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Einwohnerentwicklung anzeigen"
              (click)="onShowDemandPlaceholder()">
      info
    </mat-icon>
    <mat-form-field appearance="standard" class="small">
      <mat-label>Einwohnerentwicklung</mat-label>
      <mat-select disableOptionCentering [value]="prognoses[1]">
        <mat-option *ngFor="let prognosis of prognoses" [value]="prognosis">
          {{prognosis}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #demandStatusQuo>
  <div class="scenario-row">
    <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Nachfragequoten anzeigen"
              (click)="onShowDemandQuotaSet()">
      info
    </mat-icon>
    <mat-form-field appearance="standard" class="small">
      <mat-label>Nachfragequoten-Set</mat-label>
      <mat-select [value]="quotas[0]">
        <mat-option [value]="quotas[0]">
          {{quotas[0]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="scenario-row">
    <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Einwohnerentwicklung anzeigen"
              (click)="onShowDemandPlaceholder()">
      info
    </mat-icon>
    <mat-form-field appearance="standard" class="small">
      <mat-label>Einwohnerentwicklung</mat-label>
      <mat-select [value]="prognoses[0]">
        <mat-option [value]="prognoses[0]">
          {{prognoses[0]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<!--  <button mat-button color="primary">{{quotas[0]}}</button>
  <button mat-button color="primary">{{prognoses[0]}}</button>-->
</ng-template>

<ng-template #reachabilitiesScenario>
  <div class="scenario-row">
   <!-- <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Verkehrsmittelvarianten anzeigen">
      info
    </mat-icon>-->
    <mat-form-field appearance="standard" class="small">
      <mat-label>Verkehrsmittelvariante</mat-label>
      <mat-select disableOptionCentering value="Ausbau der B232">
        <mat-option value="Dtl 2021">
          Dtl 2021
        </mat-option>
        <mat-option value="Ausbau der B232">
          Ausbau der B232
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #reachabilitiesStatusQuo>
  <div class="scenario-row">
<!--    <mat-icon class="material-icons-outlined" color="primary"
              title="aktuell eingestellte Verkehrsmittelvarianten anzeigen">
      info
    </mat-icon>-->
    <mat-form-field appearance="standard" class="small">
      <mat-label>Verkehrsmittelvariante</mat-label>
      <mat-select value="Dtl 2021">
        <mat-option value="Dtl 2021">
          Dtl 2021
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #ratingScenario>
  Platzhalter allgemeine Kennwerte
</ng-template>

<ng-template #ratingStatusQuo>
  Platzhalter allgemeine Kennwerte
</ng-template>

<ng-template #supplyScenario>
  <div title="Kennwerte anzeigen"
       style="cursor: pointer; display: flex;"
       (click)="onShowSupplyTable()">
    <div style="align-self: center; margin-right: 10px;">
      <mat-icon class="material-icons-outlined" color="primary">
        info
      </mat-icon>
    </div>
    <div>
      ausgewählte Leistungen: <br>
      Standorte +2<br>
      Plätze +30
    </div>
  </div>
</ng-template>

<ng-template #supplyStatusQuo>
  Platzhalter allgemeine Kennwerte
</ng-template>

<ng-template #supplyScenarioTable>
  Platzhalter für Tabelle mit Änderungen gegenüber des Status Quo<br>
  <i>Funktionalität für den Prototyp noch nicht hinterlegt.</i>
</ng-template>

<ng-template #demandPlaceholderTable>
  <i>Funktionalität für den Prototyp noch nicht hinterlegt.</i>
</ng-template>

<ng-template #demandQuotaDialog>
  <div style="display: flex;">
    <mat-slider #timeSlider color="primary"
                thumbLabel min="2000" max="2100" step="1" value="2010" tickInterval="1"
                style="width: 420px; margin-top: 15px;"></mat-slider>
    <label style="padding-top: 20px;">{{timeSlider.value}}</label>
  </div>
  <div style="width: 100%; display: flex; align-items: stretch;">
    <div style="width: 40%; border: solid #0000001F; padding: 8px;">
      <table style="width: 100%; text-align: center;">
        <tr>
          <th style="text-align: left;">{{timeSlider.value}}</th>
          <th colspan="2" style="text-align: center">Quote (in Prozent)</th>
        </tr>
        <tr>
          <th style="min-width: 20%;"></th>
          <th>weiblich</th>
          <th>männlich</th>
        </tr>
        <tr>
          <td>9 bis unter 12 Jahre</td>
          <td>20</td>
          <td>19</td>
        </tr>
        <tr>
          <td>12 bis unter 15 Jahre</td>
          <td>30</td>
          <td>24</td>
        </tr>
        <tr>
          <td>15 bis unter 20 Jahre</td>
          <td>18</td>
          <td>15</td>
        </tr>
      </table>
    </div>
    <div style="display: flex; width: 55%; margin-left: 10px; flex-flow: row wrap;">
      <span class="subtitle1" style="color: grey;">Nachfragequote nach Altersgruppe im ausgewählten Jahr {{timeSlider.value}}</span>
      <div class="diagram-wrapper" style="width: 100%;">
        <img src="{{backend}}/static/img/Nachfragequoten alle Altersklassen screenshot.png" width="100%">
      </div>
      <span class="subtitle1" style="color: grey;">Nachfragequote der ausgewählten Altersgruppe [xxx] nach Jahr</span>
      <div class="diagram-wrapper" style="width: 100%;">
        <img src="{{backend}}/static/img/Nachfrage Altersklasse screenshot.png" width="100%">
      </div>
    </div>
  </div>
</ng-template>
