<div>
  <div id="scenario-menu">
    <div class="scenario-card">
      <div class="scenario-card-header">
        Status Quo Fortschreibung
      </div>
      <div class="scenario-card-body">
      </div>
    </div>
    <div *ngFor="let scenario of scenarios" class="scenario-card">
      <div class="scenario-card-header">
        {{ scenario }}
      </div>
      <div class="scenario-card-body">
        Hier stehen irgendwelche Eigenschaften des Szenarios
      </div>
    </div>
  </div>
  <div id="scenario-arrow">
    &#9664;
  </div>
</div>
