@import"~src/constants";

#scenario-arrow {
  color: $primary;
  font-size: 34px;
  margin-right: -3px;
  pointer-events: none;
  padding-top: 1px;
  float: left;
}

#scenario-menu {
  background-color: white;
  //border: 1px solid #cbe6f8;
  border-left: 2px solid $primary;
  border-top: 6px solid $primary;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  float: right;
  display: flex;
}

.scenario-card {
  height: 100%;
  width: 200px;
  border: 1px solid #cbe6f8;
  .scenario-card-header {
    height: 50px;
    text-align: center;
    padding: 5px;
    //pointer-events: none;
    cursor: pointer;
    //display: flex;
    //align-items: center;
    //justify-content: center;
  }
  .scenario-card-body {
    //pointer-events: none;
    background-color: #f4f4f4;
    min-height: 85px;
    font-size: 12px;
    //text-align: center;
    padding: 10px;
    mat-form-field {
      width: 100%;
    }
    .scenario-row {
      //position: relative;
      display: flex;
/*      mat-form-field {
        width: 145px;
      }*/
      mat-icon {
        //position: absolute;
        //top: 18px;
        //right: -5px;
        cursor: pointer;
        align-self: end;
        margin-right: 5px;
      }
      mat-icon:hover {
        //background-color: $primary-light;
      }
    }
  }
}
.scenario-card.active {
  border: 1px solid $primary;
  .scenario-card-header {
    background-color: $primary;
    color: white;
  }
  .scenario-card-body {
    background-color: white;
    box-shadow: inset 0 -5px 0 $primary;
  }
}
.scenario-card:not(.active):hover {
  border: 1px solid $primary-light;
  .scenario-card-body {
    background-color: white;
    box-shadow: inset 0 -5px 0 #cbe6f8;
  }
  .scenario-card-header:hover {
    background-color: $primary-light;
  }
  .scenario-card-body:hover {
    background-color: #f4f4f4;
    box-shadow: none;
  }
}

#scenario-controls {
  width: 50px;
  padding-left: 8px;
  display: flex;
  align-items: center;

  button {
    margin: 8px 0;
  }
}

::ng-deep app-scenario-menu {
  .scenario-card:not(.active):not(:hover) {
    .mat-select-min-line, .mat-select-trigger span, .mat-select-arrow, mat-icon {
      color: grey !important;
    }
  }
  .mat-form-field-wrapper{
    padding: 0;
  }
  .mat-form-field {
    font-size: 14px;
    .mat-select-trigger span {
      font-size: 14px !important;
    }
    .mat-form-field-infix {
      padding: 0.2em 0;
    }
    .mat-select-arrow {
      margin-top: 12px;
    }
  }
  [data-value="Status Quo"]{
    .mat-form-field {
      pointer-events: none;
    }
    .mat-select-arrow {
      //display: none;
      opacity: 0;
    }
  }
}
