<app-header-card [title]="'Infrastrukturbereiche'"
                 cookieId="exp-infra-header"
                 width="980px">
  <p>Das Arbeiten mit daviplan gliedert sich anhand von Infrastrukturbereichen (z.B. Kinderbetreuung, Schule, Ärztliche Versorgung, Feuerwehr, …). Diese werden hier definiert.</p>
  <p>Im nachfolgenden Schritt „Koordination der Grundlagendaten“ kann einer oder mehreren Personen die Verantwortung für die Grundlagendaten jeder dieser Infrastrukturbereiche zugeordnet werden. Im Zuge der Erfassung der Grundlagendaten können die Infrastrukturbereich noch weiter ausdifferenziert werden, indem ihnen „Leistungen“ zugewiesen werden. Leistungen im Infrastrukturbereich „Kinderbetreuung“ könnten z.B. Krippe, Elementarbetreuung und Hort sein.</p>
  <p>Legen Sie auf dieser Seite zunächst nur die Infrastrukturbereiche fest.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="400px">
    <app-input-card [title]="'Definierte Infrastrukturbereiche'"
                    subtitle="Diese Infrastrukturbereiche sollen behandelt werden:"
                    infoText="<p>Klicken Sie auf „Hinzufügen“, um der Liste einen Infrastrukturbereich hinzuzufügen. Sie können den neuen Infrastrukturbereich frei definieren oder auf eine der Vorlagen zurückgreifen, die Ihnen dann angezeigt werden.</p>
                    <p>Um einen Infrastrukturbereich umzubenennen oder seine Beschreibung zu verändern, klicken Sie im Bereich „Eigenschaften des ausgewählten Infrastrukturbereichs“ auf „Editieren“.</p>">
      <div style="display: inline-flex;">
        <mat-selection-list [multiple]="false"
                            id="infrastructure-select">
          <mat-list-option *ngFor="let infrastructure of infrastructures"
                           (click)="selectedInfrastructure = infrastructure"
                           [selected]="(infrastructure.id === selectedInfrastructure.id)">
            <div class="option-text">{{infrastructure.name}}</div>
          </mat-list-option>
        </mat-selection-list>
        <div class="order-controls">
          <button mat-icon-button>
            <mat-icon>expand_less</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
      </div>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv" i18n>
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="margin-left: 40px;"
                class="mat-button-dv" i18n>
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="600px">
    <app-input-card [title]="'Eigenschaften des ausgewählten Infrastrukturbereichs'"
                    infoText="<p>Um einen Infrastrukturbereich umzubenennen oder seine Beschreibung zu verändern, klicken Sie auf „Editieren“.</p>
                    <p>Die Beschreibung erscheint als Zusatzinformation in Form eines Tooltips in den Auswahllisten des Hauptmenübereichs „Infrastrukturplanung“. Sie sollte daher möglichst kurz sein.</p>"
                    [editTemplate]="infrastructureEdit">
      <table *ngIf="selectedInfrastructure">
        <tr>
          <td i18n>Name</td>
          <td>{{selectedInfrastructure.name}}</td>
        </tr>
        <tr>
          <td i18n>Beschreibung</td>
          <td>{{selectedInfrastructure.description}}</td>
        </tr>
      </table>
    </app-input-card>
  </div>
</div>

<ng-template #infrastructureEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>
