@import "src/constants";

.coordination-table {
  border-spacing: 0;
  a:not(:hover) {
    background-color: white;
  }
  th {
    color: #00000099;
    text-align: left;
    text-transform: uppercase;
    background-color: #0000000B;
    white-space: nowrap;
    //padding: 10px;
  }
  td, th {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    transition: background-color 0.5s ease;
  }
  td:not(:first-child), td.not-first-child {
    color: #000000BC;
  }
  tr:not(:first-child) {
    td:first-child:not(.not-first-child){
      border-right: 3px solid $accent;
      padding-right: 20px;
    }
  }
  tr:hover {
    td:not(:first-child), td.not-first-child {
      background-color: #0000000B;
    }
  }
}

.rotate {
  transition: transform 0.1s linear;
}

.rotate:hover {
  transform: rotate(-90deg);
}

tr.success {
  td:not(:first-child), td.not-first-child {
    background-color: #f0fff3;
  }
}

tr.warning{
  td:not(:first-child), td.not-first-child {
    background-color: $error-light;
  }
}

tr.in-progress{
  td:not(:first-child), td.not-first-child {
    background-color: #FFCE0014;
  }
}
