<p class="under-construction">
  <mat-icon class="material-icons-outlined">construction</mat-icon>
  Diese Seite ist noch nicht fertig implementiert. Die gezeigten Daten sind zur Zeit nur Platzhalter. Das Layout wird noch überarbeitet.
</p>
<app-header-card [title]="'Erreichbarkeiten'"
                 cookieId="exp-reach-header"
                 width="1430px">
  <p>Wie schon im vorigen Menüpunkt beschrieben werden die Erreichbarkeitsverhältnisse in Ihrem Projektgebiet anhand von Erreichbarkeitsmatrizen abgebildet.</p>
  <p>Erreichbarkeitsmatrizen sind (große) Tabellen, in denen für ein bestimmtes Verkehrsmittel verzeichnet ist, wie lange man mit diesem von Teilfläche A zu Teilfläche B braucht. Die Teilflächen entsprechend dabei dem europaweit standardisierten 100x100-Meter-LAEA-Raster, auf das bereits im Menüpunkt „Einwohnerraster“ Bezug genommen wurde.</p>
  <p>Diese Erreichbarkeitsmatrizen können Sie auf dieser Seite für die vier Verkehrsmittel „zu Fuß“, „Fahrrad“, „Auto“ und „ÖPNV“ zusammentragen. Dabei können Sie entweder extern vorberechnete Erreichbarkeitsmatrizen hochladen. Alternativ können Sie alle oder einzelne Erreichbarkeitsmatrizen mit einem oder mehreren im vorigen Menüpunkt „Verkehrsnetz“ erzeugten Verkehrsnetzen und deren Routensuchern berechnen.</p>
  <p>Erzeugen Sie nach Möglichkeit für jedes Verkehrsmittel eine Erreichbarkeitsmatrix. Wenn Sie für ein Verkehrsmittel unterschiedliche Entwicklungszustände (z.B. „aktueller Fahrplan“, „geplanter Fahrplan“ oder „mit/ohne neue Ortsumgehung“) abbilden möchten, können Sie für einzelne Verkehrsmittel auch mehrere Erreichbarkeitsmatrizen für die Nutzer*innen des Hauptmenübereichs „Infrastrukturplanung“ bereitstellen. Diese unterschiedlichen Versionen der regionalen Erreichbarkeit können von den Nutzer*innen dann alternativ in ihre Szenarienbetrachtungen integriert werden.</p>
  <p>Um eine Erreichbarkeitsmatrix zu erzeugen, wählen Sie in der Box „Verkehrsmittel“ zunächst das Verkehrsmittel aus, für das sie eine Erreichbarkeitsmatrix hinzufügen oder erzeugen wollen. Klicken Sie dann auf „Hinzufügen“.</p>
  <p>Gehen Sie anschließend zur Box „Ausgewählte Erreichbarkeitsmatrix“. Hier können Sie die Daten dieser Matrix (aus einer externen Vorberechnung) hochladen oder mit Hilfe eines im Menüpunkt „Verkehrsnetz“ erzeugten Routensuchers berechnen. Detail hierzu finden Sie im Hilfetext der Box.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'ÖPNV-Netz'"
                    subtitle="ÖPNV-Netz hinzufügen oder auswählen"
                    infoText="">
      <mat-selection-list [multiple]="false"
                          class="categorized"
                          id="mode-select">
        <mat-list-option *ngFor="let variant of variants"
                         (click)="selectedVariant = variant"
                         [selected]="(selectedVariant?.id === variant.id)">
          <div class="option-text">{{variant.label}}</div>
          <mat-icon *ngIf="variant.isDefault" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
        </mat-list-option>
      </mat-selection-list>
      <button mat-button color="primary"
              class="multiline-button"
              (click)="onSetAsDefault()">
<!--              (click)="statusQuoRouters[selectedRouter.mode] = (statusQuoRouters[selectedRouter.mode]===selectedRouter.id)? undefined : selectedRouter.id">-->
        <mat-icon class="material-icons-outlined">verified</mat-icon>
        Als Annahme für Trendfortschreibung festlegen
      </button>
      <div>
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="onEditVariant(true)">
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="float: right;"
                class="mat-button-dv">
          <!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
      <div>
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="onEditVariant()">
          <mat-icon>edit</mat-icon>bearbeiten
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <div fxLayout="row">
      <div style="width: 500px;">
        <app-input-card [title]="'Schritt 1: Haltestellen'"
                        infoText="Platzhalter">
          <span class="subtitle1 sub">
            Haltestellen für „{{selectedVariant?.label}}“
          </span>
          <table>
            <tr>
              <td i18n>Status: </td>
              <td>vorhanden</td>
            </tr>
          </table>
          <div style="display: flex; margin-top: 10px;">
            <button mat-stroked-button color="primary" style="margin-right: 10px;">
              <mat-icon>download</mat-icon> Vorlage Haltestellen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Haltestellen hochladen
            </button>
          </div>
        </app-input-card>
      </div>
      <div style="width: 600px;">
        <app-input-card [title]="'Schritt 2: Reisezeitmatrizen Haltestellen'"
                        infoText="Platzhalter">
          <span class="subtitle1 sub">
            Reisezeitmatrizen für „{{selectedVariant?.label}}“ zwischen Haltestellen
          </span>
          <table>
            <tr>
              <td i18n>Status: </td>
              <td>vorhanden</td>
            </tr>
          </table>
          <div style="display: flex; margin-top: 10px;">
            <div style="width: 45%; display: flex; flex-wrap: wrap;">
              <span class="subtitle1 sub" style="margin-top: 10px;">
                Variante 1: Excel
              </span>
              <button mat-stroked-button color="primary" style="margin-top: 10px;">
                <mat-icon>download</mat-icon> Vorlage Reisezeitmatrix
              </button>
              <button mat-flat-button color="primary" style="margin-top: 10px;">
                <mat-icon>upload</mat-icon> Reisezeitmatrix hochladen
              </button>
            </div>
            <mat-divider [vertical]="true" style="margin: 0 20px;"></mat-divider>
            <div style="width: 45%; display: flex; flex-wrap: wrap;">
              <span class="subtitle1 sub" style="width: 100%; margin-top: 10px;">
                Variante 2: VISUM
              </span>
              <button mat-flat-button color="primary" style="align-self: end;">
                <mat-icon>upload</mat-icon> Visumdatei hochladen
              </button>
            </div>
          </div>
        </app-input-card>
      </div>
    </div>
    <app-input-card [title]="'Schritt 3: Reisezeitmatrizen Standorte'"
                    [topRightHelp]="true"
                    infoText="<p>Wenn Sie für diese Erreichbarkeitsmatrix Daten aus einer externen Vorberechnung nutzen möchten, können Sie sich mit der Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei herunterladen. Befüllen Sie diese mit Ihren Matrixdaten und laden Sie sie anschließend mit der Schaltfläche „Daten hochladen“ wieder hoch.</p>
                    <p>Alternativ können Sie die Erreichbarkeitsmatrix auch über die Schaltfläche „Berechnen“ berechnen lassen. Voraussetzung ist, dass Sie im vorigen Menüpunkt „Verkehrsnetz“ ein passendes Verkehrsnetz mit Routensucher erzeugt haben. Dieses können Sie in dem Dialog auswählen, der sich nach dem Anklicken der Schaltfläche „Berechnen“ öffnet.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Reisezeitmatrizen „{{selectedVariant?.label}}“ <br>
            von Wohnstandorten zu Einrichtungen
          </span>
          <div style="display: flex; margin-top: 15px;">
            <table>
              <tr>
                <td i18n>erzeugt am</td>
                <td>01.01.0001</td>
              </tr>
            </table>
          </div>
          <div style="display: flex; margin-top: 15px;">
          </div>
          <br>
          <div style="display: flex">
          </div>
          <div style="margin-top: 20px;">
            <button mat-flat-button color="primary">
              <mat-icon>build</mat-icon> Erreichbarkeitsmatrix erzeugen
            </button>
          </div>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="200px"></app-log>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #editVariant>
  <form [formGroup]="variantForm">
    <div *ngIf="variantForm.errors">
      <mat-error *ngFor="let error of variantForm.errors | keyvalue" class="alert">
        {{error.key}}: <i>{{error.value}}</i>
      </mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Name des Netzes</mat-label>
        <input matInput formControlName="label" required>
      </mat-form-field>
    </div>
  </form>
</ng-template>
