<div class="loadOverlay" *ngIf="isLoading$ | async" xmlns="http://www.w3.org/1999/html">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'ÖPNV-Netz: Reisezeiten zu den Einrichtungen mit Bus und Bahn'"
                 cookieId="exp-reach-header"
                 width="1170px">
  <p>Auch die Erreichbarkeitsverhältnisse mit Bus und Bahn in Ihrem Planungsraum - nachfolgend vereinfachend „ÖPNV“ genannt - werden anhand von Reisezeitmatrizen abgebildet. </p>
  <p>Im Gegensatz zu den auf der Seite „Straßennetz“ behandelten Verkehrsmitteln Fuß, Rad und Auto sind beim ÖPNV Haltestellen und Fahrpläne zu berücksichtigen. Hierzu laden Sie jedoch nicht den vollständigen Fahrplan in daviplan hoch, sondern nehmen außerhalb von daviplan zwei Auswertungen der Fahrpläne in Ihrem Planungsraum vor und laden nur die Ergebnisse dieser Auswertungen in daviplan hoch. Gehen Sie dabei bitte wie folgt vor: </p>
  <p><b> Schritt 0: ÖPNV-Netz benennen </b></p>
  <p>Um ein ÖPNV-Netz in daviplan zu definieren, klicken Sie in der Eingabebox „ÖPNV-Netze“ auf „Hinzufügen“ und geben Sie dem Netz einen Namen, z.B. „Aktueller Fahrplan, werktags vormittags“. Wählen Sie dieses Netz anschließen in der Liste der ÖPNV-Netz aus, indem Sie es anklicken. Daraufhin erscheinen weitere Eingabeboxen.</p>
  <p>Optional können Sie mehrere ÖPNV-Netze definieren, z.B. um unterschiedliche Zeiträume (Tageszeiten, Werktags/Wochenende) oder Planungsvarianten (aktueller Fahrplan, zukünftiger Fahrplan) abzubilden. Für jedes ÖPNV-Netz durchlaufen Sie die nachfolgenden Schritte entsprechend. Wenn Sie mehrere Netze definiert haben, müssen Sie eines als Standardannahme auswählen. Dieses ÖPNV-Netz liegt dann allen automatisch generierten Szenarien „Trendfortschreibung“ im Anwendungsbereich „Infrastrukturplanung“ zugrunde.</p>
  <p><b>Schritt 1: Haltestellen </b></p>
  <p>In der Eingabebox „Schritt 1: Haltestellen“ müssen Sie eine Liste der Haltestellen in ihrem Planungsraum hochladen. Bitte nutzen Sie hierfür die Excel-Vorlage, die Sie sich über die Schaltfläche „Vorlage Haltestellen“ herunterladen können. Jede Haltestelle braucht neben ihrem Namen eine eindeutige Nummer sowie eine Geokoordinate.</p>
  <p>Die Anzeige „Anzahl Haltestellen” zeigt Ihnen, wie viele Haltestellen ggf. bereits hochgeladen wurden</p>
  <p><b> Schritt 2: Fahrzeiten zwischen den Haltestellen</b></p>
  <p>Anschließend wird von Ihnen in der Eingabebox „Schritt 2“ eine Liste der Fahrzeiten zwischen den in Schritt 1 definierten Haltestellen erwartet. Auch hierfür können Sie sich über die Schaltfläche „Vorlage Fahrzeitenliste“ eine Excel-Vorlage herunterladen und diese anschließend befüllt wieder hochladen. In der erwarteten Liste geben Sie an, von welcher Haltestelle (= Haltestelle-Nummer aus Schritt 1) zu welcher Haltestelle (ebenfalls Haltestelle-Nummer aus Schritt 1) man wie viele Minuten (inkl. Umstiegszeiten, aber ohne Wartezeit an der Starthaltestelle und ohne Zu- und Abgangszeiten an der Start- und Zielhaltestelle) unterwegs ist. Sie können dabei selbst entscheiden, ob Sie jeweils die schnellste, die mittlere oder die häufigste Reisezeit angeben. Wenn sich die Reisezeiten an unterschiedlichen Tagen oder Tageszeiten deutlich unterscheiden, ist es sinnvoll, mehrere Netze zu definieren (Schritt 0).</p>
  <p>Sofern Sie oder eine Ihrer Dienststellen – z.B. das in Ihrer Region tätige ÖPNV-Unternehmen, Ihr Verkehrsverbund oder ein für Sie tätiges Planungsbüro – über das Programm VISUM verfügt, können Sie sowohl die Haltestellenliste (Schritt 1) als auch die Liste der Liste der Fahrzeiten (Schritt 2) direkt aus VISUM exportieren und in daviplan einlesen. In diesem Fall brauchen Sie die Excelvorlage weder herunterladen noch befüllen. Stattdessen laden Sie über die Schaltfläche „VISUM-Datei hochladen“ die Exportdatei aus VISUM hoch. Wie Sie diese erzeugen, erläutert Ihnen das daviplan-Handbuch oder die Anleitung, die Sie über die Schaltfläche „Anleitung VISUM-Datenexport“ herunterladen können. </p>
  <p>Die Anzeige „Anzahl Relationen” zeigt Ihnen, wie viele Reisezeitrelationen zwischen zwei Haltestellen ggf. bereits hochgeladen wurden. </p>
  <p><b>Schritt 3: Reisezeitmatrix ÖPNV erzeugen</b></p>
  <p>Im letzten Schritt werden keine weiteren Daten von Ihnen mehr erwartet. Vielmehr starten Sie mit diesem die daviplan-interne Berechnung der ÖPNV-Reisezeitmatrix. Dabei ermittelt daviplan die ÖPNV-Wegezeiten von allen Wohnstandorten (Rasterzellen) in Ihrem Planungsraum und allen Standorten von Infrastruktureinrichtungen.</p>
  <p><b> Diesen zeitintensiven Rechenschritt sollten Sie erst durchführen, wenn Sie im Menüpunkt „Infrastrukturdaten > Standorte und Kapazitäten“ bereits alle für Ihr Projekt relevanten Standorte hochgeladen haben. Zwar können Sie auch später noch – z.B. im Zuge der Szenarienentwicklung im Bereich „Infrastrukturplanung“ – einzelne Standorte nachdefinieren. Die Neuberechnung der ÖPNV-Reisezeitmatrix dauert jedoch mitunter länger.</b></p>
  <p>Um für Ihre zuvor eingelesenen Standorte der Infrastruktureinrichtungen eine ÖPNV-Reisezeitmatrix zu erstellen, klicken Sie auf „Reisezeitmatrix erzeugen“. Je nach Größe und Netzdichte Ihres Projektgebiets dauert die damit angestoßene Berechnung länger, ggf. auch über eine Stunde.</p>
  <p>Die Anzeige „Anzahl Relationen” zeigt Ihnen, wie viele Reisezeitrelationen zwischen zwei Wohnstandorten (Rasterzellen) und Einrichtungen bereits berechnet wurden.</p>
  <p><b> Historie</b></p>
  <p>Über die Historie können Sie sehen, welche der vorstehenden Arbeitsschritte bereits zu einem früheren Zeitpunkt durchgeführt wurden. Anhand dieser Informationen können Sie entscheiden, ob Datenänderungen an anderer Stelle (z.B. neu hinzugekommene Standorte) ggf. eine Neuberechnung der ÖPNV-Wegezeiten erforderlich machen.</p>
</app-header-card>
<app-status-card *ngIf="isProcessing$ | async">
  Es läuft gerade eine Berechnung im Bereich „Erreichbarkeiten“
</app-status-card>
<div fxLayout="row wrap">
  <app-input-card [title]="'ÖPNV-Netze'"
                  subtitle="ÖPNV-Netz hinzufügen oder auswählen"
                  width="300px"
                  infoText="<p>Klicken Sie auf „Hinzufügen“ um ein ÖPNV-Netz zu definieren. Geben Sie diesem in dem sich dann öffnenden Dialog einen Namen, z.B. „Aktueller Fahrplan, werktags vormittags“. Wählen Sie dieses Netz anschließen in der Liste der ÖPNV-Netz aus, indem Sie es anklicken. Daraufhin erscheinen weitere Eingabeboxen.</p>
                  <p>Optional können Sie mehrere ÖPNV-Netze definieren, z.B. um unterschiedliche Zeiträume (Tageszeiten, Werktags, Wochenende) oder Planungsvarianten (aktueller Fahrplan, zukünftiger Fahrplan) abzubilden.</p>
                  <p>Wenn Sie mehrere Netze definiert haben, müssen Sie eines als Standardannahme auswählen. Dieses ÖPNV-Netz liegt dann allen automatisch generierten Szenarien „Trendfortschreibung“ im Anwendungsbereich „Infrastrukturplanung“ zugrunde.</p>">
    <mat-selection-list [multiple]="false"
                        class="categorized"
                        id="mode-select">
      <mat-list-option *ngFor="let variant of variants"
                       (click)="selectVariant(variant);"
                       [selected]="(selectedVariant?.id === variant.id)">
        <div class="option-text">{{variant.label}}</div>
        <mat-icon *ngIf="variant.isDefault" style="color: #2196F3; position: absolute; right: 0; top: 8px; font-size: 1.2em;">verified</mat-icon>
      </mat-list-option>
    </mat-selection-list>
    <button mat-button color="primary"
            class="multiline-button"
            (click)="onSetAsDefault()">
<!--              (click)="statusQuoRouters[selectedRouter.mode] = (statusQuoRouters[selectedRouter.mode]===selectedRouter.id)? undefined : selectedRouter.id">-->
      <mat-icon class="material-icons-outlined">verified</mat-icon>
      Als Grundlage für alle Szenarien 'Status Quo Fortschreibung' verwenden
    </button>
    <div>
      <button mat-button color="primary"
              class="mat-button-dv"
              (click)="onEditVariant(true)">
        <mat-icon>add</mat-icon>hinzufügen
      </button>
      <button mat-button color="primary"
              style="float: right;"
              class="mat-button-dv"
              (click)="onDeleteVariant()">
        <!--                [disabled]="selectedQuota==='aktuelle Quoten'"-->
        <mat-icon>close</mat-icon>entfernen
      </button>
    </div>
    <div>
      <button mat-button color="primary"
              class="mat-button-dv"
              (click)="onEditVariant()">
        <mat-icon>edit</mat-icon>bearbeiten
      </button>
    </div>
  </app-input-card>
  <div fxLayout="column">
    <app-input-card [title]="'Schritt 1: Haltestellen'"
                    [disabled]="!!(isProcessing$ | async)"
                    [class.hidden]="!selectedVariant"
                    width="450px"
                    infoText="<p>Für das ausgewählte ÖPNV-Netz können Sie hier eine Liste der Haltestellen in ihrem Planungsraum hochladen. Bitte nutzen Sie hierfür die Excel-Vorlage, die Sie sich über die Schaltfläche „Vorlage Haltestellen“ herunterladen können. </p>
                    <p>Jede Haltestelle braucht neben ihrem Namen eine eindeutige Nummer sowie eine Geokoordinate. </p>
                    <p>Sofern Sie oder einer Ihrer Dienstleister/innen über das Programm VISUM verfügt, können die Haltestellenliste direkt aus VISUM exportieren und in daviplan einlesen. Hierzu finden Sie über die Schaltfläche „Anleitung VISUM-Datenexport“ in der Eingabebox zu Schritt 2 sowie im daviplan-Handbuch eine detaillierte Anleitung. </p>
                    <p>Die Anzeige „Anzahl Haltestellen” zeigt Ihnen, wie viele Haltestellen ggf. bereits hochgeladen wurden. Laden Sie sich die Vorlage auch dann herunter, wenn Sie Haltestellen hinzufügen oder korrigieren möchten.</p>">
      <span class="subtitle1 sub">
        Haltestellen für „{{selectedVariant?.label}}“
      </span>
      <table>
        <tr>
          <td i18n>Anzahl Haltestellen: </td>
          <td>{{(this.statistics?.nStops && this.selectedVariant)? (this.statistics!.nStops![this.selectedVariant.id]?.toLocaleString() || 'keine'): 'keine'}}</td>
        </tr>
      </table>
      <div style="display: flex; margin-top: 10px;">
        <button mat-stroked-button color="primary" style="margin-right: 10px;" (click)="downloadTemplate()">
          <mat-icon>download</mat-icon> Vorlage Haltestellen
        </button>
        <button mat-flat-button color="primary" (click)="uploadStops()">
          <mat-icon>upload</mat-icon> Haltestellen hochladen
        </button>
      </div>
    </app-input-card>
    <app-input-card [title]="'Schritt 2: Fahrzeiten zwischen den Haltestellen'"
                    [disabled]="!!(isProcessing$ | async)"
                    [class.hidden]="!selectedVariant"
                    width="450px"
                    infoText= "<p> In dieser Eingabebox wird eine Liste der Reisezeiten zwischen den in Schritt 1 definierten Haltestellen von Ihnen erwartet. Hierfür können Sie sich über die Schaltfläche „Vorlage Fahrzeitenliste“ eine Excel-Vorlage herunterladen und diese anschließend befüllt wieder hochladen. </p
                    <p>In der erwarteten Liste geben Sie an, von welcher Haltestelle (= Haltestelle-Nummer aus Schritt 1) zu welcher Haltestelle (ebenfalls Haltestelle-Nummer aus Schritt 1) man wie viele Minuten (inkl. Umstiegszeiten, aber ohne Wartezeit an der Starthaltestelle) unterwegs ist. </p>
                    <p>Sie können dabei selbst entscheiden, ob Sie die schnellste, die mittlere oder die häufigste Reisezeit angeben. Wenn sich die Reisezeiten an unterschiedlichen Tagen oder Tageszeiten deutlich unterscheiden, ist es sinnvoll, mehrere Netze zu definieren (Schritt 0). </p>
                    <p>Sofern Sie, Ihr ÖPNV-Unternehmen, Ihr Verkehrsverbund oder ein für Sie tätiges Planungsbüro über das Programm VISUM verfügt, können Sie sowohl die Haltestellenliste (Schritt 1) als auch die Liste der Liste der Fahrzeiten (Schritt 2) direkt aus VISUM exportieren und in daviplan einlesen. In diesem Fall brauchen Sie die Excelvorlage weder herunterladen noch befüllen. Stattdessen laden Sie über die Schaltfläche „VISUM-Datei hochladen“ die Exportdatei aus VISUM hoch. Wie Sie diese erzeugen, erläutert Ihnen das daviplan-Handbuch oder die Anleitung, die Sie über die Schaltfläche „Anleitung VISUM-Datenexport“ herunterladen können.</p>
                    <p>Die Anzeige “Anzahl Relationen”  zeigt Ihnen, wie viele Reisezeitrelationen zwischen zwei Haltestellen ggf. bereits hochgeladen wurden. Laden Sie sich die Vorlage auch dann herunter, wenn Sie Reisezeitrelationen hinzufügen oder korrigieren möchten.</p>">
      <span class="subtitle1 sub">
        Fahrzeitliste für „{{selectedVariant?.label}}“ zwischen Haltestellen
      </span>
      <table>
        <tr>
          <td i18n>Anzahl Relationen: </td>
          <td>{{(this.statistics?.nRelsStopStopModevariant && this.selectedVariant)? (this.statistics!.nRelsStopStopModevariant![this.selectedVariant.id]?.toLocaleString() || 'keine'): 'keine'}}</td>
        </tr>
      </table>
      <div style="display: flex; margin-top: 10px;">
        <div style="width: 55%; display: flex; flex-wrap: wrap;">
          <span class="subtitle1 sub" style="margin-top: 10px;">
            Variante 1: Excel
          </span>
          <button mat-stroked-button color="primary"
                  style="margin-top: 10px;"
                  (click)="downloadTemplate(true)">
            <mat-icon>download</mat-icon> Vorlage Fahrzeitenliste
          </button>
          <button mat-flat-button color="primary"
                  style="margin-top: 10px;"
                  (click)="uploadMatrix()">
            <mat-icon>upload</mat-icon> Fahrzeitenliste
          </button>
        </div>
        <mat-divider [vertical]="true" style="margin: 0 20px;"></mat-divider>
        <div style="width: 40%; display: flex; flex-wrap: wrap;">
          <span class="subtitle1 sub"
                style="width: 100%; margin-top: 10px;">
            Variante 2: VISUM
          </span>
          <a mat-stroked-button color="primary"
             style="margin-top: 10px;"
             href="{{backend}}/static/Berechnung_Reisezeitmatrix_Haltestellen_VISUM.pdf"
             target="_blank">
            <mat-icon>menu_book</mat-icon>
            Anleitung
          </a>
          <button mat-flat-button color="primary"
                  style="margin-top: 10px;"
                  (click)="uploadMatrix(true)">
            <mat-icon>upload</mat-icon> VISUM-Datei
          </button>
        </div>
      </div>
    </app-input-card>
    <app-input-card [title]="'Schritt 3: Reisezeitmatrix ÖPNV erzeugen'"
                    [class.hidden]="!selectedVariant"
                    width="450px"
                    [disabled]="!!(isProcessing$ | async)"
                    infoText="<p>Mit einem Klick auf die Schaltfläche „Reisezeitmatrix erzeugen“ starten Sie die daviplan-interne Berechnung der ÖPNV-Reisezeitmatrix. Dabei ermittelt daviplan die ÖPNV-Wegezeiten von allen Wohnstandorten (Rasterzellen) in Ihrem Planungsraum und allen Standorten von Infrastruktureinrichtungen.</p>
                    <p>Diesen zeitintensiven Rechenschritt sollten Sie erst durchführen, wenn Sie im Menüpunkt „Infrastrukturdaten > Standorte und Kapazitäten“ bereits alle für Ihr Projekt relevanten Standorte hochgeladen haben. Zwar können Sie auch später noch – z.B. im Zuge der Szenarienentwicklung im Bereich „Infrastrukturplanung“ – einzelne Standorte nachdefinieren. Die Neuberechnung der ÖPNV-Reisezeitmatrix dauert jedoch mitunter länger.</p>
                    <p>Die Anzeige „Anzahl Relationen” zeigt Ihnen, wie viele Reisezeitrelationen zwischen zwei Wohnstandorten (Rasterzellen) und Einrichtungen bereits berechnet wurden.</p>">
      <span class="subtitle1 sub">
        Reisezeitmatrix „{{selectedVariant?.label}}“ <br>
        von Wohnstandorten zu Einrichtungen
      </span>
      <table>
        <tr>
          <td i18n>Anzahl Relationen: </td>
          <td>{{(this.statistics?.nRelsPlaceCellModevariant && this.selectedVariant)? (this.statistics!.nRelsPlaceCellModevariant![this.selectedVariant.id]?.toLocaleString() || 'keine'): 'keine'}}</td>
        </tr>
      </table>
      <button style="margin-top: 10px;"
              mat-flat-button color="primary"
              (click)="createMatrices()">
        <mat-icon>build</mat-icon> Reisezeitmatrix erzeugen
      </button>
    </app-input-card>
  </div>
  <app-input-card subtitle="Daten-Historie Erreichbarkeiten"
                  width="380px"
                  infoText="<p>Die Liste zeigt Ihnen eine Chronik aller Datenimporte und Berechnungen im Bereich „Erreichbarkeiten“.</p>">
    <app-log room="routing" (onMessage)="onMessage($event)" height="350px"></app-log>
  </app-input-card>
</div>

<ng-template #editVariant>
  <form [formGroup]="variantForm">
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Name des Netzes</mat-label>
        <input matInput formControlName="label" required>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #fileUploadTemplate let-accept="accept">
  <input #fileInput type="file" [accept]="accept" (change)="setFiles($event)">
</ng-template>
