<mat-form-field appearance="outline" class="small">
  <mat-label>Infrastrukturbereich</mat-label>
  <mat-select disableOptionCentering disableRipple
              [(ngModel)]="selectedInfrastructure"
              (selectionChange)="onInfrastructureChange()"
              [ngbPopover]="selectedInfrastructure?.description"
              placement="right"
              container="body"
              triggers="mouseenter:mouseleave">
    <mat-option [value]="infrastructure" *ngFor="let infrastructure of activeInfrastructures"
                [ngbPopover]="infrastructure.description"
                placement="right"
                container="body"
                triggers="mouseenter:mouseleave">
      {{infrastructure.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="sub-select-wrapper" *ngIf="selectedInfrastructure">
  <mat-radio-group>
    <mat-radio-button *ngFor="let service of selectedInfrastructure?.services"
                      [value]="service"
                      [checked]="service.id === selectedService?.id"
                      (change)="selectedService = service; onServiceChange();"
                      color="primary"
                      [ngbPopover]="service.description"
                      style="width: 100%;"
                      placement="right"
                      container="body"
                      triggers="mouseenter:mouseleave">
      {{service.name}}
    </mat-radio-button>
  </mat-radio-group>
</div>
