<div style="position: relative;">
  <div class="loadOverlay" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div cdkDragHandle cdkDrag
       cdkDragRootElement=".cdk-overlay-pane"
       style="cursor: move;">
    <fa-icon class="drag-indicator" matSuffix [icon]="faArrows"></fa-icon>
    <h5 mat-dialog-title>
      <mat-icon *ngIf="data.headerIcon" style="margin-right: 8px;">{{ data.headerIcon }}</mat-icon>
      {{ data.title }}
    </h5>
    <button class="inverse small"
            mat-icon-button
            mat-dialog-close
            title="Dialog schließen"
            id="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content [style.resize]="data.resizable? 'both': ''" [style.minWidth]="data.minWidth">
    <ng-container *ngTemplateOutlet="data.template; context: data.context"></ng-container>
    <div [innerHTML]="data.text"></div>
  </mat-dialog-content>
</div>
