<div style="position: relative; cursor: move;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h5 mat-dialog-title>
<!--    <mat-icon style="margin-right: 8px;">help_outline</mat-icon> -->
    <fa-icon matSuffix [icon]="faArrows" style="margin: 1px 8px -1px 0; font-size: 20px;"></fa-icon>
    {{ data.title }}
  </h5>
  <button class="inverse small" mat-icon-button mat-dialog-close id="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div [innerHTML]="data.text"></div>
</mat-dialog-content>
