.mat-select-panel {
  max-height: unset !important;
}

#planning-map {
  position: fixed;
  height: 100%;
  width: 100%;
}

mat-toolbar mat-form-field {
  font-size: 15px;
  margin-right: 30px;
  margin-top: 15px;
}
