<mat-toolbar class="sub-nav">
<!--  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>-->
  <div id="process-select">
    <div class="mini-fab-icon">
      <mat-icon class="material-icons-outlined">sick</mat-icon>
    </div>
    <mat-form-field appearance="standard" class="">
      <mat-label>Planungsprozess</mat-label>
      <mat-select [formControl]="processForm" disableOptionCentering (selectionChange)="onProcessChange($event.value)">
        <mat-select-trigger>
          <span *ngIf="activeProject">
            {{ activeProject.name }}
          </span>
        </mat-select-trigger>
        <mat-option *ngIf="activeProject" disabled class="selected">
          {{ activeProject.name }}
          <mat-icon *ngIf="activeProject.shared">share</mat-icon>
<!--          <mat-icon *ngIf="!activeProject.shared">person</mat-icon>-->
          <mat-icon *ngIf="activeProject.editable === false" class="material-icons-outlined" style="color: red;">cancel</mat-icon>
          <i *ngIf="activeProject.user" style="font-size: 12px; margin-left: 3px;">({{ activeProject.user }})</i>
        </mat-option>
        <mat-optgroup label="Meine Projekte">
          <mat-option *ngFor="let project of myProjects" [value]="project.id">
            {{ project.name }}
<!--            <mat-icon *ngIf="!project.shared">person</mat-icon>-->
            <mat-icon *ngIf="project.shared">share</mat-icon>
          </mat-option>
          <mat-option title="Prozess hinzufügen"><mat-icon style="font-size: 1.2em;">add</mat-icon></mat-option>
        </mat-optgroup>
        <mat-optgroup *ngIf="sharedProjects" label="Geteilte Projekte">
          <mat-option *ngFor="let project of sharedProjects" [value]="project.id">
            {{ project.name }}
            <mat-icon>share</mat-icon>
            <mat-icon *ngIf="project.editable === false" class="material-icons-outlined" style="color: red;">cancel</mat-icon>
            <i style="font-size: 12px; margin-left: 3px;">({{ project.user }})</i>
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <span fxShow="true" fxHide.lt-md="true">
    <a routerLink="/planung/nachfrage" routerLinkActive="active-link" i18n> Nachfrage </a>
    <a routerLink="/planung/angebot" routerLinkActive="active-link" i18n> Angebot </a>
    <a routerLink="/planung/erreichbarkeiten" routerLinkActive="active-link" i18n> Erreichbarkeiten </a>
    <a routerLink="/planung/bewertung" routerLinkActive="active-link" i18n> Bewertung </a>
  </span>
</mat-toolbar>
<div class="map-wrapper">
  <div id="planning-map" class="map-container">
    <div id="info" class="map-drag-element" cdkDrag cdkDragBoundary="#planning-map">
      <div class="handle" title="Anzeigeinformationen" cdkDragHandle>
        <mat-icon color="primary">info</mat-icon>
      </div>
      <app-side-toggle [fullHeightIndicator]="true" expanded>
        <div style="padding: 10px" [innerHTML]="this.mapControl?.mapDescription"></div>
      </app-side-toggle>
    </div>
    <div id="time-slider" class="map-drag-element" cdkDrag cdkDragBoundary="#planning-map">
      <div class="handle" title="Anzeigezeit" cdkDragHandle>
        <mat-icon color="primary">query_builder</mat-icon>
      </div>
      <app-side-toggle [fullHeightIndicator]="true" expanded>
        <div style="padding: 15px 10px 5px 10px">
          <label>2017</label>
          <mat-slider thumbLabel aria-label="Jahr" color="primary"
                      min="2017" max="2039" value="2020" step="1">
          </mat-slider>
          <label>2039</label>
        </div>
      </app-side-toggle>
    </div>
    <app-map-controls></app-map-controls>
  </div>
</div>
<app-scenario-menu [ngClass]="{'expanded' : showScenarioMenu}"></app-scenario-menu>
<div class="context-bar">
  <mat-expansion-panel id="scenario-toggle" class="side-toggle">
    <mat-expansion-panel-header (click)="toggleScenarioMenu()">
      <mat-panel-title>
        <div class="mini-fab-icon">
          <mat-icon class="material-icons-outlined">sick</mat-icon>
        </div>
        Szenario
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <router-outlet>
  </router-outlet>
</div>

<app-side-toggle id="legend"
                 icon="layers"
                 direction="left"
                 expanded>
  <app-legend target="planning-map"></app-legend>
</app-side-toggle>
