.active-link {
  font-weight: bold;
  font-size: 1em;
}

.mat-select-panel {
  max-height: unset !important;
}

.map {
  position: fixed;
  height: 100%;
  width: 100%;
}

::ng-deep .mat-sidenav-content {
  overflow: hidden;
}

::ng-deep .mat-grid-list.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

::ng-deep .grid-container {
  margin: 20px;
  pointer-events: none;
}
::ng-deep .mat-card {
  max-width: fit-content;
  max-height: fit-content;
  min-width: 300px;
  pointer-events: all;
}
