<div class="loadOverlay" *ngIf="popService.isLoading$ | async">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'Prognosedaten'"
                 cookieId="exp-progdata-header"
                 width="1430px">
  <p>Für die Abschätzung der zukünftigen Nachfrageentwicklung nach Infrastrukturen werden u.a. Prognosedaten zur Einwohnerentwicklung benötigt. Auf dieser Seite können Sie daher Einwohnerprognosen einlesen. Reale Einwohnerdaten für die zurückliegenden Jahre werden hingegen im vorstehenden Menüpunkt „Realdaten“ eingepflegt.</p>
  <p>Zum Einlesen von Prognosedaten legen Sie zunächst in der Box „Rahmendaten“ fest, auf welche Gebietseinteilung sich die Prognosedaten beziehen, welche Altersgruppen die Prognose enthält für welche Prognosejahre Werte eingespielt werden sollen.</p>
  <p>Da Einwohnerprognosen manchmal unterschiedliche Prognosevarianten enthalten (z.B. „Trendentwicklung“, „mehr Zuwanderung“, „mehr Abwanderung“), können Sie in der Box „Prognosevarianten“ bei Bedarf auch unterschiedliche Varianten definieren. Wenn Ihre Prognose keine Varianten enthält, definieren Sie hier nur eine Variante. Um eine Prognosevariante zu definieren, klicken Sie auf die Schaltfläche „Hinzufügen“.</p>
  <p>Für jede Prognosevariante, die Sie definiert haben, können Sie sich anschließend in der Box „Prognosedaten der ausgewählten Variante hochladen“ eine Vorlagedatei („Template“) herunterzuladen. Deren Struktur ist auch von den Einstellungen in der Box „Rahmendaten“ abhängig. Die Rahmendaten sollten Sie daher vor dem Vorlagen-Download abschließend festgelegt haben.</p>
  <p>Befüllen Sie nun die Vorlage mit den Prognosedaten für die betreffende Prognosevariante und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch.</p>
  <p>Wiederholen Sie dieses Vorgehen bitte für alle Prognosevarianten, die Sie definiert haben, um sie Ihren Nutzer*innen zur Verfügung zu stellen.</p>
  <p>Bereits hochgeladene Prognosedaten können in der Box „Veranschaulichung für ausgewähltes Gebiet“ in Grafiken dargestellt werden.</p>
  <p>Zudem sind sie für alle Nutzer*innen im Hauptmenübereich „Bevölkerung“ sichtbar und stehen für Auswertungen im Hauptmenübereich „Infrastrukturplanung“ zur Verfügung.</p>
</app-header-card>
<div *ngIf="popLevelMissing">
  <h1 style="color: red; margin: 30px;">Fehler: Es ist keine Gebietseinheit für die Bevölkerungsdaten festgelegt!</h1>
</div>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card #yearCard
                    [title]="'Prognosejahre'"
                    [editTemplate]="yearsEdit"
                    [disabled]="!popLevel"
                    dialogWidth="500px"
                    infoText="<p>Bevor Sie Prognosedaten hochladen, müssen Sie an dieser Stelle die wichtigsten Rahmendaten der Prognose eintragen. Diese Rahmendaten definieren u.a. die Struktur der Vorlagedateien, die Sie sich in der Box „Prognosedaten der ausgewählten Variante hochladen“ herunterladen können. Nachträgliche Veränderungen an den Rahmendaten führen daher zu einem Löschen aller bereits hochgeladenen Prognosedaten.</p>
                              <p>Um konsistente Zeitreihen sicherzustellen, müssen sich die Prognosedaten auf die gleiche Gebietseinteilung beziehen wie die Realdaten der zurückliegenden Jahr. Die Eintragung hinter „Gebietseinheit“ wurde daher aus Ihren Einstellungen bei den Realdaten übernommen. Falls Sie eine andere Gebietseinteilung nutzen möchten, müssen Sie die Einstellung dort ändern.</p>
                              <p>Legen Sie zudem fest, für welche zukünftigen Jahre Ihnen aus der Ihnen vorliegenden Prognose Werte hochgeladen werden sollen. Prognosedaten für Jahre, für die zwischenzeitlich Realdaten hochgeladen wurden, werden in den Hauptmenübereichen „Bevölkerung“ und „Infrastrukturplanung“ nicht mehr angezeigt oder für Berechnungen verwendet. Sie müssen dafür nicht aktiv gelöscht werden.</p>">
      <table>
        <tr>
          <td i18n>Prognosejahre</td>
          <td>
            <ng-container *ngIf="prognosisYears.length === 0">-</ng-container>
            <ng-container *ngFor="let year of prognosisYears; let i = index;">
              {{year}}<ng-container *ngIf="i !== prognosisYears.length - 1">, </ng-container>
            </ng-container>
          </td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card [title]="'Prognosevarianten'"
                    [disabled]="!popLevel"
                    subtitle="Varianten hinzufügen bzw. bereits hinzugefügte bearbeiten">
      <mat-selection-list [multiple]="false"
                          id="prognosis-select">
        <mat-list-option *ngFor="let prognosis of prognoses"
                         (click)="activePrognosis = prognosis; onPrognosisChange();"
                         [selected]="(prognosis === activePrognosis)">
          <div class="option-text">{{prognosis.name}}</div>
        </mat-list-option>
      </mat-selection-list>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="createPrognosis()">
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="float:right;"
                class="mat-button-dv"
                (click)="removePrognosis()"
                [disabled]="!activePrognosis">
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
      <div [class.hidden]="!activePrognosis" [style.height]="!activePrognosis? '0px': ''"
           between>
      <mat-divider style="margin: 10px 0;"></mat-divider>
        <div style="padding: 10px 0;">
          <app-input-card #propertiesCard
                          [borderless]="true"
                          [subtitle]="'Bezeichnung der ausgewählten Variante'"
                          [editTemplate]="propertiesEdit"
                          infoText="<p>Klicken Sie auf „Hinzufügen“, um die erste Prognosevariante hinzuzufügen. Tun Sie dies auch, wenn Ihre Prognose keine Varianten ausweist.</p>
                                    <p>In dem sich öffnenden Dialog geben Sie nur die Bezeichnung dieser Variante an, z.B. „Basisvariante“, „Trendfortschreibung“, „mehr Zuzug“ oder auch „einzige Variante“. Die hinzugefügte Variante erscheint dann in der Liste.</p>
                                    <p>Für eine in der Liste ausgewählte Varianten können Sie anschließend in der Box „Prognosedaten der ausgewählten Variante hochladen“ eine Vorlagedatei herunterzuladen. Befüllen Sie diese mit Ihren Daten und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch.</p>
                                    <p>Wiederholen Sie dieses Vorgehen bitte für alle Prognosevarianten, die Sie Ihren Nutzer*innen zur Verfügung stellen möchten.</p>
                                    <p>Um eine Variante samt ihrer ggf. bereits hochgeladenen Daten zu löschen wählen Sie diese in der Liste aus und klicken auf „Entfernen“.</p>">
            <table *ngIf="activePrognosis">
              <tr>
                <td>Name</td>
                <td>{{activePrognosis.name}}</td>
              </tr>
              <tr>
                <td>Beschreibung</td>
                <td>
                  <div style="overflow: hidden; -webkit-line-clamp: 5; -webkit-box-orient: vertical; display: -webkit-box;">
                    {{activePrognosis.description}}
                  </div>
                </td>
              </tr>
            </table>
          </app-input-card>
        </div>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Prognosedaten der ausgewählten Variante hochladen'"
                    [topRightHelp]="true"
                    [class.hidden]="!popLevel || !activePrognosis"
                    infoText="<p>Wenn Sie für diese Prognosevariante noch keine Einwohnerdaten hochgeladen haben (oder die bereits hochgeladenen Daten ersetzen möchten), können Sie sich mit der Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei im Excelformat  herunterladen. Befüllen Sie diese mit Ihren Daten für die angezeigte Variante und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch. Zur Kontrolle können Sie sich die hochgeladenen Daten anschließend in der Box „Veranschaulichung“ für einzelne Gebiete anschauen. Alternativ können Sie sich die Gesamttabelle der Prognosevariante über die Schaltfläche „Datentabelle ansehen“ anzeigen lassen.</p>
                              <p>Um die Daten weitere Prognosevarianten hochzuladen, fügen Sie bitte in der Box „Prognosevariante“ weitere Varianten hinzu und wiederholen das Vorgehen entsprechend. Für jede Prognosevariante benötigen Sie eine eigene Vorlagedatei.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Prognosevariante: {{(activePrognosis)? '"' + activePrognosis.name + '"': '-'}}
          </span>
<!--          <div style="margin-top: 15px; display: flex;">
            <table>
              <tr>
                <td i18n>Upload am</td>
                <td>02.06.2022</td>
              </tr>
            </table>
            <table style="margin-left: 20px;">
              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>
            </table>
          </div>-->
          <div style="margin: 20px 0 10px 0;">
            <button mat-stroked-button color="primary"
                    style="margin-right: 10px;"
                    (click)="downloadTemplate()">
              <mat-icon>download</mat-icon> Vorlage herunterladen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
          </div>
          <button class="mat-button-dv"
                  mat-button color="primary"
                  (click)="showDataTable()">
            <mat-icon class="material-icons-outlined">table_chart</mat-icon> Datentabelle ansehen
          </button>
<!--          <button mat-mini-fab color="primary"
                  aria-label="Daten herunterladen" title="Daten herunterladen"
                  style="float: right; margin: -10px 15px 0 0; box-shadow: none;">
            <mat-icon>download</mat-icon>
          </button>-->
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
    </app-input-card>
    <app-input-card [title]="'Veranschaulichung der ausgewählten Variante für ein ausgewähltes Gebiet'"
                    [topRightHelp]="true"
                    [class.hidden]="!popLevel || !activePrognosis"
                    subtitle="Auswahl eines Gebiets über die Karte bzw. die Auswahlbox"
                    infoText="<p>Wählen Sie in der Auswahlliste „Gebiet“ ein Gebiet aus, um dessen Prognosedaten in den Diagrammen anzuzeigen. Alternativ können Sie das Gebiet auch durch Anklicken in der Karte auswählen. Die Daten der Diagramme beziehen sich auf die in der Box „Prognosevarianten“ ausgewählte Variante. Um für das gleiche Gebiet zwischen den Prognosevarianten zu springen, klicken Sie in der Box „Prognosevarianten“ eine andere Variante an.</p>
                    <p>Voraussetzung für die Anzeige ist, dass Sie bereits Einwohnerdaten für mindestens eine Prognosevariante hochgeladen haben.</p>">
      <div>
        <mat-form-field appearance="outline" class="small" style="margin-right: 10px;">
          <mat-label>Jahr</mat-label>
          <mat-select disableOptionCentering disableRipple
                      [(ngModel)]="previewYear"
                      (ngModelChange)="updatePreview()">
            <ng-container *ngFor="let year of years">
              <mat-option *ngIf="year.isPrognosis" [value]="year">
                {{year.year}}
                <!--              <ng-container *ngIf="year.isReal">(aktiv)</ng-container>-->
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="small">
          <mat-label>Gebiet</mat-label>
          <mat-select disableOptionCentering disableRipple
                      [(ngModel)]="previewArea"
                      (ngModelChange)="onAreaChange()">
            <mat-option *ngFor="let area of areas" [value]="area">
              {{area.properties.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: 100%; display: flex">
        <div id="base-prog-data-map" class="map-container">
          <app-map-controls *ngIf="popLevel && activePrognosis"
                            target="base-prog-data-map"></app-map-controls>
          <app-side-toggle [class.hidden]="!popLevel || !activePrognosis"
                           id="legend"
                           icon="layers"
                           name="Legenden- und Layersteuerung"
                           direction="left">
            <app-legend target="base-prog-data-map"></app-legend>
          </app-side-toggle>
        </div>
        <div class="diagram-container">
          <div class="diagram-wrapper">
            <app-age-tree #ageTree
                          [animate]="true"
                          [title]="'Bevölkerungspyramide'">
            </app-age-tree>
          </div>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #yearsEdit>
  <table id="years-check-table">
    <tr>
      <th colspan="2"></th>
      <th colspan="2">Daten in der Datenbank</th>
    </tr>
    <tr>
      <th>Jahr (*Realdatenjahr)</th>
      <th>Als Prognosejahr ausgewählt</th>
      <th>Prognosedaten</th>
      <th>Realdaten</th>
    </tr>
    <tr *ngFor="let year of years"
        [class.active]="yearSelection.isSelected(year.year)"
        [class.warn]="yearSelection.isSelected(year.year) && year.isReal">
      <td [title]="(yearSelection.isSelected(year.year) && year.isReal)? 'Das Jahr ' + year.year + ' wurde bereits als Realdatenjahr ausgewählt, die Prognosedaten werden später in allen Anzeigen ignoriert.':
                   (year.isReal)? year.year + ' (Realdatenjahr)': (yearSelection.isSelected(year.year))? year.year + ' (Prognosejahr)': year.year"
          [style.color]="(!yearSelection.isSelected(year.year) && year.isReal)? 'black': ''">
        <mat-icon [style.opacity]="(yearSelection.isSelected(year.year) && year.isReal)? 1: 0"
                  style="vertical-align: bottom;">warning</mat-icon>
        {{year.year}}<ng-container *ngIf="year.isReal">*</ng-container>
      </td>
      <td>
        <mat-checkbox [color]="!(yearSelection.isSelected(year.year) && year.isReal)? 'primary': ''"
                      [checked]="yearSelection.isSelected(year.year)"
                      (change)="yearSelection.toggle(year.year)"
                      title="{{year.year}} als Prognosejahr aus/abwählen">
        </mat-checkbox>
      </td>
      <td style="text-align: right;">
        <mat-checkbox [disabled]="true"
                      [checked]="year.hasPrognosisData"
                      title="Zeigt an, ob für das Jahr bereits Prognosedaten vorliegen">
        </mat-checkbox>
        <button [style.opacity]="(!year.hasPrognosisData)? 0: 1"
                [style.pointer-events]="(!year.hasPrognosisData)? 'none': ''"
                (click)="deleteData(year)"
                mat-icon-button color="warn"
                title="Prognosedaten des Jahres {{year.year}} entfernen"
                style="margin-left: 10px;">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td>
        <mat-checkbox [disabled]="true"
                      [checked]="year.hasRealData"
                      title="Zeigt an, ob für das Jahr bereits Prognosedaten vorliegen">
        </mat-checkbox>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #propertiesEdit>
  <form [formGroup]="propertiesForm" style="padding: 10px 0;">
    <div *ngIf="propertiesForm.errors">
      <mat-error *ngFor="let error of propertiesForm.errors | keyvalue" class="alert">
        {{ error.key }} - {{ error.value }}
      </mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" autocomplete="prognosis-variant-name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>Beschreibung</mat-label>
        <textarea matInput formControlName="description"
                  cdkTextareaAutosize cdkAutosizeMinRows="3"
                  autocomplete="prognosis-variant-desc"></textarea>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #dataTemplate>
  <div class="loadOverlay" *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <mat-form-field appearance="outline" class="small" style="margin-right: 10px;">
    <mat-label>Jahr</mat-label>
    <mat-select disableOptionCentering disableRipple
                [(ngModel)]="dataYear"
                (ngModelChange)="updateTableData()">
      <ng-container *ngFor="let year of years">
        <mat-option *ngIf="year.isPrognosis" [value]="year">
          {{year.year}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <app-data-table [columns]="dataColumns" [rows]="dataRows"></app-data-table>
</ng-template>
