<app-header-card [title]="'Prognosedaten'"
                 cookieId="exp-progdata-header"
                 width="1430px">
  <p>Für die Abschätzung der zukünftigen Nachfrageentwicklung nach Infrastrukturen werden u.a. Prognosedaten zur Einwohnerentwicklung benötigt. Auf dieser Seite können Sie daher Einwohnerprognosen einlesen. Reale Einwohnerdaten für die zurückliegenden Jahre werden hingegen im vorstehenden Menüpunkt „Realdaten“ eingepflegt.</p>
  <p>Zum Einlesen von Prognosedaten legen Sie zunächst in der Box „Rahmendaten“ fest, auf welche Gebietseinteilung sich die Prognosedaten beziehen, welche Altersgruppen die Prognose enthält für welche Prognosejahre Werte eingespielt werden sollen.</p>
  <p>Da Einwohnerprognosen manchmal unterschiedliche Prognosevarianten enthalten (z.B. „Trendentwicklung“, „mehr Zuwanderung“, „mehr Abwanderung“), können Sie in der Box „Prognosevarianten“ bei Bedarf auch unterschiedliche Varianten definieren. Wenn Ihre Prognose keine Varianten enthält, definieren Sie hier nur eine Variante. Um eine Prognosevariante zu definieren, klicken Sie auf die Schaltfläche „Hinzufügen“.</p>
  <p>Für jede Prognosevariante, die Sie definiert haben, können Sie sich anschließend in der Box „Prognosedaten der ausgewählten Variante hochladen“ eine Vorlagedatei („Template“) herunterzuladen. Deren Struktur ist auch von den Einstellungen in der Box „Rahmendaten“ abhängig. Die Rahmendaten sollten Sie daher vor dem Vorlagen-Download abschließend festgelegt haben.</p>
  <p>Befüllen Sie nun die Vorlage mit den Prognosedaten für die betreffende Prognosevariante und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch.</p>
  <p>Wiederholen Sie dieses Vorgehen bitte für alle Prognosevarianten, die Sie definiert haben, um sie Ihren Nutzer*innen zur Verfügung zu stellen.</p>
  <p>Bereits hochgeladene Prognosedaten können in der Box „Veranschaulichung für ausgewähltes Gebiet“ in Grafiken dargestellt werden.</p>
  <p>Zudem sind sie für alle Nutzer*innen im Hauptmenübereich „Bevölkerung“ sichtbar und stehen für Auswertungen im Hauptmenübereich „Infrastrukturplanung“ zur Verfügung.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Rahmendaten'"
                    [editTemplate]="areaLevelEdit"
                    infoText="<p>Bevor Sie Prognosedaten hochladen, müssen Sie an dieser Stelle die wichtigsten Rahmendaten der Prognose eintragen. Diese Rahmendaten definieren u.a. die Struktur der Vorlagedateien, die Sie sich in der Box „Prognosedaten der ausgewählten Variante hochladen“ herunterladen können. Nachträgliche Veränderungen an den Rahmendaten führen daher zu einem Löschen aller bereits hochgeladenen Prognosedaten.</p>
                              <p>Um konsistente Zeitreihen sicherzustellen, müssen sich die Prognosedaten auf die gleiche Gebietseinteilung beziehen wie die Realdaten der zurückliegenden Jahr. Die Eintragung hinter „Gebietseinheit“ wurde daher aus Ihren Einstellungen bei den Realdaten übernommen. Falls Sie eine andere Gebietseinteilung nutzen möchten, müssen Sie die Einstellung dort ändern.</p>
                              <p>Legen Sie zudem fest, für welche zukünftigen Jahre Ihnen aus der Ihnen vorliegenden Prognose Werte hochgeladen werden sollen. Prognosedaten für Jahre, für die zwischenzeitlich Realdaten hochgeladen wurden, werden in den Hauptmenübereichen „Bevölkerung“ und „Infrastrukturplanung“ nicht mehr angezeigt oder für Berechnungen verwendet. Sie müssen dafür nicht aktiv gelöscht werden.</p>">
      <table>
        <tr>
          <td i18n>Prognosejahre</td>
          <td>2017, 2018, 2019, 2020, 2021, 2022</td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card [title]="'Prognosevarianten'"
                    subtitle="Varianten hinzufügen bzw. bereits hinzugefügte bearbeiten"
                    infoText="<p>Klicken Sie auf „Hinzufügen“, um die erste Prognosevariante hinzuzufügen. Tun Sie dies auch, wenn Ihre Prognose keine Varianten ausweist.</p>
                              <p>In dem sich öffnenden Dialog geben Sie nur die Bezeichnung dieser Variante an, z.B. „Basisvariante“, „Trendfortschreibung“, „mehr Zuzug“ oder auch „einzige Variante“. Die hinzugefügte Variante erscheint dann in der Liste.</p>
                              <p>Für eine in der Liste ausgewählte Varianten können Sie anschließend in der Box „Prognosedaten der ausgewählten Variante hochladen“ eine Vorlagedatei herunterzuladen. Befüllen Sie diese mit Ihren Daten und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch.</p>
                              <p>Wiederholen Sie dieses Vorgehen bitte für alle Prognosevarianten, die Sie Ihren Nutzer*innen zur Verfügung stellen möchten.</p>
                              <p>Um eine Variante samt ihrer ggf. bereits hochgeladenen Daten zu löschen wählen Sie diese in der Liste aus und klicken auf „Entfernen“.</p>">
      <mat-selection-list [multiple]="false"
                          id="prognosis-select">
        <mat-list-option *ngFor="let prognosis of prognoses"
                         (click)="selectedPrognosis = prognosis"
                         [selected]="(prognosis === selectedPrognosis)">
          <div class="option-text">{{prognosis}}</div>
        </mat-list-option>
      </mat-selection-list>
      <div style="margin-top: 10px;">
        <button mat-button color="primary"
                class="mat-button-dv" i18n>
          <mat-icon>add</mat-icon>hinzufügen
        </button>
        <button mat-button color="primary"
                style="float:right;"
                class="mat-button-dv" i18n>
          <mat-icon>close</mat-icon>entfernen
        </button>
      </div>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Prognosedaten der ausgewählten Variante hochladen'"
                    [topRightHelp]="true"
                    infoText="<p>Wenn Sie für diese Prognosevariante noch keine Einwohnerdaten hochgeladen haben (oder die bereits hochgeladenen Daten ersetzen möchten), können Sie sich mit der Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei im Excelformat  herunterladen. Befüllen Sie diese mit Ihren Daten für die angezeigte Variante und laden Sie sie anschließend über die Schaltfläche „Daten hochladen“ wieder hoch. Zur Kontrolle können Sie sich die hochgeladenen Daten anschließend in der Box „Veranschaulichung“ für einzelne Gebiete anschauen. Alternativ können Sie sich die Gesamttabelle der Prognosevariante über die Schaltfläche „Datentabelle ansehen“ anzeigen lassen.</p>
                              <p>Um die Daten weitere Prognosevarianten hochzuladen, fügen Sie bitte in der Box „Prognosevariante“ weitere Varianten hinzu und wiederholen das Vorgehen entsprechend. Für jede Prognosevariante benötigen Sie eine eigene Vorlagedatei.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Prognosevariante "{{selectedPrognosis}}"
          </span>
          <div style="margin-top: 15px; display: flex;">
            <table>
              <tr>
                <td i18n>Upload am</td>
                <td>02.06.2022</td>
              </tr>
            </table>
            <table style="margin-left: 20px;">
              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>
            </table>
          </div>
          <div style="margin: 20px 0 10px 0;">
            <button mat-stroked-button color="primary" style="margin-right: 10px;">
              <mat-icon>download</mat-icon> Vorlage herunterladen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
          </div>
          <button class="mat-button-dv"
                  mat-button color="primary" i18n>
            <mat-icon class="material-icons-outlined">table_chart</mat-icon> Datentabelle ansehen
          </button>
          <button mat-mini-fab color="primary"
                  aria-label="Daten herunterladen" title="Daten herunterladen"
                  style="float: right; margin: -10px 15px 0 0; box-shadow: none;">
            <mat-icon>download</mat-icon>
          </button>
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
    </app-input-card>
    <app-input-card [title]="'Veranschaulichung der ausgewählten Variante für ein ausgewähltes Gebiet'"
                    [topRightHelp]="true"
                    subtitle="Auswahl eines Gebiets über die Karte bzw. die Auswahlbox"
                    infoText="<p>Wählen Sie in der Auswahlliste „Gebiet“ ein Gebiet aus, um dessen Prognosedaten in den Diagrammen anzuzeigen. Alternativ können Sie das Gebiet auch durch Anklicken in der Karte auswählen. Die Daten der Diagramme beziehen sich auf die in der Box „Prognosevarianten“ ausgewählte Variante. Um für das gleiche Gebiet zwischen den Prognosevarianten zu springen, klicken Sie in der Box „Prognosevarianten“ eine andere Variante an.</p>
                    <p>Voraussetzung für die Anzeige ist, dass Sie bereits Einwohnerdaten für mindestens eine Prognosevariante hochgeladen haben.</p>">
      <div>
        <mat-form-field appearance="outline" class="small">
          <mat-label>Gebiet</mat-label>
          <mat-select disableOptionCentering disableRipple value="irgendwo">
            <mat-option value="irgendwo">
              [Gebietseinheit]
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: 100%; display: flex">
        <div id="base-prog-data-map" class="map-container">
          <app-map-controls target="base-prog-data-map"></app-map-controls>
          <app-side-toggle id="legend"
                           icon="layers"
                           name="Legenden- und Layersteuerung"
                           direction="left">
            <app-legend target="base-prog-data-map"></app-legend>
          </app-side-toggle>
          <app-side-toggle id="age-groups"
                           icon="group">
            <div style="padding: 15px; min-width: 200px;">
              <span class="subtitle1" i18n>Altersgruppen</span>
              <br>
              <mat-checkbox color="primary" [checked]="true">0 bis unter 19 Jahre</mat-checkbox>
              <br>
              <mat-checkbox color="primary" [checked]="true">18 bis unter 65Jahre</mat-checkbox>
              <br>
              <mat-checkbox color="primary" [checked]="true">65 Jahre und älter</mat-checkbox>
            </div>
          </app-side-toggle>
        </div>
        <div class="diagram-container">
          <div class="diagram-wrapper" style="margin-bottom: 10px;">
            <div>
              <app-stacked-barchart [data]="data"
                                    [labels]="labels"
                                    xLabel="Jahre"
                                    yLabel="Einwohner"
                                    [title]="'Bevölkerungsentwicklung'"
                                    [xSeparator]="xSeparator"
                                    [animate]="true"
                                    [height]="230"
                                    subtitle="[Gebietseinheit]">
              </app-stacked-barchart>
            </div>
          </div>
          <div class="diagram-wrapper">
            <div>
              <app-multiline-chart #lineChart
                                   [labels]="labels"
                                   xLabel="Jahre"
                                   yLabel="Einwohner relativ"
                                   [title]="'relative Altersgruppenentwicklung'"
                                   [xSeparator]="xSeparator"
                                   [animate]="true"
                                   [height]="230"
                                   unit="%"
                                   subtitle="[Gebietseinheit]">
              </app-multiline-chart>
            </div>
          </div>
        </div>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #areaLevelEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>
