@import "~src/constants";

#prognosis-select {
  min-height: 150px;
  max-height: 250px;
}

#base-prog-data-map {
  margin-top: 10px;
  width: 50%;
  height: 490px;
  position: relative;
  background-color: white;
}
