@import "src/constants";
/*:host ::ng-deep mat-slider.mat-slider.mat-slider-horizontal .mat-slider-ticks {
  height: 20px;
  opacity: 1;
  background-size: 10.101% 2px !important;
  transform: translateZ(0px) translateX(5.05051%);
}*/

::ng-deep app-time-slider .mat-slider-thumb {
  background-color: $primary !important;
}

.real-data-wrapper, .divider, .year-tick, .divider-label, .year-tick label, .divider-label  {
  position: absolute;
}

.real-data-wrapper {
  top: 5px;
  height: 40px;
  left: 4px;
  background-color: #2196F31F;
  border-radius: 5px 0 0 5px;
}

.divider {
  width: 2px;
  height: 50px;
  top: 0;
  background-color: $accent;
}

.year-tick {
  top: 22px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: $primary;
  z-index: 100;
}

mat-slider:not(.mat-slider-sliding) .year-tick {
  cursor: pointer;
}

mat-slider:not(.mat-slider-sliding) .year-tick:hover{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-left: -2px;
  margin-top: -2px;

  label {
    display: block;
  }
}

.year-tick label {
  display: none;
  margin-left: -10px;
  margin-top: -23px;
  font-size: 14px;
  color: $primary;
  background-color: #ffffffaa;
  border-radius: 2px;
}

.divider-label {
  opacity: 0;
  top: -15px;
  //top: 37px;
  color: $accent;
  font-size: 12px;
  transition: opacity 0.3s;
}

mat-slider:not(.cdk-focused):hover .divider-label {
  opacity: 1;
}
