<label>{{years[0]}}</label>
<mat-slider #slider
            thumbLabel aria-label="Jahr"
            color="primary"
            (change)="inputChanged($event)" (input)="sliderMoved($event)"
            min="{{years[0]}}" max="{{years[years.length - 1]}}" step="1" value="{{value}}">
<!--            [ngModel]="pickedYear"-->
</mat-slider>
<label>{{years[years.length - 1]}}</label>
<button mat-icon-button color="primary"
        class="material-icons-outlined" title="Hilfe"
        tooltip="Wählen Sie das Jahr, für das Daten angezeigt werden sollen, mit dem Slider."
        [hideDelay]="2000"
        trigger="click"
        tooltipClass="context-tooltip"
        theme="light"
        maxWidth="300px"
        style="margin-left: 5px;">
  <mat-icon>help_outline</mat-icon>
</button>
