<app-scenario-menu domain="supply" [ngClass]="{'expanded': showScenarioMenu}"></app-scenario-menu>
<mat-expansion-panel class="side-toggle" id="scenario-toggle" cookieExpansion="exp-planning-scenario">
  <mat-expansion-panel-header (click)="showScenarioMenu=!showScenarioMenu;">
    <mat-panel-title>
      <div class="mini-fab-icon" [ngClass]="{'primary': showScenarioMenu}">
        <div class="davicon icon-GGR-davicons-Font-Simple-2-Szenario"></div>
      </div>
      Szenario
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel cookieExpansion="exp-supply-services">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-3-Standorte-Leistungen"></div>
      </div>
      Standorte / Leistungen
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="padding-bottom: 10px;">
    <div style="position: relative;">
      <mat-form-field appearance="outline" class="small">
        <mat-label>Infrastrukturbereich</mat-label>
        <mat-select disableOptionCentering disableRipple
                    [(value)]="selectedInfrastructure"
                    [ngbPopover]="selectedInfrastructure?.description"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
          <mat-option [value]="infrastructure" *ngFor="let infrastructure of infrastructures"
                      [ngbPopover]="infrastructure.description"
                      placement="right"
                      container="body"
                      triggers="mouseenter:mouseleave">
            {{infrastructure.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button color="primary" mat-icon-button
              class="filter-button small" title="Standortfilter"
              (click)="onFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="sub-select-wrapper">
      <mat-checkbox *ngFor="let service of selectedInfrastructure.services; let first = first;"
                    [value]="service.name"
                    [checked]="first"
                    style="margin-right: 100%;"
                    color="primary"
                    ngbPopover="Platzhalter Beschreibung der Leistung"
                    placement="right"
                    container="body"
                    triggers="mouseenter:mouseleave">
        {{service.name}}
      </mat-checkbox>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <ul style="list-style-type: none; margin: 10px 0 10px -28px;">
      <li><mat-slide-toggle color="primary">Cluster</mat-slide-toggle></li>
      <li><mat-slide-toggle color="primary">Verdrängung</mat-slide-toggle></li>
      <li>
        <div class="row-button">
          <label i18n>Zoom auf alle</label>
          <div class="fill-space"></div>
          <button mat-icon-button color="primary" class="small">
            <mat-icon>location_searching</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div class="row-button" [ngClass]="{'active': addPlaceMode}" (click)="addPlaceMode = !addPlaceMode" style="padding-left: 10px;">
    <label i18n>Neuen Standort hinzufügen</label>
    <div class="fill-space"></div>
    <button color="primary" [ngClass]="{inverted: addPlaceMode}" mat-icon-button class="small">
      <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>
    </button>
  </div>
  <mat-expansion-panel class="text-panel">
    <mat-expansion-panel-header>
      <mat-icon color="primary" class="material-icons-outlined"
                style="margin-right: 5px;">help_outline</mat-icon>
      <span class="subtitle1">Hilfe</span>
    </mat-expansion-panel-header>
    <span class="info-text">
      <p>Wählen Sie hier im Dropdown-Menü den Infrastrukturbereich und per Checkbox die Leistungen aus dem jeweiligen Infrastrukturbereich aus. Mit dem Klick auf das Filtersymbol können Sie Filter auf Standorte setzen und bearbeiten.</p>
      <p>Cluster, Verdrängung und Zoom auf alle stellen Darstellungsoptionen für die Karte dar.</p>
      <p>Klick auf das Symbol „Neuen Standort hinzufügen“ öffnet einen Dialog um Hinzufügen eines zusätzlichen Standortes.</p>
    </span>
  </mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel  cookieExpansion="exp-supply-compare">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="mini-fab-icon">
        <div class="davicon icon-GGR-davicons-Font-Simple-4-Vergleichsdarstellung"></div>
      </div>
      Vergleichsdarstellung
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-checkbox style="padding-left: 12px;" color="primary" [(ngModel)]="compareSupply" i18n> <!--style="margin-left: -12px"-->
    Angebotsstrukturen vergleichen
  </mat-checkbox>
  <div class="sub-select-wrapper compare-radio-list">
    <mat-radio-group [(ngModel)]="compareStatus">
      <mat-radio-button value="option 1" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Angebotsstrukturen im gleichen Szenario im Jahr
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <!--          <mat-label>Jahr</mat-label>-->
        <mat-select disableOptionCentering disableRipple [value]="years[0]" [disabled]="!compareSupply || compareStatus != 'option 1'">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-button value="option 2" color="primary"
                        [disabled]="!compareSupply"
                        i18n>
        Mit Angebotsstrukturen im gleichen Jahr im Szenario
      </mat-radio-button>
      <mat-form-field appearance="outline" class="small">
        <mat-select disableOptionCentering disableRipple value="1" [disabled]="!compareSupply || compareStatus != 'option 2'">
          <mat-option value="1">
            Szenario 1
          </mat-option>
          <mat-option value="2">
            Szenario 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-group>
  </div>
  <mat-expansion-panel class="text-panel">
    <mat-expansion-panel-header>
      <mat-icon color="primary" class="material-icons-outlined"
                style="margin-right: 5px;">help_outline</mat-icon>
      <span class="subtitle1">Hilfe</span>
    </mat-expansion-panel-header>
    <span class="info-text">
     Sie können die Angebotsstrukturen das mit dem Zeitslider ausgewählte Jahr vergleichen: Entweder mit den Angebotsstrukturen für ein anderes Jahr oder aber mit der Angebotsstruktur für ein anderes Szenario im selben Jahr. Die Darstellung erfolgt in der Karte.
    </span>
  </mat-expansion-panel>
</mat-expansion-panel>
<!--workaround to cover visible scenario menu-->
<div style="width: 100%; height:50px; background-color: white;"></div>

<ng-template #filterTemplate>
  <div style="display: flex; align-items: end; user-select: none;">
    <div>
      <h4>Standortfilter</h4>
      <span class="subtitle1 sub" i18n>Die Tabelle zeigt die gefilterten Standorte im Szenario [Name] im Jahr {{timeSlider.value}}</span>
    </div>
    <div id="time-slider-wrapper" style="display: flex; margin-left: 200px; margin-bottom: 10px;"> <!--margin-left: auto-->
      <div class="time-button" (click)="timeSlider.value = timeSlider.value - 1;">
        <mat-icon color="primary">chevron_left</mat-icon>
      </div>
      <div class="time-button" (click)="timeSlider.value = timeSlider.value + 1;">
        <mat-icon color="primary">chevron_right</mat-icon>
      </div>
      <div style="display: flex; padding: 0px 10px 10px 10px;">
        <label style="padding-top: 25px;">2000</label>
        <mat-slider #timeSlider color="primary"
                    thumbLabel min="2000" max="2100" step="1" value="2010"
                    style="width: 420px; margin-top: 15px;"></mat-slider>
        <label style="padding-top: 25px;">2100</label>
      </div>
    </div>
  </div>
  <app-filter-table></app-filter-table>
</ng-template>
