@import "~src/constants";

.grid-container {
  margin: 20px;
}

.time-button {
  width: 50px;
  border-right: 1px solid lightgrey;
  cursor: pointer;
  position: relative;
  .mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.time-button:hover {
  background-color: $primary-light;
}

#time-slider-wrapper {
  border: 1px solid lightgrey;
}

#capacityTable {
  margin: 20px 0 40px;
  td:first-child {
    //text-align: right;
    //min-width: 200px;
  }
}

::ng-deep #capacityTable .yearInput {
  margin-right: 3px;
  .mat-form-field-infix {
    max-width: max-content !important;
  }
}
