<h4 mat-dialog-title>{{ data.title }}</h4>
<mat-dialog-content>
  <div class="loadOverlay" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <p *ngIf="data.message">
    {{ data.message }}
  </p>
  <ng-container *ngTemplateOutlet="data.template; context: data.context"></ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="mat-button-dv"
          color="primary"
          mat-dialog-close
          style="margin-right: 20px;">
    {{ data.cancelButtonText }}
  </button>
  <button mat-button class="mat-button-dv"
          color="primary"
          (click)="onConfirmClick()">
    {{ data.confirmButtonText }}
  </button>
</mat-dialog-actions>
