@import "../../../constants";

.loadOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  cursor: progress;
}

.loadOverlay > mat-spinner {
  left: 45%;
  top: 40%;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

mat-dialog-content {
  font-size: 16px;
}

.mat-dialog-content {
  overflow: auto;
}

::ng-deep confirm-dialog {
  .sub {
    color: grey;
    margin-bottom: 10px;
    user-select: none;
  }

  h4 {
    color: $accent;
    user-select: none;
  }

  .mat-dialog-content {
    max-height: 90vh;
  }
}
