@import "~src/constants";

.sub-nav {
  padding-left: calc(#{$context-bar-width});
  position: fixed;
}

$diagram-bar-width: 30%;

.map-wrapper {
  position: absolute;
  top: $sub-nav-height;
  height: calc(100% - #{$sub-nav-height});
  width: calc(100% - #{$context-bar-width} - #{$diagram-bar-width} - 40px);
  padding-left: $context-bar-width;
  padding-right: calc(#{$diagram-bar-width} + 40px);
}
#population-map {
  position: relative;
  height: 100%;
  width: 100%;
}

::ng-deep app-population {
  overflow-y: hidden;

  .context-bar {
    position: fixed;
    top: 60px + $sub-nav-height;
  }
  #diagram-bar {
    position: absolute;
    top: 60px;
    right: 0px;
    width: $diagram-bar-width;
    background-color: white;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 0 20px;
    z-index: 12;
    box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 20%), 0px 10px 10px 0px rgb(0 0 0 / 14%), 2px 18px 18px 0px rgb(0 0 0 / 12%);
  }
  .diagram-wrapper {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    >div {
      position: absolute;
      width: 100%;
      height: calc(100% - 30px);
    }
  }
}

::ng-deep .context-bar {
  mat-form-field, .sub-select-box {
    width: 230px;
  }
}

@media only screen and (max-width: 95em) {
  .map-wrapper {
    padding-right: 0px;
    height: 50vh;
    width: calc(100% - #{$context-bar-width});
  }
  ::ng-deep app-population {
    .diagram-wrapper {
      width: 50%;
      float: left;
      padding-bottom: 30%;
    }
    #diagram-bar {
      position: absolute;
      width: calc(100% - #{$context-bar-width} - 40px);
      height: auto;
      top: calc(50vh + #{$sub-nav-height});
      box-shadow: none;
      padding: 20px;
      z-index: 11;
    }
  }
}

@media only screen and (max-width: 66em) {

  ::ng-deep app-population {
    .diagram-wrapper {
      width: 100%;
      padding-bottom: 60%;
    }
  }
}
