<mat-toolbar class="sub-nav">
  <span fxShow="true" fxHide.lt-md="true">
    <a routerLink="/bevoelkerung/entwicklung" routerLinkActive="active-link" i18n> Bevölkerungsentwicklung </a>
    <a routerLink="/bevoelkerung/statistik" routerLinkActive="active-link" i18n> Statistiken </a>
  </span>
</mat-toolbar>
<div class="map-wrapper">
  <div id="population-map">
    <div id="info" class="map-drag-element" cdkDrag cdkDragBoundary="#population-map">
      <div class="handle" title="Anzeigeinformationen" cdkDragHandle>
        <mat-icon color="primary">info</mat-icon>
        <fa-icon class="drag-indicator" matSuffix [icon]="faArrows"></fa-icon>
      </div>
      <app-side-toggle [fullHeightIndicator]="true" expanded>
        <div style="padding: 10px" [innerHTML]="this.mapControl?.mapDescription"></div>
      </app-side-toggle>
    </div>
    <div id="time-slider" class="map-drag-element" cdkDrag cdkDragBoundary="#population-map">
      <div class="handle" title="Anzeigezeit" cdkDragHandle>
        <mat-icon color="primary">date_range</mat-icon>
        <fa-icon class="drag-indicator" matSuffix [icon]="faArrows"></fa-icon>
      </div>
      <app-side-toggle [fullHeightIndicator]="true" expanded>
        <div style="padding: 18px 10px 12px 10px">
          <app-time-slider #timeSlider></app-time-slider>
        </div>
      </app-side-toggle>
    </div>
    <app-map-controls style="position: absolute; right: 90px; top: 30px;"></app-map-controls>
    <app-side-toggle id="legend"
                     icon="layers"
                     direction="left"
                     expanded>
      <!--                     cdkDragLockAxis="y" cdkDrag>-->
      <app-legend target="population-map"></app-legend>
    </app-side-toggle>
  </div>
</div>
<router-outlet>
</router-outlet>
