@import "~src/constants";

$diagram-bar-width: 30%;

.map-wrapper {
  position: absolute;
  top: $sub-nav-height;
  height: calc(100% - #{$sub-nav-height});
  //width: calc(100% - #{$context-bar-width} - #{$diagram-bar-width} - 40px);
  width: 100%;
  padding-left: $context-bar-width;
  padding-right: $diagram-bar-width;
}
#population-map {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

::ng-deep app-population {
  overflow-y: hidden;

  .context-bar {
    position: fixed;
    top: 60px + $sub-nav-height;
    //z-index: 12;
  }
  #diagram-bar {
    position: absolute;
    top: 60px;
    right: 0px;
    width: $diagram-bar-width;
    background-color: white;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 18px 20px;
    z-index: 11;
    box-shadow: inset -3px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 5px -1px rgb(0 0 0 / 20%), 0px 10px 10px 0px rgb(0 0 0 / 14%), 2px 18px 18px 0px rgb(0 0 0 / 12%);
  }
  .diagram-wrapper {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    >div {
      position: absolute;
      width: 100%;
      height: calc(100% - 30px);
    }
  }
  #toggle-settings {
    position: fixed;
    z-index: 13;
    top: 74px;
    left: 10px;
  }
}

.sub-nav {
  padding-left: calc(#{$context-bar-width});
  position: fixed;
}

::ng-deep app-population .context-bar {
  mat-form-field, .sub-select-box {
    width: 230px;
  }
  .sub-select-wrapper {
    width: calc(#{$context-bar-width} - 110px);
  }
}

// medium
@media only screen and (max-width: 80em) {
  .map-wrapper {
    padding-right: 0px;
    height: 60vh;
  }
  ::ng-deep app-population {
    .diagram-wrapper {
      width: 100%;
      padding-bottom: 60%;
    }
    #diagram-bar {
      position: absolute;
      width: calc(100% - #{$context-bar-width} - 40px);
      height: auto;
      top: calc(60vh + #{$sub-nav-height});
      padding: 20px;
      box-shadow: none;
      z-index: 10;
    }
  }
}

// small
@media only screen and (max-width: 50em) {
  .sub-links {
    a {
      font-size: 16px !important;
      padding: 0 10px;
    }
  }
  .map-wrapper {
    padding-left: 0;
    width: 100%;
    height: 30em;
  }
  .sub-nav {
    padding-left: 60px;
  }

  ::ng-deep app-population {
    #diagram-bar {
      top: calc(30em + #{$sub-nav-height});
      width: calc(100% - 20px);
      left: 0;
      padding: 10px;
    }
    .context-bar {
      top: 64px + $sub-nav-height;
    }
    #legend {
      top: 10em;
      .legend-body {
        max-height: calc(20em - 70px);
      }
    }
  }
}
