<div style="overflow-y: auto">
  <table id="filter-table">
    <tr class="header">
      <th *ngFor="let th of _header; let i = index;">
        <div>
          <div style="margin-right: 10px;">
            <button color="primary" mat-icon-button
                    class="filter-button" title="Standortfilter"
                    [ngClass]="{'inverted': filtered[i]}"
                    (click)="filtered[i] = !filtered[i]"
                    title="Filter umschalten">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <span class="subtitle1"
                (click)="toggleSort(i)"
                style="color: grey; white-space: pre-wrap;">
            {{th}}
          </span>
          <div class="sort-icon"
               (click)="toggleSort(i)"
               style="position: relative; min-width: 30px;">
            <mat-icon [style.opacity]="(sorting[i] !== 'asc')? 1: 0" style="position: absolute; top: -3px; left: 5px;">arrow_drop_up</mat-icon>
            <mat-icon [style.opacity]="(sorting[i] !== 'desc')? 1: 0" style="position: absolute; top: 4px; left: 5px;">arrow_drop_down</mat-icon>
          </div>
        </div>
      </th>
    </tr>
    <tr *ngFor="let row of _sorted">
     <td *ngFor="let column of row">{{column}}</td>
    </tr>
  </table>
</div>

<div style="margin-top: 20px;" >
  <span class="subtitle1 sub" i18n>aktuell verwendete Filter</span>
  <div id="filter-box" class="border-box">
    <mat-chip-list>
      <mat-chip color="primary">
        Name | K[...]
        <mat-icon>cancel</mat-icon>
      </mat-chip>
      <mat-chip color="primary">
        Kapazität Krippe | größer 6
        <mat-icon>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <button mat-button color="primary"
          class="mat-button-dv">
    <mat-icon>filter_list</mat-icon> alle Filter zurücksetzen
  </button>
</div>
