table {
  td {
  }
  .filter-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-left: auto;
  }
}

#filter-box {
  min-height: 100px;
  width: 60%;
}

.mat-chip {
  background-color: white;
  border: 1px solid grey;
  .mat-icon {
    cursor: pointer;
    color: grey;
    margin-left: 8px;
  }
}
