<div style="overflow-y: auto">
  <table id="filter-table" style="min-height: 100px;" [style.max-height]="maxTableHeight">
    <tr class="header">
      <th *ngFor="let th of _columns; let i = index;">
        <div>
          <div style="margin-right: 10px;">
            <button color="primary" mat-icon-button
                    class="filter-button" title="Standortfilter"
                    [ngClass]="{'inverted': th.filter?.active}"
                    (click)="toggleFilter(i)"
                    title="Filter umschalten">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <span class="subtitle1"
                (click)="toggleSort(i)"
                style="color: grey; white-space: pre-wrap;">{{th.name}}
            <ng-container *ngIf="th.unit">({{th.unit}})</ng-container>
          </span>
          <div class="sort-icon"
               (click)="toggleSort(i)"
               style="position: relative; min-width: 30px;">
            <mat-icon [style.opacity]="(sorting[i] !== 'asc')? 1: 0" style="position: absolute; top: -3px; left: 5px;">arrow_drop_up</mat-icon>
            <mat-icon [style.opacity]="(sorting[i] !== 'desc')? 1: 0" style="position: absolute; top: 4px; left: 5px;">arrow_drop_down</mat-icon>
          </div>
        </div>
      </th>
    </tr>
    <tr *ngFor="let row of processedRows">
     <td *ngFor="let value of row; let i = index">
       <ng-container *ngIf="_columns[i].type === 'BOOL'; else rawContent">{{value? 'Ja': 'Nein'}}</ng-container>
       <ng-template #rawContent>{{value}}</ng-template>
     </td>
    </tr>
  </table>
</div>
{{processedRows.length}} gefilterte Einträge (ungefiltert: {{_rows.length}})

<div style="margin-top: 20px;" >
  <span class="subtitle1 sub" i18n>aktuell verwendete Filter</span>
  <div id="filter-box" class="border-box">
    <mat-chip-list>
      <ng-container *ngFor="let column of _columns; let i = index;">
        <mat-chip *ngIf="column.filter?.active" color="primary">
          {{column.name}} | {{opText[column.filter!.operator]}} {{column.filter!.value}}
          <mat-icon title="Filter entfernen" (click)="toggleFilter(i)">
            cancel
          </mat-icon>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </div>
  <button mat-button color="primary"
          class="mat-button-dv"
          (click)="removeAllFilters()">
    <mat-icon>filter_list</mat-icon> alle Filter zurücksetzen
  </button>
</div>

<ng-template #numberFilter let-unit="unit">
  <form [formGroup]="filterForm">
    <div style="display: flex; align-items: baseline;">
      <mat-form-field class="small" appearance="outline" style="margin-right: 20px;">
        <mat-select formControlName="operator" required>
          <mat-option *ngFor="let operator of operators" [value]="operator[0]">
            {{operator[1]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
        <input matInput type="number" formControlName="value" required>
      </mat-form-field>
      <span>{{unit}}</span>
    </div>
  </form>
</ng-template>

<ng-template #stringFilter let-unit="unit">
  <form [formGroup]="filterForm">
    <div style="display: flex; align-items: baseline;">
      <mat-form-field class="small" appearance="outline" style="margin-right: 20px;">
        <mat-select formControlName="operator" required>
          <mat-option *ngFor="let operator of operators" [value]="operator[0]">
            {{operator[1]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
        <input matInput formControlName="value" required>
      </mat-form-field>
      <span>{{unit}}</span>
    </div>
  </form>
</ng-template>

<ng-template #classFilter let-unit="unit" let-classes="classes">
  <form [formGroup]="filterForm">
    <div style="display: flex; align-items: baseline;">
      <mat-form-field class="small" appearance="outline" style="margin-right: 20px;">
        <mat-select formControlName="operator" required>
          <mat-option *ngFor="let operator of operators" [value]="operator[0]">
            {{operator[1]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
        <mat-select formControlName="operator" required>
          <mat-option *ngFor="let class of classes" [value]="class">
            {{class}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>{{unit}}</span>
    </div>
  </form>
</ng-template>

<ng-template #boolFilter>
  <form [formGroup]="filterForm" style="display: flex; padding: 10px;">
    <mat-radio-group formControlName="value" required>
      <mat-radio-button value="1" checked style="margin-right: 10px;" >Ja</mat-radio-button>
      <mat-radio-button value="0">Nein</mat-radio-button>
    </mat-radio-group>
  </form>
</ng-template>
