<app-header-card [title]="'Projektgebiet'"
                 width="780px">
  Platzhalter: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="800px">
    <app-input-card [title]="'Projektgebiet'"
                    subtitle="Manuelle Auswahl des Projektgebiets"
                    infoText="Platzhalter Erklärung: Projektgebiet manuell aus Karte auswählen"
                    [editTemplate]="projectEdit">
      <div id="project-area-map" class="map-container">
        <app-map-controls></app-map-controls>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #projectEdit>
  ToDo
</ng-template>
