<app-header-card [title]="'Projektgebiet'"
                 cookieId="exp-project-header"
                 width="780px">
  Für Ihre kommunale oder regionale Anwendung von daviplan müssen sie ein Projektgebiet festgelegt. Das Projektgebiet muss alle Gebietskörperschaften umfassen,
  für die Sie Infrastrukturen erfassen, Einwohnerentwicklungen betrachten, Nachfrage abschätzen, Szenarien der Infrastrukturentwicklung durchspielen und
  Versorgungsquoten ermitteln wollen. Auswertungen für Teilbereiche (z.B. einzelne Gemeinden oder Ortsteile) innerhalb dieses Projektgebiets sind möglich.
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="800px">
    <app-input-card subtitle="Manuelle Auswahl des Projektgebiets"
                    infoText="Um Ihr Projektgebiet festzulegen oder zu verändern, klicken Sie bitte auf „Editieren“. Sie gelangen dann zu einer Kartendarstellung, in der Sie Ihr Projektgebiet aus einzelnen Ge-meinden, Verwaltungsgemeinschaften und Landkreisen zusammensetzen können."
                    [editTemplate]="projectEdit">
      <div id="project-area-map" class="map-container">
        <app-map-controls></app-map-controls>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #projectEdit>
  Funktionalität für den Prototyp noch nicht hinterlegt.
</ng-template>
