<div class="grid-container">
  <mat-grid-list  cols="{{ ( layout | async )?.columns }}" rowHeight="350px">
    <mat-grid-tile [colspan]="( layout | async )!.userList.cols" [rowspan]="( layout | async )!.userList.rows">
      <app-data-card title="Benutzerkonten">
        <ul class="users">
          <mat-selection-list [multiple]="false" >
            <mat-list-option *ngFor="let user of users" [value]="user" (click)="onSelect(user)" [selected]="(selectedUser && (user.id === selectedUser.id))">
              {{ user.userName }}
            </mat-list-option>
          </mat-selection-list>
        </ul>
        <button *ngIf="selectedUser && !selectedUser.isSuperuser" mat-flat-button color="warn" (click)="onDeleteUser()" i18n>Nutzer löschen</button>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.account.cols" [rowspan]="( layout | async )!.account.rows">
      <ng-template #accountEdit>
        <form [formGroup]="accountForm" (ngSubmit)="onUpdateUser()">
          <mat-error *ngIf="accountForm.errors && accountForm.errors['error']" class="alert">
            {{accountForm.errors['error']}}
          </mat-error>
          <div formGroupName="user">
            <mat-form-field class="full">
              <mat-label i18n>Nutzername</mat-label>
              <input matInput formControlName="userName" required>
            </mat-form-field>
            <mat-form-field class="full">
              <mat-label i18n>Vorname</mat-label>
              <input matInput formControlName="firstName"/>
            </mat-form-field>
            <mat-form-field class="full">
              <mat-label i18n>Nachname</mat-label>
              <input matInput formControlName="lastName"/>
            </mat-form-field>
            <mat-form-field class="full">
              <mat-label i18n>E-Mail</mat-label>
              <input matInput formControlName="email"/>
              <mat-error *ngIf="accountForm.get('user')?.get('email')?.errors" i18n>Die E-Mail Adresse hat kein gültiges Format.</mat-error>
            </mat-form-field>
          </div>
          <mat-checkbox #passCheck formControlName="changePass" (change)="onTogglePassChange(passCheck.checked)">Passwort ändern</mat-checkbox>
          <mat-form-field class="full">
            <mat-label i18n>Passwort</mat-label>
            <input matInput type="password" formControlName="password" placeholder="·········" required>
          </mat-form-field>
          <mat-form-field class="full">
            <mat-label i18n>Passwort bestätigen</mat-label>
            <input matInput type="password" formControlName="confirmPass" placeholder="·········" required>
            <mat-error *ngIf="accountForm.get('confirmPass')?.errors?.notMatching" i18n>Die Passwörter stimmen nicht überein</mat-error>
          </mat-form-field>
        </form>
      </ng-template>
      <app-data-card #accountCard title="Konto" [editTemplate]="accountEdit">
        <table>
          <tr>
            <td i18n>Nutzername</td>
            <td i18n>{{selectedUser.userName}}</td>
          </tr>
          <tr>
            <td i18n>Vorname</td>
            <td i18n>{{selectedUser.firstName}}</td>
          </tr>
          <tr>
            <td i18n>Nachname</td>
            <td i18n>{{selectedUser.lastName}}</td>
          </tr>
          <tr>
            <td i18n>E-Mail</td>
            <td i18n>{{selectedUser.email}}</td>
          </tr>
        </table>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.dataAccess.cols" [rowspan]="( layout | async )!.dataAccess.rows">
      <app-data-card title="Datenzugriff">
        <!--ToDo: Form-->
        <div>
        </div>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.permissions.cols" [rowspan]="( layout | async )!.permissions.rows">
      <app-data-card title="Berechtigungen">
        <!--ToDo: Form-->
        <div>
          <br>
          <input id="user-admin-access" type="checkbox" [(ngModel)]="selectedUser.adminAccess">
          <label for="user-admin-access" i18n>Kann Seite administrieren</label>
          <br>
          <input id="user-can-edit" type="checkbox" [(ngModel)]="selectedUser.canEditData">
          <label for="user-can-edit" i18n>Kann Grundlagendaten editieren</label>
          <br>
          <input id="user-can-create-scenarios" type="checkbox" [(ngModel)]="selectedUser.canCreateScenarios">
          <label for="user-can-create-scenarios" i18n>Kann Szenarien anlegen</label>
        </div>
      </app-data-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<!--ToDo: Form-->
<h2 i18n>Neuer Benutzer </h2>
<div>
  <label for="new-user-name" i18n>Nutzername</label>
  <input id="new-user-name" placeholder="user_name" [(ngModel)]="newUserName">
  <br>
  <label for="new-user-password" i18n>Passwort</label>
  <input id="new-user-password" type="password"  [(ngModel)]="newUserPassword">
  <br>
  <button (click)="onCreateUser()" i18n>Nutzer erstellen</button>
</div>
