<div class="grid-container">
  <mat-grid-list  cols="{{ ( layout | async )?.columns }}" rowHeight="350px">
    <mat-grid-tile [colspan]="( layout | async )!.userList.cols" [rowspan]="( layout | async )!.userList.rows">
      <app-data-card title="Benutzerkonten">
        <ul class="users">
          <li *ngFor="let user of users"
              [class.superuser]="user.isSuperuser"
              [class.selected]="selectedUser && (user.id === selectedUser.id)"
              (click)="onSelect(user)">
            <span class="badge">{{user.id}}</span> {{user.userName}}
          </li>
        </ul>
        <button *ngIf="selectedUser && !selectedUser.isSuperuser" mat-flat-button color="warn" (click)="onDeleteUser()" i18n>Nutzer löschen</button>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.account.cols" [rowspan]="( layout | async )!.account.rows">
      <ng-template #accountEdit>
        <div class="editContent">
          <table>
            <tr>
              <td i18n>Nutzername</td>
              <td><input id="user-name" [ngModel]="selectedUser.userName"></td>
            </tr>
            <tr>
              <td i18n>Vorname</td>
              <td><input id="user-first-name" [ngModel]="selectedUser.firstName"></td>
            </tr>
            <tr>
              <td i18n>Nachname</td>
              <td><input id="user-last-name" [(ngModel)]="selectedUser.lastName"></td>
            </tr>
            <tr>
              <td i18n>E-Mail</td>
              <td><input id="user-email" [(ngModel)]="selectedUser.email"></td>
            </tr>
            <tr>
              <td i18n>Passwort</td>
              <td><input id="user-pass1" type="password" value="xxxxxxxxx"></td>
            </tr>
            <tr>
              <td i18n>Passwort wiederholen</td>
              <td><input id="user-pass2" type="password" value="xxxxxxxxx"></td>
            </tr>
          </table>
        </div>
      </ng-template>
      <app-data-card #accountCard title="Konto" [editTemplate]="accountEdit">
        <table>
          <tr>
            <td i18n>Nutzername</td>
            <td i18n>{{selectedUserClone!.userName}}</td>
          </tr>
          <tr>
            <td i18n>Vorname</td>
            <td i18n>{{selectedUserClone!.firstName}}</td>
          </tr>
          <tr>
            <td i18n>Nachname</td>
            <td i18n>{{selectedUserClone!.lastName}}</td>
          </tr>
          <tr>
            <td i18n>E-Mail</td>
            <td i18n>{{selectedUserClone!.email}}</td>
          </tr>
        </table>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.dataAccess.cols" [rowspan]="( layout | async )!.dataAccess.rows">
      <app-data-card title="Datenzugriff">
        <!--ToDo: Form-->
        <div>
        </div>
        <button (click)="onUpdateUser()" i18n>Speichern</button>
      </app-data-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedUser" [colspan]="( layout | async )!.permissions.cols" [rowspan]="( layout | async )!.permissions.rows">
      <app-data-card title="Berechtigungen">
        <!--ToDo: Form-->
        <div>
          <br>
          <input id="user-admin-access" type="checkbox" [(ngModel)]="selectedUser.adminAccess">
          <label for="user-admin-access" i18n>Kann Seite administrieren</label>
          <br>
          <input id="user-can-edit" type="checkbox" [(ngModel)]="selectedUser.canEditData">
          <label for="user-can-edit" i18n>Kann Grundlagendaten editieren</label>
          <br>
          <input id="user-can-create-scenarios" type="checkbox" [(ngModel)]="selectedUser.canCreateScenarios">
          <label for="user-can-create-scenarios" i18n>Kann Szenarien anlegen</label>
        </div>
        <button (click)="onUpdateUser()" i18n>Speichern</button>
      </app-data-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<!--ToDo: Form-->
<h2 i18n>Neuer Benutzer </h2>
<div>
  <label for="new-user-name" i18n>Nutzername</label>
  <input id="new-user-name" placeholder="user_name" [(ngModel)]="newUserName">
  <br>
  <label for="new-user-password" i18n>Passwort</label>
  <input id="new-user-password" type="password"  [(ngModel)]="newUserPassword">
  <br>
  <button (click)="onCreateUser()" i18n>Nutzer erstellen</button>
</div>
