<div class="loadOverlay" *ngIf="isLoading$ | async" xmlns="http://www.w3.org/1999/html">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'Standorte der Infrastrukturen und Kapazitäten für Leistungen'"
                 cookieId="exp-locations-header"
                 width="1170px">
  <p>In diesem Bereich können Sie für jeden Infrastrukturbereich eine Liste mit den Standorten der Infrastrukturen hochladen.</p>
  <p>Wählen Sie dazu zunächst in der Box „Infrastrukturbereiche“ einen Infrastrukturbereich aus. Legen Sie anschließend in Schritt 1 Standorteigenschaften fest, die Sie neben dem Namen, der Adresse / räumlichen Lage und den Kapazitäten für die einzelnen Leistungen des betreffenden Infrastrukturbereichs auch noch erfassen möchten, um sie später als Zusatzinformation in den Karten und Listen des Abschnitts „Infrastrukturplanung“ anzeigen zu können. Dieser Schritt 1 ist optional.</p>
  <p>Anschließend können Sie sich in der Box „Schritt 2“ eine Vorlagedatei zur Erfassung Ihrer Standorte herunterladen. Diese Standortliste befüllen Sie anschließend in Excel und laden Sie anschließend wieder hoch.</p>
  <p>Die eingelesenen Standorte werden anschließend in der Karte angezeigt. Eine Listendarstellung erreichen Sie über die Schaltfläche „Standortliste anzeigen“ in der Box „Schritt 2“.</p>
  <p>Wenn Sie Änderungen, Ergänzungen oder Aktualisierungen vornehmen möchten, laden Sie die Vorlage der Standortliste erneut herunter. Diese enthält stets aller bereits vorliegenden Daten. Ändern Sie diese anschließend in Excel und laden Sie sie wieder hoch.</p>
</app-header-card>
<app-status-card *ngIf="(isProcessing$ | async)">
  Es läuft gerade eine Berechnung im Bereich „Standorte“
</app-status-card>
<div fxLayout="row wrap">
  <app-input-card [title]="'Infrastrukturbereiche'"
                  [disabled]="!!(isProcessing$ | async)"
                  width="300px"
                  subtitle="Infrastrukturbereich auswählen, um Standorte anzuzeigen bzw. einzutragen"
                  infoText="<p>Wählen Sie in der Liste den Infrastrukturbereich aus, dessen Standort sie anzeigen, hochladen oder verändern möchten.</p>
                  <p>Daraufhin erscheinen zwei Eingabeboxen. Bevor Sie im „Schritt 2“ eine Standortliste für den gewählten Infrastrukturbereich hochladen („Schritt 2“) können Sie im „Schritt 1“ optional weitere Standorteigenschaften festlegen, die Sie – neben den immer erfassten Eigenschaften Name, Adresse und Kapazitäten – mit erfassen möchten.</p>">
    <mat-selection-list id="infrastructure-select" [multiple]="false">
<!--        ngmodel does not work here as it always returns arrays even ig multiple=false-->
      <mat-list-option *ngFor="let infrastructure of infrastructures"
                       (click)="selectedInfrastructure = infrastructure; onInfrastructureChange();"
                       [selected]="(infrastructure.id === selectedInfrastructure?.id)">
        <div class="option-text">{{infrastructure.name}}</div>
      </mat-list-option>
    </mat-selection-list>
  </app-input-card>
  <div fxLayout="column">
    <app-input-card #editAttributesCard
                    [title]="'Schritt 1: Weitere Standorteigenschaften (optional)'"
                    [disabled]="!!(isProcessing$ | async)"
                    [editTemplate]="editAttributesTemplate"
                    [class.hidden]="!selectedInfrastructure"
                    [subtitle]="selectedInfrastructure?.name || ''"
                    dialogWidth="1100px"
                    width="400px"
                    dialogInfoText="
                    <p>Klicken Sie auf „Standorteigenschaft hinzufügen“, um eine optionale Standorteigenschaft hinzuzufügen und füllen Sie die dann erscheinende Tabellenzeile aus. Geben Sie der Eigenschaft einen Namen und legen Sie fest, ob es sich um eine Anzahl, einen String (Text) oder eine Klassifikation handelt. Wenn Sie „Anzahl“ auswählen, können Sie zusätzlich eine Einheit angeben. Diese sollte möglichst kurz sein.</p>
                    <p>Sie können eigene Klassifikationen (z.B. Klassifikation „Bewertung“ mit den Klassen „gut“, „mittel“, „schlecht“) definieren und einzelnen Standorteigenschaften (z.B. „Gebäudezustand“) zuordnen. Die Standortliste in Schritt erhalten dann in der betreffenden Eigenschaftsspalte (z.B. „Gebäudezustand“) Auswahlfelder mit den von Ihnen definierten Klassen. Sie müssen die Klassifikation erst definieren, bevor Sie sie einer Standorteigenschaft zuweisen können.</p>
                    <p>Mit dem roten Kreuzchen am Ende der Zeilen können Sie eine Standorteigenschaft wieder löschen. Achtung: Wenn Sie im Schritt 2 zu dieser Standorteigenschaft bereits Daten hochgeladen haben, werden auch diese gelöscht.</p>
                    <p>Wenn Sie fertig sind, klicken Sie auch „Speichern“. </p>
                    <p>Es ist nicht möglich, den Typ einer Standorteigenschaft (Anzahl. String, Klassifikation) nachträglich – d.h. nach dem Speichern – zu ändern. Im Zweifelsfall müssen Sie die Eigenschaft (mit ihren Daten) löschen und anschließend neu (und mit dem richtigen Typ) hinzufügen.</p>"
                    infoText="<p>Klicken Sie auf „Standorteigenschaft hinzufügen“, um eine optionale Standorteigenschaft hinzuzufügen und füllen Sie die dann erscheinende Tabellenzeile aus. Geben Sie der Eigenschaft einen Kurz- und einen Anzeigenamen. Der Kurzname erscheint nur in der mit Schritt 2 erzeugten Excelvorlage. In allen sonstigen Tabellen und Darstellungen von daviplan wird der Anzeigename verwendet. Der Kurzname sollte keine Sonderzeichen enthalten. Im Anzeigename können Sie auch Sonderzeichen verwenden.</p>
                    <p>Legen Sie zudem fest, ob es bei den Werteintragungen für die betreffenden Standorteigenschaft sich um eine Anzahl, einen String (Text) oder eine Klassifikation handelt. Wenn Sie „Anzahl“ auswählen, können Sie zusätzlich eine Einheit angeben. Diese sollte möglichst kurz sein.</p>
                    <p>Sie können eigene Klassifikationen (z.B. Klassifikation „Bewertung“ mit den Klassen „gut“, „mittel“, „schlecht“) definieren und einzelnen Standorteigenschaften (z.B. „Gebäudezustand“) zuordnen. Die Standortliste in Schritt erhalten dann in der betreffenden Eigenschaftsspalte (z.B. „Gebäudezustand“) Auswahlfelder mit den von Ihnen definierten Klassen. Sie müssen die Klassifikation erst definieren, bevor Sie sie einer Standorteigenschaft zuweisen können.</p>
                    <p>Sie können einzelne Standorteigenschaften (z.B. Alters- oder Kostenangaben) als sensible Informationen kennzeichnen. Diese Daten werden nur Personen angezeigt, deren Nutzerprofil eine Freischaltung für sensible Daten des betreffenden Infrastrukturbereichs hat. Wenden Sie sich hierzu ggf. an Ihre:n Administrator:in.</p>
                    <p>Mit dem roten Kreuzchen am Ende der Zeilen können Sie eine Standorteigenschaft wieder löschen. Achtung: Wenn Sie im Schritt 2 zu dieser Standorteigenschaft bereits Daten hochgeladen haben, werden auch diese gelöscht.</p>
                    <p>Wenn Sie fertig sind, klicken Sie auch „Speichern“.</p>
                    <p>Es ist nicht möglich, den Typ einer Standorteigenschaft (Anzahl. String, Klassifikation) nachträglich – d.h. nach dem Speichern – zu ändern. Im Zweifelsfall müssen Sie die Eigenschaft (mit ihren Daten) löschen und anschließend neu (und mit dem richtigen Typ) hinzufügen.</p>">
      <ng-container *ngIf="!editFields.length">
        keine weiteren Standorteigenschaften
      </ng-container>
      <table>
        <tr *ngFor="let field of placeFields">
          <td>{{field.name}}</td>
          <td>{{getFieldType(field.fieldType).name}}</td>
        </tr>
      </table>
    </app-input-card>
    <app-input-card [title]="'Schritt 2: Standortdaten und Kapazitäten hochladen'"
                    [class.hidden]="!selectedInfrastructure"
                    [disabled]="!!(isProcessing$ | async)"
                    [subtitle]="selectedInfrastructure?.name || ''"
                    width="400px"
                    infoText="<p>Nachdem Sie in der Box „Schritt 1: Weitere Standorteigenschaften“ der Datenstruktur zur Beschreibung der Standorte des gewählten Infrastrukturbereichs optional weitere Eigenschaftsfelder hinzugefügt haben, können Sie sich nun hier über die Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei im Excel-Format herunterladen. Sofern Sie bereits Daten hochgeladen haben, enthält die Vorlage alle bereits vorliegenden Daten.</p>
                    <p>In der Vorlage entspricht jede Zeile einem Infrastrukturstandort, z.B. einer Schule.</p>
                    <p>Jede Spalte entspricht einer Standorteigenschaft. Dies sind die vordefinierten Eigenschaten „Name“ und „postalisch korrekte Adresse“ (auf deren Basis die Verortung in der Karte erfolgt) sowie die von Ihnen ggf. im Schritt 1 zusätzlich definierten Standorteigenschaften. Zudem enthält die Standortliste je eine Spalte pro von Ihnen definierter Leistung des Infrastrukturbereichs. In diese Spalten tragen Sie bitte die Kapazität des Standortes für die einzelnen Leistungen ein.</p>
                    <p>Bei Leistungen ohne Berücksichtigung einer Kapazität tragen Sie bitte eine 1 bei allen Standorten ein, die diese Leistung anbieten (und eine 0 bei allen anderen).</p>
                    <p>Laden Sie die ausgefüllte Vorlagedatei anschließend über die Schaltfläche „Daten hochladen“ wieder hoch. Daviplan wird die Standorte anhand der Adresse georeferenzieren und in der Karte anzeigen. Kontrollieren Sie die Lage der Standorte in der Karte und korrigieren Sie bei Bedarf die Adresse oder die Geokoordinate, indem Sie die Vorlage erneut herunterladen, korrigieren und wieder hochladen. </p>
                    <p>Das gleiche Prinzip gilt auch für alle anderen Korrekturen und Aktualisierungen: Vorlagen (mit dem aktuellen Datenbestand herunterladen), in Excel bearbeiten, anschließend wieder hochladen.</p>">
      <div style="width: 100%; display: flex;">
        <button mat-stroked-button color="primary"
                style="margin-right: 10px;"
                (click)="downloadTemplate()">
          <mat-icon>download</mat-icon> Vorlage herunterladen
        </button>
        <button mat-flat-button color="primary" (click)="uploadTemplate()">
          <mat-icon>upload</mat-icon> Daten hochladen
        </button>
      </div>
    </app-input-card>
  </div>
  <app-input-card [title]="'Daten-Historie Infrastruktur'"
                  infoText="<p>Die Liste zeigt Ihnen eine Chronik aller Datenimporte (Hochladen befüllter Vorlagen) und Berechnungen im Bereich „Standorte“.</p>"
                  width="430px">
    <app-log room="infrastructure" (onMessage)="onMessage($event)" height="350px"></app-log>
  </app-input-card>
</div>
<div fxLayout="row wrap">
  <app-input-card [title]="'Standortliste mit Eigenschaften und Kapazitäten'"
                  [disabled]="!!(isProcessing$ | async)"
                  [class.hidden]="!selectedInfrastructure"
                  class="spaced"
                  [topRightHelp]="true"
                  width="1170px"
                  infoText="<p>Alle bereits hochgeladenen Standorte des Infrastrukturbereichs werden auf der Karte dargestellt. Eine Liste der Standorte und ihrer Eigenschaften wird Ihnen angezeigt, wenn Sie auf „Standortliste anzeigen“ klicken.</p>
                  <p>Mit der Schaltfläche „Daten löschen“ können Sie alle Standorte des Infrastrukturbereichs löschen.</p>">
    <span class="subtitle1 sub" style="width: 100%;">
      Infrastrukturbereich: <p style="font-size: 1.5em;">"{{selectedInfrastructure?.name || '-'}}"</p>
    </span>
    <table>
      <tr>
        <td i18n>Standorte</td>
        <td>{{selectedInfrastructure?.placesCount}}</td>
      </tr>
    </table>
    <div>
      <button class="mat-button-dv"
              mat-button color="primary"
              title="Datentabelle der Orte der Infrastruktur anzeigen"
              (click)="showDataTable()">
        <mat-icon class="material-icons-outlined">table_chart</mat-icon> Standortliste anzeigen
      </button>
      <button class="mat-button-dv"
              mat-button color="warn"
              title="Alle Orte der Infrastruktur entfernen"
              style="margin-left: 10px; box-shadow: none;"
              (click)="onDeletePlaces()">
        <mat-icon>cancel</mat-icon>
        Daten löschen
      </button>
    </div>
    <div id="base-locations-map" class="map-container">
      <app-map-controls target="base-locations-map"></app-map-controls>
      <app-side-toggle id="legend"
                       icon="layers"
                       name="Legenden- und Layersteuerung"
                       direction="left">
        <app-legend target="base-locations-map"></app-legend>
      </app-side-toggle>
    </div>
  </app-input-card>
</div>

<ng-template #dataTemplate>
  <app-data-table [columns]="dataColumns" [rows]="dataRows"></app-data-table>
</ng-template>

<ng-template #placePreviewTemplate>
  <div *ngFor="let place of selectedPlaces" style="margin-bottom: 15px;">
    <b style="font-size: 1.3em">{{ place.name }}</b>
    <div style="padding: 0 15px; margin-top: 10px;">
      <ng-container *ngIf="place.attributes">
        <div *ngFor="let item of place.attributes | keyvalue">
          {{item.key}}: <i>{{item.value}}</i>
        </div>
      </ng-container>
      <div *ngFor="let service of selectedInfrastructure?.services" style="margin-top: 10px;">
        <b>{{service.name}}{{(service.hasCapacity)? ': Kapazität': ''}}</b>
        <table>
          <tr *ngFor="let capacity of getPlaceCapacities(place, service); let i = index;">
            <td *ngIf="i===0" style="width: 80px;">Startjahr</td>
            <td *ngIf="i>0">ab {{capacity.fromYear}} </td>
            <td *ngIf="service.hasCapacity">{{capacity.capacity}} {{(capacity.capacity === 1)? service.capacitySingularUnit: service.capacityPluralUnit}}</td>
            <td *ngIf="!service.hasCapacity">{{(capacity.capacity)? 'Ja': 'Nein'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editAttributesTemplate>
  <p>Neben Name, Adresse und Kapazitäten für die Leistungen sollen für jeden Standort folgende Eigenschaften erfasst werden. Dabei können optional Klassifikationen verwendet werden (siehe Hilfetext).</p>
  <table id="place-attr-table" *ngIf="(editFields| arrayFilter:'removed': false).length">
    <tr><th>
      Standorteigenschaft
    </th></tr>
    <tr>
      <th>Kurzname (für Vorlage)</th>
      <th>Anzeigename</th>
      <th>Attributtyp / Klassifikation</th>
      <th style="text-align: center;">Einheit</th>
      <th style="width: 1%; text-align: center;">
        sensible Information
      </th>
      <th></th>
    </tr>
    <ng-container *ngFor="let field of editFields">
      <tr *ngIf="!field.removed">
        <td class="not-first-child">
          <input [(ngModel)]="field.name" (change)="field.edited = true;">
        </td>
        <td>
          <input [(ngModel)]="field.label" (change)="field.edited = true;">
        </td>
        <td>
          <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
            <mat-select [disabled]="!field.new"
                        [value]="field.fieldType"
                        (selectionChange)="field.fieldType = $event.value; field.edited = true;">
              <mat-optgroup label="Basistypen">
                <ng-container *ngFor="let fieldType of fieldTypes">
                  <mat-option *ngIf="fieldType.ftype != 'CLA'" [value]="fieldType.id">
                    {{fieldType.name}}
                  </mat-option>
                </ng-container>
              </mat-optgroup>
              <mat-optgroup label="Klassifikationen">
                <ng-container *ngFor="let fieldType of fieldTypes">
                  <mat-option *ngIf="fieldType.ftype == 'CLA'" [value]="fieldType.id">
                    {{fieldType.name}}
                  </mat-option>
                </ng-container>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </td>
        <td style="text-align: center;">
          <ng-container *ngIf="getFieldType(field.fieldType).ftype === 'NUM' else nounit">
            <input [(ngModel)]="field.unit" (change)="field.edited = true;">
          </ng-container>
          <ng-template #nounit>-</ng-template>
        </td>
        <td style="text-align: center;">
          <mat-checkbox color="primary"
                        [(ngModel)]="field.sensitive"
                        (change)="field.edited = true;">
          </mat-checkbox>
        </td>
        <td>
          <button mat-button color="warn"
                  class="mat-button-dv"
                  (click)="field.removed = true;"
                  title="Standorteigenschaft entfernen">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <button mat-button color="primary"
          class="mat-button-dv"
          (click)="addField()"
          style="margin: 10px 10px 0 0"
          title="Standorteigenschaft hinzufügen" i18n>
    <mat-icon>add</mat-icon>Standorteigenschaft hinzufügen
  </button>
  <button mat-button color="primary"
          class="mat-button-dv"
          (click)="editClassifications()"
          style="margin-top: 10px"
          title="Klassifikationen (Standorteigenschaften) bearbeiten" i18n>
    <mat-icon>edit</mat-icon>Klassifikationen
  </button>
</ng-template>

<ng-template #editClassificationsTemplate>
  <app-classifications [classifications]="fieldTypes"></app-classifications>
</ng-template>

<ng-template #fileUploadTemplate>
  <p>
    Befüllte Excel-Vorlage mit Standortdaten für den Infrastrukturbereich <b>"{{selectedInfrastructure?.name}}"</b> hochladen
  </p>
  <input #fileInput type="file" accept=".xlsx,.xls" (change)="setFiles($event)">
</ng-template>
