<div class="loadOverlay" *ngIf="isLoading$ | async" xmlns="http://www.w3.org/1999/html">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<app-header-card [title]="'Standorte der Infrastrukturen und Kapazitäten für Leistungen'"
                 cookieId="exp-locations-header"
                 width="1430px">
  <p>In diesem Bereich können Sie für jeden Infrastrukturbereich eine Adressliste mit den Standorten der Infrastrukturen hochladen (oder diese händisch in der Karten eintragen).</p>
  <p>Wählen Sie dazu einen Infrastrukturbereich aus und legen zu zunächst in Abschnitt „Standorteigenschaften“ fest, mit welchen Attributen (z.B. Name, Gebäudezustand, Typ, Budget, Investitionsbedarf …) sie die Standorte zusätzlich zu ihrer räumlichen Lage beschreiben möchten.</p>
  <p>Anschließend können Sie sich für den betreffenden Infrastrukturbereich eine dazu passende Vorlagedatei erzeugen lassen, die sie in der Box „Standorte des ausgewählten Infrastrukturbereichs“ herunterladen, befüllen und anschließend wieder hochladen können.</p>
  <p>Die eingelesenen Standorte werden Ihnen anschließend in der Karte angezeigt, wo Sie deren Lage und Eigenschaften noch einmal korrigieren können.</p>
  <p>Sie können jedem Standort im nachfolgenden Menüpunkt „Kapazitäten“ bei Bedarf auch mehrere Leistungen zuordnen, z.B. wenn eine Kita Krippe und Elementarbetreuung anbietet oder ein Ärztehaus sowohl haus- wie auch fachärztliche Leistungen anbietet.</p>
</app-header-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="350px">
    <app-input-card [title]="'Infrastrukturbereiche'"
                    subtitle="Infrastrukturbereich auswählen, um Standorte anzuzeigen bzw. einzutragen"
                    infoText="<p>Wählen Sie in der Liste den Infrastrukturbereich aus, dessen Standort sie anzeigen, hochladen oder verändern möchten.</p>
                    <p>Bevor Sie eine Standortliste hochladen oder Standorte in die Karte einzeichnen, legen Sie bitte erst die Attribute der Standortliste fest, indem Sie auf die Schaltfläche „Editieren“ am Fuß dieser Eingabebox klicken. Weitere Informationen finden Sie in der darunter stehenden Hilfe.</p>">
      <mat-selection-list id="infrastructure-select" [multiple]="false">
<!--        ngmodel does not work here as it always returns arrays even ig multiple=false-->
        <mat-list-option *ngFor="let infrastructure of infrastructures"
                         (click)="selectedInfrastructure = infrastructure; onInfrastructureChange();"
                         [selected]="(infrastructure.id === selectedInfrastructure?.id)">
          <div class="option-text">{{infrastructure.name}}</div>
        </mat-list-option>
      </mat-selection-list>
    </app-input-card>
    <app-input-card [title]="'Standorteigenschaften'"
                    [editTemplate]="attributesEditTemplate"
                    [class.hidden]="!selectedInfrastructure"
                    [subtitle]="selectedInfrastructure?.name || ''"
                    dialogWidth="850px"
                    dialogInfoText="ToDo: Attributtype kann nachträglich nicht geändert werden. Attribut Name fest vorgegeben. Attribut löschen, löscht Daten (falls schon vorhanden). Klassifikationen erklären"
                    infoText="<p>Neben der räumlichen Lage können sie die einzelnen Standorte anhand weiterer Eigenschaften („Attribute“) beschreiben. Welche dies sind (z.B. Name, Gebäudezustand, Typ, Budget, Investitionsbedarf …) entscheiden Sie selbst.</p>
                    <p>Klicken Sie hierzu auf die Schaltfläche „Editieren“ und folgenden Sie den Erläuterungen im Hilfetext des dann erscheinenden Eingabedialogs.</p>">
      <table>
        <tr>
          <td>Name</td>
          <td>Zeichenkette</td>
        </tr>
        <tr *ngFor="let field of selectedInfrastructure?.placeFields">
          <td>{{field.name}}</td>
          <td>{{field.fieldType.name}}</td>
        </tr>
      </table>
    </app-input-card>
  </div>
  <div fxLayout="column" fxFlex="1100px">
    <app-input-card [title]="'Standortdaten und Kapazitäten'"
                    [class.hidden]="!selectedInfrastructure"
                    [topRightHelp]="true"
                    infoText="<p>Nachdem Sie in der Box „Standorteigenschaften“ die Datenstruktur zur Beschreibung der Standorte des gewählten Infrastrukturbereichs definiert haben, können Sie sich über die Schaltfläche „Vorlage herunterladen“ eine Vorlagedatei im Excel-Format  herunterladen.</p>
                    <p>Tragen Sie in diese Vorlage bitte alle für den Infrastrukturbereich relevanten Standorte ein, unabhängig davon, welche Leistungen des Infrastrukturbereichs in welchem dieser Standorte angeboten wird. (Dies ist erst Gegenstand des nachfolgenden Menüpunkts „Kapazitäten“.)</p>
                    <p>Beim Ausfüllen der Vorlage entspricht jede Zeile einem Infrastrukturstandort, z.B. einer Schule. Neben der postalisch korrekten Adresse (auf deren Basis die Verortung in der Karte erfolgt) werden Sie in der Vorlage um Angaben zu allen Standorteigenschaften gebeten, die Sie in der Box „Standorteigenschaften“ definiert haben.</p>
                    <p>Laden Sie die ausgefüllte Vorlagedatei anschließend über die Schaltfläche „Daten hochladen“ wieder hoch. Das System wird die Standorte anhand der Adresse georeferenzieren und in der Karte anzeigen. Kontrollieren Sie die Lage der Standorte in der Karte und korrigieren  Sie diese gegeben Falls.</p>
                    <p>Einzelne Standorte können Sie auch über die Funktion „Neuen Standort hinzufügen“ in der Karte eintragen (Icon oben links).</p>
                    <p>Eine Liste aller Standorte des Infrastrukturbereichs wird Ihnen angezeigt, wenn Sie auf „Datentabelle ansehen“ klicken.</p>">
      <div style="width: 100%; display: flex;">
        <div style="width: 50%; align-self: start;">
          <span class="subtitle1 sub">
            Infrastrukturbereich "{{selectedInfrastructure?.name}}"
          </span>
          <div style="display: flex; margin-top: 15px;">
            <table>
              <tr>
                <td i18n>Standorte</td>
                <td>{{selectedInfrastructure?.placesCount}}</td>
              </tr>
 <!--             <tr>
                <td i18n>Upload am</td>
                <td>02.06.2022</td>
              </tr>
            </table>
            <table style="margin-left: 20px;">
              <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
              <tr>
                <td i18n>durch</td>
                <td>Sascha Schmidt</td>
              </tr>-->
            </table>
          </div>
          <div style="margin: 20px 0 10px 0;">
            <button mat-stroked-button color="primary"
                    style="margin-right: 10px;"
                    (click)="downloadTemplate()">
              <mat-icon>download</mat-icon> Vorlage herunterladen
            </button>
            <button mat-flat-button color="primary">
              <mat-icon>upload</mat-icon> Daten hochladen
            </button>
          </div>
          <button class="mat-button-dv"
                  mat-button color="primary"
                  (click)="showDataTable()">
            <mat-icon class="material-icons-outlined">table_chart</mat-icon> Datentabelle ansehen
          </button>
<!--          <button mat-mini-fab color="primary"
                  aria-label="Daten herunterladen" title="Daten herunterladen"
                  style="float: right; margin: -10px 15px 0 0; box-shadow: none;">
            <mat-icon>download</mat-icon>
          </button>-->
        </div>
        <div id="log-window" style="width: 50%">
          <span class="subtitle1">Daten-Historie</span>
          <app-log height="calc(100% - 25px)"></app-log>
        </div>
      </div>
      <div id="base-locations-map" class="map-container">
        <app-map-controls target="base-locations-map"></app-map-controls>
        <app-side-toggle id="legend"
                         icon="layers"
                         name="Legenden- und Layersteuerung"
                         direction="left">
          <app-legend target="base-locations-map"></app-legend>
        </app-side-toggle>
        <app-side-toggle id="add-overlay" icon="add_location_alt"
                         name="Funktion zum Hinzufügen von Standorten">
          <div class="row-button" [class.active]="addPlaceMode" (click)="addPlaceMode = !addPlaceMode" style="padding-left: 10px;">
            <label i18n>Neuen Standort hinzufügen</label>
            <div class="fill-space"></div>
            <button color="primary" *ngIf="!addPlaceMode" mat-icon-button>
              <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>
            </button>
            <button color="primary" *ngIf="addPlaceMode" mat-mini-fab style="box-shadow: none; margin-left: auto;">
              <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>
            </button>
          </div>
        </app-side-toggle>
      </div>
    </app-input-card>
  </div>
</div>

<ng-template #dataTemplate>
  <app-data-table [columns]="dataColumns" [rows]="dataRows"></app-data-table>
</ng-template>

<ng-template #placePreviewTemplate>
  <div *ngIf="selectedPlace">
    <b>{{ selectedPlace.properties?.name }}</b>
    <ng-container *ngIf="selectedPlace.properties?.attributes">
      <div *ngFor="let item of selectedPlace.properties.attributes | keyvalue">
        {{item.key}}: <i>{{item.value}}</i>
      </div>
    </ng-container>
    <br>
    <div *ngFor="let service of selectedInfrastructure?.services">
      <b>Kapazitäten {{service.name}}</b>
      <table>
        <tr *ngFor="let capacity of getPlaceCapacities(selectedPlace, service); let i = index;">
          <td *ngIf="i===0" style="width: 80px;">Startjahr</td>
          <td *ngIf="i>0">ab {{capacity.fromYear}} </td>
          <td>{{capacity.capacity}} {{(capacity.capacity === 1)? service.capacitySingularUnit: service.capacityPluralUnit}}</td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</ng-template>

<ng-template #attributesEditTemplate>
  <table id="place-attr-table">
    <tr>
      <th>Name des Attributs</th>
      <th>Attributtyp</th>
      <th>Einheit</th>
      <th style="width: 1%; text-align: center;">
        sensible Information
      </th>
      <th></th>
    </tr>
    <tr>
      <td class="not-first-child">
        <input disabled value="Name">
      </td>
      <td>
        <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
          <mat-select disabled value="Zeichenkette">
            <mat-option value="Zeichenkette">
              Zeichenkette
            </mat-option>
          </mat-select>
        </mat-form-field></td>
      <td></td><td></td>
    </tr>
    <tr *ngFor="let field of editFields">
      <td class="not-first-child"><input [(ngModel)]="field.name"></td>
      <td>
        <mat-form-field class="small" appearance="outline" style="margin-right: 10px;">
          <mat-select [disabled]="!field.edit"
                      [value]="field.fieldType.id"
                      (selectionChange)="field.fieldType = getFieldType($event.value);">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.id">
              {{fieldType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <ng-container *ngIf="field.fieldType.ftype !== 'STR'">
          <input  [(ngModel)]="field.unit">
        </ng-container>
      </td>
      <td style="text-align: center;">
        <mat-checkbox color="primary"
                      [(ngModel)]="field.sensitive">
        </mat-checkbox>
      </td>
      <td>
        <button mat-button color="warn"
                class="mat-button-dv"
                (click)="removeField(field)"
                title="Attribut entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="addField()"
                style="margin-top: 10px"
                title="Attribut hinzufügen" i18n>
          <mat-icon>add</mat-icon>Attribut hinzufügen
        </button>
      </td>
      <td>
        <button mat-button color="primary"
                class="mat-button-dv"
                (click)="editClassifications()"
                style="margin-top: 10px"
                title="Klassifikationen (Attributtypen) bearbeiten" i18n>
          <mat-icon>edit</mat-icon>Klassifikationen
        </button>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #editClassificationsTemplate>
  <app-classifications [classifications]="fieldTypes"></app-classifications>
</ng-template>
